<template name="generalSettings">
  <div class="settings-section">
    <h4>Company Name</h4>
    <p>This will change the name of your company across RealTimeCRM for every user.</p>
    <form id="tenantNameForm">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your organisation name..." value="{{tenant.name}}">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Update</button>
            </span>
        </div>
    </form>
  </div>
  <div class="settings-section">
    <h4>Currency</h4>
    <p>This will change the default currency used across RealTimeCRM for every user.</p>
    <select id="currencySelect" class="selectpicker" >
        <option value="gbp" {{setSelected userCurrency 'gbp'}}> GBP - £</option>
        <option value="eur" {{setSelected userCurrency 'eur'}}> EUR - €</option>
        <option value="usd" {{setSelected userCurrency 'usd'}}> USD - $</option>
    </select>
  </div>
</template>