.po-list-item {
	transition: all ease-in-out 0.1s;
	min-height: 41px;
}
.po-list-item-item {
	padding-left: 0;
	padding-bottom: 5px;
}
.po-list-item h4.list-group-item-heading {
	margin-bottom: 0;
}
.po-list-item .faded-text {
	color: #555;
	text-align: center;
}
.items-sep {
	margin-top: -2px;
	border-top: 1px dashed #a9a9a9;
	padding: 0;
	background-color: #F5F5F5;
	height: 0;
	overflow:hidden;
	opacity: 0;
	transition: all ease-in-out 0.1s;
}
.items-sep.visible {
	padding: 5px 0;
	margin-top: 8px;
  margin-bottom: -10px;
	opacity: 1;
	height: auto;
}