<template name="displayCalendar">
  {{> fullcalendar calendarOptions}}
</template>

<template name="taskPopover">
  <strong>Due date</strong>: {{start}}
  <p>Description: {{ #if description }}{{description}}{{ else }}<i>No description available</i>{{ /if }}</p>
  <p><a href="{{pathFor route='task' id=__originalId}}">See tasks details</a> - <a href="#" class="popover-edit-task" id="{{__originalId}}">Edit tasks</a></p>
</template>

<template name="quickCalendarAddPopover">
  <ul class="list-unstyled">
    <h5>Add task on {{date}}</h5>
    <li><a href="#" class="quick-add-task" id="user">Personal Task</a></li>
    <li><a href="#" class="quick-add-task" id="company">Company Task</a></li>
    <li><a href="#" class="quick-add-task" id="contact">Contact Task</a></li>
    <li><a href="#" class="quick-add-task" id="opportunity">Opportunity Task</a></li>
    <li><a href="#" class="quick-add-task" id="project">Project Task</a></li>
  </ul>
</template>