#taskContainer{
  padding-top:0px;
}
#entityTaskList #taskContainer {
  max-height: 260px;
  overflow: auto;
}

#displayedTaskHeading{
  cursor: pointer;
}

#taskContainer > .panel{
  margin:3px;
}

#taskContainer .placeholder-text {
  border: none;
}