<template name="insertNewTask">
  <div class="modal fade" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Add new task</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Tasks" id="newTaskModal" type="insert"}}
          {{> afQuickField name="title" id="taskTitle"}}
          {{> afQuickField name="description" rows=5 id="taskDescription"}}
          {{> afQuickField name="dueDate" id="taskDueDate" type="bootstrap-datetimepicker"}}
          {{#if isUserTask}}
            {{> afQuickField name="assigneeId" id="taskUserList"  value=getCurrentUserId options=usersAsOptions}}
          {{else}}
            {{> afQuickField name="assigneeId" id="taskUserList" options=usersAsOptions}}
          {{/if}}
          {{> afQuickField name="entityType" value=getEntityType type='hidden' }}
          {{> afQuickField name="entityId" value=getEntityId type='hidden'}}
          <button type="submit" class="btn btn-primary">Create</button> {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="updateTask">
  <div class="modal fade" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Edit task</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Tasks" id="editTaskModal" type="update" doc=this}}
          {{> afQuickField name="title" id="taskTitle"}}
          {{> afQuickField name="description" rows=5 id="taskDescription"}}
          {{> afQuickField name="dueDate" id="taskDueDate" type="bootstrap-datetimepicker"}}
          <!-- {{> afQuickField name="assigneeId"          id="taskUserList" options=usersAsOptions}}  -->

            {{> afQuickField name="assigneeId" id="taskUserList" options=usersAsOptions}}

          {{> afQuickField name="completed" id="taskCompleted"}}
          <button type="submit" class="btn btn-primary ">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="taskDisplay">
  <div class="panel panel-default" id='entityTaskList'>
    <div class="panel-heading" id="tasks">
      {{#if isDashboard}}My {{/if}}Tasks
      {{#if isInRole 'Administrator,CanCreateTasks'}}
      <a href="#" id="btnAddTaskToEntity" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New task to be completed"><i class="fa fa-fw fa-plus"></i> Add {{#if isDashboard}} personal {{/if}} task</a>
      {{/if}}
    </div>
    <ul class="list-group" id='taskContainer'>
      {{#each tasks}} {{> taskDisplayItem}} {{else}}
      <li class="list-group-item">No tasks added</li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="taskDisplayItem">
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-fw fa-check"></i>
      <span data-toggle="collapse" data-parent="#accordion" href="#collapseTask{{_id}}" id="displayedTaskHeading">{{title}}</span>
      <div class="btn-group pull-right">
        {{#if isInRole 'Administrator,CanEditTasks'}}
        <button class="btn btn-info btn-xs" id="btnEditEntityTask" type="button">
          Edit task
        </button>
        {{/if}}
        {{#if isInRole 'Administrator,CanDeleteTasks'}}
        <button class="btn btn-danger  btn-xs" id="btnDeleteEntityTask" type="button">
          Delete task
        </button>
        {{/if}}
        
      </div>
    </div>
    <div id="collapseTask{{_id}}" class="panel-collapse collapse displayedTaskBody">
      <div class="panel-body">
        <div class="row">
          {{#if isDashboard}}
          <div class="col-md-9 userDataDisplay">
            {{entityDetails}}
          </div>
          <div class="col-md-3 userDataDisplay">
            Due: {{friendlyDate}}
          </div>
          {{else}}
          <div class="col-md-12 userDataDisplay">
            Due: {{friendlyDate}}
          </div>
          {{/if}}
        </div>
        <div class="row">
          {{#if description}}
          <div class="col-md-12">
            <p>
              {{description}}
            </p>
          </div>

          {{else}}
          <div class="col-md-12 userDataDisplay">
            <p>
              No description provided.
            </p>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
