<template name="task">
{{#if entityDetails.permissionToRead}}
  <a class="list-group-item" href="{{pathFor route='task' id=taskId}}" id="list-item">
    <div class="row">
      <div class="col-md-{{#if showEntityDetail}}3{{else}}6{{/if}}">
        <div class="pull-left" id="completed">
        {{#if isInRole 'CanEditTasks'}}
          {{#if completed}}
            <span class="fa-stack fa-1x task-green task-completed">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          {{else}}
            <span class="fa-stack fa-1x task-completed">
              <i class="fa fa-check fa-stack-1x"></i>
              <i class="fa fa-circle-thin fa-stack-2x"></i>
            </span>
          {{/if}}
        {{else}}
          {{#if completed}}
            <span class="fa-stack fa-1x task-green">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
          {{else}}
            <span class="fa-stack fa-1x">
              <i class="fa fa-check fa-stack-1x"></i>
              <i class="fa fa-circle-thin fa-stack-2x"></i>
            </span>
          {{/if}}
        {{/if}}
        </div>
        <h4 class="list-group-item-heading">{{title}}</h4>
      </div>
      {{#if showEntityDetail}}
      <div class="col-md-3">
          <span class="fa fa-fw fa-{{entityDetails.icon}}"></span> {{entityDetails.name}}
      </div>
      {{/if}}
      <div class="col-md-3">
        Assignee: {{taskAssignee}}<br>
        {{#if completed}}
          Completed on {{formattedCompletionDate}}
        {{else}}
          {{#if formattedDueDate}}Due {{formattedDueDate}}{{/if}}
        {{/if}}
        {{#if parentTaskId}}
          <br>
          Parent Task: {{taskParentName}}
        {{/if}}
      </div>
      <div class="col-md-3">
        {{> tagBadges tags=tags index=index pullRight=true}}
      </div>
    </div>
  </a>
{{/if}}
</template>
