#task-container {
  padding-top: 0;
}

li.list-group-item.task {
  padding: 8px 15px;
}

.task-title {
  cursor: pointer;
}

.task-completed {
  display: inline-block;
  margin-right: 5px;
}

.task-completed > input {
  margin-top: -3px;
  display: inline-block;
}

.task-date, .task-tags {
  margin-right: 10px;
}

.task-entity {
  padding-left: 10px;
  color: #555;
  font-style: italic;
}
