<template name="taskList">
  {{setPageTitle 'Tasks'}}
  <h1><i class="fa fa-fw fa-check"></i> Tasks</h1>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="well well-sm">
        <div class="btn-group">
          <button class="btn btn-danger btn-xs" id="tskDeleteAllCompleted">Delete all completed</button>
        </div>

        <div class="btn-group pull-right">
          <button type="button" class="btn btn-primary btn-xs" id="tskToggleCompleted" >
            {{#if showComp}}Hide{{else}}Show{{/if}} Completed
          </button>
        </div>
      </div>

      <ul class="list-group" id='tskEntryContainer'>
        {{#each tasks}} {{> taskListEntry}} {{else}}
        <li class="list-group-item">No tasks added</li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="taskListEntry">
  <li class="list-group-item" id='tskListEntry'>
    <div class="row">
      <div class="col-md-2">
        <i class="fa fa-fw fa-tasks"></i> {{title}}
      </div>
      <div class="col-md-4 userDataDisplay">
        {{entityDetails}}
      </div>
      <div class="col-md-2 userDataDisplay">
        Due: {{friendlyDate}}
      </div>
      <div class="col-md-2 ">
        {{#if isCompleted}}<i class="fa fa-fw fa-check text-success"></i> Completed {{else}}<i class="fa fa-fw fa-times text-danger"></i> Not yet completed {{/if}}
      </div>
      <div class="col-md-2">
        <div class="btn-group pull-right">
          <button class="btn btn-info btn-xs" id="tskEditTaskListEntry" type="button">
            Edit task
          </button>
          <button class="btn btn-danger  btn-xs" id="tskDeleteTaskListEntry" type="button">
            Delete task
          </button>
        </div>
      </div>
    </div>
  </li>
</template>
