.fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 900;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  border-radius: 50%;
  background: #0e5e98;
  border: none;
  box-shadow: 2px 2px 7px #888;
}
.fab.add {
  background: #0e5e98;
}
.fab.edit {
  background: #00acc1;
}
.fab i {
  color: #fff;
  font-size: 20px;
  padding-bottom: 15px;
  position: relative;
  left: 17px;
}