<template name="mergeModal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Merge company details with...</h4>
        </div>

        <div class="modal-body">
            <label for="select-entity">Company</label>
            <input type="text" id="select-entity" placeholder="Select a company..." />
        </div>

        <div class="modal-footer">
          <button id="initiateMerge" role="button" class="btn btn-primary">Merge</button>
        </div>

      </div>
    </div>
  </div>
</template>