<template name="taskItem">
  <li class="list-group-item task-item">
    <button class="pull-left task-checkbox">
      <i class="fa fa-check {{#if task.completed}}green{{/if}}"></i>
    </button>
    <a href="{{pathFor route='task' id=task._id}}">
      <div class="task-left">
        <span class="task-title">{{task.title}}</span>
      </div>

      <div class="task-right">
        {{#if task.completed}}
          <span class="task-date green">Completed on {{formattedCompletionDate}}</span>
        {{else}}
          {{#if task.assigneeId}}
            <span class="task-assignee"><i>{{taskAssignee}}</i></span>
          {{/if}}
          {{#if formattedDueDate}}
            <span class="task-date {{taskStatusCss}}">Due {{formattedDueDate}}</span>
          {{/if}}
        {{/if}}
        {{> tagBadges tags=task.tags pullRight=false}}
      </div>
    </a>
  </li>
</template>