<template name="milestoneControl">
  <div class="milestone-control-buttons pull-right hidden-xs">
    <button class="btn btn-primary btn-sm" id="prevMilestone" disabled="{{#if isFirstStep}}disabled{{/if}}">Previous Milestone</button>
    <button class="btn btn-primary btn-sm" id="nextMilestone" disabled="{{#if isLastStep}}disabled{{/if}}">Next Milestone</button>
  </div>
  <!-- <div class="stepwizard hidden-xs"> -->
  <!-- <div class="stepwizard-row"> -->
  <!-- {{#each milestones}} -->
  <!-- {{> milestone}} -->
  <!-- {{/each}} -->
  <!-- </div> -->
  <!-- </div> -->
</template>

<!-- <template name="milestone"> -->
<!-- <div class="stepwizard-step {{#if isCurrentStep}}active-step{{/if}}" data-toggle="tooltip" data-placement="bottom" title="{{description}}"> -->
<!-- <button type="button" class="btn btn-default btn-circle" disabled="disabled"></button> -->
<!-- <p>{{name}}</p> -->
<!-- </div> -->
<!-- </template> -->
