.typesInfo{
  padding-top:3px;
  padding-left:8px;
  margin-bottom: -2px;
}
.ptButtons{
  margin-top: -3px;
}
.projectTypeEntry{
  padding: 5px 5px 0 5px;
}
.projectMilestoneEntry{
  margin: 0 5px 0 5px;
}
.milestoneList{
  margin-top: -10px;
}
