<template name="projectAdmin">
  <h4>Project Administration</h4>
  <p>
    Below are your configured project types and the milestones for each. To add a new project type, click <a href="#" id="addProjectType">here</a>.
  </p>
  {{#each projectTypes}}
    {{> projectType}}
  {{/each}}
</template>

<template name="projectType">
  <div class="projectTypeEntry">
    <div class="well well-sm ">
      <div class="ptButtons pull-right">
        <a class="btn btn-success btn-xs" href="#" id="addMilestone">
          <i class="fa fa-fw fa-plus"></i>
          Add Milestone</a>
        <a class="btn btn-info btn-xs" href="#" id="editType">
          <i class="fa fa-fw fa-pencil"></i>
          Edit</a>
        <a class="btn btn-danger btn-xs" href="#" id="removeType">
          <i class="fa fa-fw fa-times"></i>
          Delete</a>
      </div>
      {{name}}
    </div>

    <div class="projectTypeMilestones">
      <ul class="list-group milestoneList">
        {{#each milestones}}
          {{> projectMilestone}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="projectMilestone">
<li class="list-group-item projectMilestoneEntry">
  <div class="btn-group pull-right">
    <a class="btn btn-info btn-xs" href="#" id="editMilestone">
      <i class="fa fa-fw fa-pencil"></i>
      Edit</a>
    <a class="btn btn-danger btn-xs" href="#" id="removeMilestone">
      <i class="fa fa-fw fa-times"></i>
      Delete</a>
  </div>
  {{name}}
</li>
</template>
