<template name="insertNewCompanyModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new company</h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
              <label for="companyName" class="control-label">Search for Company Name</label>
              <div class="input-group">
                <input type="text" id="companyName" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" id="magic-search"><i class="fa fa-fw fa-magic"></i></button>
                </span>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-default" type="button" id="manual-fill" style="display: none;">Fill Manually</button>
            </div>
            <div id="resultsList" style="display: none;">
              {{#if resultsTotal}}
                {{#if moreThanTen}}10 of {{/if}}{{resultsTotal}} results found:
                <ul>
                  {{#each resultsList}}
                  <li><small><a href="#" class="magic-result" id="{{id}}">{{name}}, {{location}}</a></small></li>
                  {{/each}}
                </ul>
              {{else}}
                <em>No results found</em>
              {{/if}}
            </div>
            <div id="details-wrapper" style="display:none;">
            {{#autoForm collection="Companies" id="insertNewCompanyForm" type="insert"}}
              {{> afQuickField name="name"}}
              {{> afQuickField name="website"}}
                <div class="form-group">
                  <label for="geo" class="control-label">Search for Address, City, etc.</label>
                  <input type="text" id="geo" class="form-control" autocomplete="off" />
                </div>
                <div id="address_details" style="display:none;">
                  {{> afQuickField name="address" id="formatted_address"}}
                  {{> afQuickField name="address2"}}
                  {{> afQuickField name="city" data-geo="locality"}}
                  {{> afQuickField name="county" data-geo="administrative_area_level_2"}}
                  {{> afQuickField name="postcode" data-geo="postal_code"}}
                  {{> afQuickField name="country" data-geo="country"}}
                  {{> afQuickField name="lat" data-geo="lat"}}
                  {{> afQuickField name="lng" data-geo="lng"}}
                  {{#if isDesktop}}
                    <div id="map_wrapper" class="form-group" style="display: none;">
                      <label class="control-label">Map (drag marker to adjust position)</label>
                      <div id="map_canvas"></div>
                      <span class="help-block"></span>
                    </div>
                  {{/if}}
                </div>
              {{> afQuickField name="phone"}}
              {{> afQuickField name="createdBy" value=currentUser }}
              <button type="submit" class="btn btn-primary" id="btnCreate" style="display: none;">Create</button>
            {{/autoForm}}
            </div>
        </div>

      </div>
    </div>
  </div>
</template>

<template name="editCompanyModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Edit company details</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Companies" id="editCompanyForm" type="update" doc=this}}
            {{> afQuickField name="name"}}
            {{#if isDesktop}}
            <div class="form-group"><a href="#" class="btn btn-default btn-sm" id="show-map">New location search</a></div>
            <div id="map_wrapper" class="form-group" style="display: none;">
              <div class="form-group">
                <label for="geo" class="control-label">Search for Address, City, etc.</label>
                <input type="text" id="geo" class="form-control" autocomplete="off" />
              </div>
              <label class="control-label">Map (drag marker to adjust position)</label>
              <div id="mapModal_canvas"></div>
              <span class="help-block"></span>
            </div>
            {{/if}}
            {{> afQuickField name="address" id="formatted_address"}}
            {{> afQuickField name="address2"}}
            {{> afQuickField name="city" data-geo="locality"}}
            {{> afQuickField name="county" data-geo="administrative_area_level_2"}}
            {{> afQuickField name="postcode" data-geo="postal_code"}}
            {{> afQuickField name="country" data-geo="country"}}
            {{> afQuickField name="lat" data-geo="lat"}}
            {{> afQuickField name="lng" data-geo="lng"}}
            {{> afQuickField name="website"}}
            {{> afQuickField name="phone"}}
            <button type="submit" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
