<template name="companyDetail">
  {{#with companyData}} {{setPageTitle "Company - " name }}
  <div class="row">
    <div class="col-md-2 hidden-sm hidden-xs">
      <div class="sidebar">

        <h1 id="action-side-bar">Actions</h1>

        <ul class="nav nav-stacked">
          <li><a href="#company-details">Company details</a></li>
          <li><a href="#contacts">Contacts</a></li>
          <li><a href="#projects">Current Projects</a></li>
          <li><a href="#activity-timeline">Activity timeline</a></li>
        </ul>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Use Word template
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="template-upload-link">Select word template</a></li>
            <li class="divider"></li>
            <li><a href="#" id="template-help">How does this work?</a></li>
          </ul>
        </div>
        <input type="file" id="template-upload" style="display:none;">

      </div>
    </div>

    <div class="col-md-6">
      <h4 class="entity-title">
        <span class="pull-right">{{> companyLogo url=website class="logo-large img-rounded"}}</span>
        Company
      </h4>
      <h1 id="company-details" class="entity-name">{{name}}</h1>

      {{> tagInput}}

      <div class="panel panel-default" id="company-details-panel">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            {{#if isInRole 'Administrator,CanEditCompanies'}}
            <button id="edit-company" class="btn btn-info btn-xs">Edit company details</button>{{/if}}
            {{#if isInRole 'Administrator,CanDeleteCompanies'}}
            <a href="#" id="remove-company" class="btn btn-danger btn-xs">Delete company</a>{{/if}}
          </div>
          Company details
        </div>
        <ul class="list-group">
          {{#if website}}
          <a href="{{website}}" data-toggle="tooltip" data-placement="bottom" title="Navigate to this website" target="_blank" class="list-group-item">
            <i class="fa fa-fw fa-laptop"></i> {{website}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{/if}} {{#if phone}}
          <a href="{{phoneHref phone}}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="">
            <i class="fa fa-fw fa-phone"></i> {{phone}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{/if}}
        </ul>
      </div>

      {{#if isInRole 'Administrator,CanReadContacts'}}
      <div class="panel panel-default">
        <div class="panel-heading" id="contacts">
          Contacts {{#if isInRole 'Administrator,CanCreateContacts'}}
          <a href="#" id="add-contact" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New contact for this company"><i class="fa fa-fw fa-plus"></i>Add contact</a> {{/if}}
        </div>
        <ul class="list-group">
          {{#each contacts}}
          <a href="{{pathFor route='contact' id=_id}}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Navigate to this contact">
            <i class="fa fa-fw fa-user"></i> {{title}} {{forename}} {{surname}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{else}}
          <li class="list-group-item">No contacts added</li>
          {{/each}}
        </ul>
      </div>
      {{/if}} {{#if isInRole 'Administrator,CanReadProjects'}}
      <div class="panel panel-default">
        <div class="panel-heading" id="projects">
          Projects {{#if isInRole 'Administrator,CanCreateProjects'}}
          <a href="#" id="add-project" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New project for this company"><i class="fa fa-fw fa-plus"></i> Add project</a> {{/if}}
        </div>
        <ul class="list-group">
          {{#each projects}}
          <a href="{{pathFor route='project' id=_id}}" class="list-group-item">
            <i class="fa fa-fw fa-files-o"></i> {{description}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a> {{else}}
          <li class="list-group-item">No projects</li>
          {{/each}}
        </ul>
      </div>
      {{/if}} {{#if isInRole 'Administrator,CanReadPurchaseOrders'}}
      <div class="panel panel-default">
        <div class="panel-heading" id="purchase-orders">
          Purchase Orders <!--{{#if isInRole 'Administrator,CanCreatePurchaseOrders'}}
           <a href="#" id="add-purchase-order" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New purchase order for this company"><i class="fa fa-fw fa-plus"></i> Add purchase order</a> {{/if}} -->
        </div>
        <ul class="list-group">
          {{#each purchaseOrders}}
          <a href="{{pathFor route='purchaseOrder' id=_id}}" class="list-group-item">
            <i class="fa fa-fw fa-shopping-cart"></i> {{description}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>{{else}}
          <li class="list-group-item">No purchase orders</li>
          {{/each}}
        </ul>
      </div>
      {{/if}} {{#if isInRole 'Administrator,CanReadTasks'}} {{#with this}} {{> taskDisplay entity_type="company" entity_id=_id}} {{/with}} {{/if}}

      <div>
        {{#if isInRole 'Administrator,CanEditCompanies'}} {{#with this}} {{> customFieldDisplay entity_data=this entity_type='company'}} {{/with}} {{/if}}
      </div>


      {{#if isInRole 'Administrator,CanReadOpportunities'}}
      <div class="panel panel-default">
        <div class="panel-heading" id="opportunities">
          Opportunities
          {{#if isInRole 'Administrator,CanCreateOpportunities'}}
          <a href="#" id="add-opportunity" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New opportunity for this company"><i class="fa fa-fw fa-plus"></i> Add opportunity</a>
          {{/if}}
        </div>
        <ul class="list-group">
          {{#each opportunities}}
          <a href="{{pathFor route='opportunity' id=_id}}" class="list-group-item">
            <i class="fa fa-fw fa-files-o"></i> {{name}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{else}}
          <li class="list-group-item">No opportunities</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>

    <div class="col-md-4">
      {{> publicCompanyInformation}}
      <h1>Address</h1>
      {{> map title=mapTitle address=mapAddress}}
    </div>

  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h1 id="activity-timeline">
        Activity Timeline
        <a href="#" class="btn btn-primary pull-right" id="add-activity" data-toggle="tooltip" data-placement="bottom" title="New activity for this company"><i class="fa fa-fw fa-plus"></i> Add activity</a>
      </h1>

      {{> activityTimeline activities=activities}}
    </div>
  </div>

  {{> autoformModals}} {{/with}}
</template>
