<template name="companyListItem">
  <a class="list-group-item clearfix" href="{{pathFor route='company' id=__originalId}}" id='mchCompany'>
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-4">
        <span class="pull-left">
          {{> companyLogo url=website class="img-circle logo-small" showPlaceholder=true}}
        </span>
        <h4 class="list-group-item-heading">{{name}}</h4> <p class="list-group-item-text"></p>
      </div>
      <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <i class="fa fa-fw fa-map-marker"></i> {{#if address}}{{address}},{{/if}} {{#if city}}{{city}},{{/if}} {{#if postcode}}{{postcode}},{{/if}} {{country}}
      </div>
      <div class="hidden-xs hidden-sm hidden-md col-lg-2">
        {{#if website}}<i class="fa fa-fw fa-globe"></i> <a href="{{website}}" target="_blank">{{shortWebsite}}</a><br>{{/if}}
        {{#if phone}}<i class="fa fa-fw fa-phone"></i> {{phone}}{{/if}}
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{> tagBadges tags=tags index=index pullRight=true}}
      </div>
    </div>
  </a>
</template>

