<template name="companyList">

  {{setPageTitle 'Companies'}}

  <div class="row" id="company-list">
    <div class="col-md-3">
      <div class="sidebar">
        <h1>Actions</h1>
        {{> esInput index="companies" placeholder="search..." allDocsOnEmpty=true reactive=false class="form-control"}} {{#if isInRole 'Administrator,CanCreateCompanies'}}
        <div class="btn-group-vertical">
          <button type="submit" class="btn btn-primary" id="add-company"><i class="fa fa-fw fa-plus"></i> Add new company</button>
        </div>
        {{/if}}
      </div>
    </div>

    <div class="col-md-9">

      <h1 id="companies-page-header"><i class="fa fa-building"></i> Companies</h1>
      <small>{{companyCount}} record{{#if hasMultipleCompanies}}s{{/if}}</small>

      {{#if hasCompanies}}
      <div class="list-group" id="mchCompanyList">
        {{#ifEsIsSearching index="companies"}} {{> spinner}} {{else}} {{#esEach index="companies"}} {{> companyListItem}} {{/esEach}} {{> esLoadMoreButton index="companies" class="btn btn-default"}} {{/ifEsIsSearching}}
      </div>

      {{else}}
      <br />
      <h4 style="color:gray;" id="mchNoCompaniesPlaceholder">No companies</h4>
      {{/if}}
    </div>
  </div>

</template>

<template name="companyListItem">
  <a class="list-group-item clearfix" href="{{pathFor route='company' id=_id}}" id='mchCompany'>
    <span class="pull-left">
      {{> companyLogo url=website class="img-circle logo-small" showPlaceholder=true}}
    </span>
    <span class="pull-right">{{> tagBadges}}</span>
    <h4 class="list-group-item-heading">{{name}}</h4> <p class="list-group-item-text"><i class="fa fa-fw fa-map-marker"></i> {{city}}, {{country}}</p>
  </a>

</template>

<template name="wordHelpModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Help on templates</h4>
        </div>
        <div class="modal-body">
          <p>You can create a template by using Word, creating a new document, populating it with your content and include Keywords that RealTime recognises which will allow RealTime to personalise and fill your template for you. You can then upload your
            template whenever you need to use it and save time.</p>
          <p>Keywords which are recognised by RealTime:</p>
          <ul>
            <li>{name} - Company name</li>
            <li>{address} - 1st line of company address</li>
            <li>{city} - Company's city / town</li>
            <li>{county} - Company's county / state</li>
            <li>{postcode} - Company's postcode / zip</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="importCompanyHelpModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Importing with templates</h4>
        </div>
        <div class="modal-body">
          <p>Importing companies couldn't be simpler:</p>
          <ol type="1">
            <li>Download the template that we've provided.</li>
            <li>Fill it with your data. The first row indicates what to put where. Please don't alter this line, or the import will fail.</li>
            <li>Click the Import option.</li>
            <li>Select the completed file and press the Open button.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>
