<template name="insertNewCompanyModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new company</h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
              {{#if isMobile}}<label for="companyName" class="control-label">Search for Company Name or Website</label>{{/if}}
                <input type="text" id="companyName" class="form-control" placeholder="{{#unless isMobile}}Search for Company Name or Website{{/unless}}">
            </div>
            {{#if showDuplicationWarning}}
              <div class="form-group" id="duplicationWarning">
                <small class="text-warning">You already have a company record with that name. Clicking <strong>Create</strong> will create a different record with the same name.</small>
              </div>
            {{/if}}
            {{#if fetchingResults}}
              {{> loadingSmall }}
              <!-- <div class="text-center"><i class="fa fa-lg fa-circle-o-notch fa-spin"></i></div> -->
            {{else}}
              {{#if showResultsList}}
                {{> resultsListTemplate resultsTotal=resultsTotal resultsList=resultsList}}                
              {{/if}}
            {{/if}}
            <div class="text-right">
                ...or 
              <button class="btn btn-default" type="button" id="manual-fill">Fill Manually</button>
            </div>

            {{#if showDetails}}
              {{> companyFormDetails companyData=companyData}}
            {{/if}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="resultsListTemplate">
  {{#if resultsTotal}}
    <p>Pre-fill from matching company:</p>
    <ul>
      {{#each resultsList}}
      <li><small><a href="#" class="magic-result" id="{{id}}">{{name}}, {{location}}</a></small></li>
      {{/each}}
    </ul>
  {{else}}
    <em>No results found</em>
  {{/if}}
</template>

<template name="companyFormDetails">
{{#autoForm collection="Companies" id="insertNewCompanyForm" type="insert"}}
  {{> afQuickField name="name" value=companyName}}
  {{> afQuickField name="website" value=website}}

  {{#unless manualAddressEntry}}
  <div class="form-group {{#if showLocationSearch}}show{{else}}hidden{{/if}}">
    <label for="geo" class="control-label">Search for Address, City, etc.</label>
    <input type="text" id="geo" class="form-control" autocomplete="off" />
  </div>
  {{/unless}}

  {{#if showAddressDetails}}
    <p><br>Address</p>
    <p><strong>{{formattedAddress}}, {{city}}, {{county}}, {{country}}, {{postcode}}</strong></p>
    <p>Not quite right? Search for a <a href="#" id="newLocationSearch">different address</a> or <a id="manualAddressEntry" href="#">enter one manually</a><br><br></p>
    {{#if isDesktop}}
      {{#if showMap}}
        {{> mapPicker lat=lat lng=lng}}
      {{/if}}
    {{/if}}
  {{/if}}

  
  <div class="{{#unless manualAddressEntry}}hidden{{/unless}}">
    {{> afQuickField name="address" value=formattedAddress}}
    {{> afQuickField name="address2"}}
    {{> afQuickField name="city" data-geo="locality" value=city}}
    {{> afQuickField name="county" data-geo="administrative_area_level_2" value=county}}
    {{> afQuickField name="postcode" data-geo="postal_code" value=postcode}}
    {{> afQuickField name="country" data-geo="country" value=country}}
    {{> afQuickField name="lat" data-geo="lat" value=lat}}
    {{> afQuickField name="lng" data-geo="lng" value=lng}}
  </div>
  
  {{> afQuickField name="phone" value=phone}}
  {{> afQuickField name="createdBy" value=currentUser }}
  <button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
{{/autoForm}}
</template>

<template name="mapPicker">
  <div id="map_wrapper" class="form-group">
    <label class="control-label">Map (drag marker to adjust position)</label>
    <div id="map_canvas"></div>
    <span class="help-block"></span>
  </div>
</template>
