<template name="companyList">

  {{setPageTitle 'Companies'}}

  <div class="row" id="company-list">
    <div class="col-md-12">
      <h1 id="companies-page-header"><i class="fa fa-building"></i> Companies</h1>

      <!-- This should probably be refactored into a "search toolbar" template -->
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-3">
            {{> EasySearch.Input index=CompaniesIndex attributes=searchInputAttributes}}
          </div>
          <div class="col-md-3">
            {{> tagSearch collection='companies' }}
          </div>
          <div class="col-md-3">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" id="export" data-toggle="tooltip" title="Export results to CSV" data-placement="bottom"><i class="fa fa-fw fa-download"></i></button>
              {{> companyDataManagement}}
            </div>
          </div>
          <div class="col-md-3 text-right">
            {{#if isInRole 'Administrator,CanCreateCompanies'}}
              <button type="button" class="btn btn-primary" id="add-company" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+C"><i class="fa fa-fw fa-plus"></i> Add company</button>
            {{/if}}
          </div>
        </div>
      </div>

      {{> searchResults index=CompaniesIndex listItemTemplateName='companyListItem'}}

    </div>
  </div>

</template>

<template name="wordHelpModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Help on templates</h4>
        </div>
        <div class="modal-body">
          <p>You can create a template by using Word, creating a new document, populating it with your content and include Keywords that RealTime recognises which will allow RealTime to personalise and fill your template for you. You can then upload your
            template whenever you need to use it and save time.</p>
          <p>Keywords which are recognised by RealTime:</p>
          <ul>
            <li>{name} - Company name</li>
            <li>{address} - 1st line of company address</li>
            <li>{city} - Company's city / town</li>
            <li>{county} - Company's county / state</li>
            <li>{postcode} - Company's postcode / zip</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
