<template name="createTaskHelper">
  <div class="taskSettings">
    
    <div class="row">
      <div class="col-md-10" id="helperLabel">
        Create a follow-up task from this activity?
      </div>
      <div class="col-md-1" id="helperToggle">
        <input id="create-task-toggle" checked type="checkbox" />
      </div>
    </div>

    <div class="row" id="helperContent">
    <div class="col-md-6" id="helperLabel">
        Task reminder date
      </div>
      <div class="col-md-6">
        <input class="taskdatetimepicker taskdate form-control" type="text"/>
      </div>
    </div>

    <br />
  </div>
</template>