<template name="updateFavourite">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <div class="input-group" id="favouriteNameGroup">
            <input type="text" class="form-control" id="favouriteName" placeholder="Enter a value...">
            <span class="input-group-btn">
              <button class="btn btn-primary" id="update-favourite" type="button">Update</button>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
