<template name="projectOverviewWidget">
  <div>
    <span id="#ref_projectOverviewWidget" data-toggle="popover" title="Projects Overview" data-content="
    <div><ul class='list-unstyled'>
      <li>Projects:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalProjects}}</span></li>
      <li>Active projects:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{activeProjects}}</span></li>
      <li>Active projects total value:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>£{{activeProjectTotal}}</span></li>
      <li>Active projects average value:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>£{{activeProjectsAverage}}</span></li></ul>
    </div>">
    <button class="btn btn-md"><i class="fa fa-fw fa-tasks"></i>&nbsp;Overview</button></span>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({html : true, placement : "bottom"});
    });
  </script>
</template>
