<template name="insertProductModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new product</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Products" id="insertProductForm" type="insert"}}
            {{> afQuickField name="name" id="name-field"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="description" rows=3}}
            {{else}}
              {{> afQuickField name="description" type="medium" class="form-control medium-editor" id="desc-field"}}
            {{/if}}
            {{> afQuickField name="price"}}
            {{> afQuickField name="cost"}}
            {{> afQuickField name="sequencedIdentifier"}}
            {{> afQuickField name="createdBy" value=currentUser type="hidden"}}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
