<template name="productDetail">
  {{#with productData}} {{setPageTitle "Product - " name}}
  <div class="row">
    <div class="col-md-12">
      {{> breadcrumbs parentPath="/products" parentName="Products" recordName=breadcrumbName }}
      <h1 id="product-name" class="entity-name">{{name}}</h1>

      {{> tagInput tags=tags collection='products' entityId=_id permissionToEdit='CanEditProducts'}}

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            {{#if isInRole 'CanEditProducts'}}
              {{#unless isMobile}}
            <a href="#" id="edit-product" class="btn btn-info btn-xs"><i class="fa fa-fw fa-pencil"></i>Edit</a>
              {{/unless}}
            {{/if}}
              {{#if isInRole 'CanDeleteProducts'}}
            <a href="#" id="delete-product" class="btn btn-danger btn-xs"><i class="fa fa-fw fa-times"></i>Delete</a>
            {{/if}}
          </div>
          Product details</div>
        <ul class="list-group">
          {{#if name}}
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-file-o"></i> Name</h4>
            {{name}}
          </li>
          {{/if}}
          {{#if desc}}
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-align-left"></i> Description</h4>
            {{{desc}}}
          </li>
          {{/if}}
          {{#if price}}
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-credit-card"></i> Sale Price</h4>
            {{decimal price}}
          </li>
          {{/if}}
          {{#if cost}}
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-{{userCurrency}}"></i> Cost Price</h4>
            {{decimal cost}}
          </li>
          {{/if}}
        </ul>
      </div>

      <div>
        {{#if isInRole 'CanEditProducts'}}{{#with this}} {{> customFieldDisplay entity_data=this entity_type='product'}} {{/with}}{{/if}}
      </div>

      {{> documentContainer collectionName="products" id=this._id permissionRequired="CanEditProducts"}}

    </div>
  </div>

  {{#if isInRole 'CanEditProducts'}}
    {{#if isMobile}}
      <div class="fab edit" id="fab">
        <i class="fa fw-fa fa-pencil"></i>
      </div>
    {{/if}}
  {{/if}}

  {{/with}}
</template>

<template name="editProductModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Update product</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Products" id="editProductForm" type="update" doc=this}}
            {{> afQuickField name="name" id="name-field"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="description"}}
            {{else}}
              {{> afQuickField name="description" type="medium" class="form-control medium-editor" id="desc-field"}}
            {{/if}}
    
            <div class="form-group">
              <label for="sale-price" class="control-label">Sale Price</label>
              <div class="input-group">
                <span class="input-group-addon">{{userCurrencySymbol}}</span>
                <input type="number" name="price" id="sale-price" data-schema-key="price" step="0.01" class="form-control" value={{this.price}}>
              </div>
              <span class="help-block"></span>
            </div>

            <div class="form-group">
              <label for="cost-price" class="control-label">Cost Price</label>
              <div class="input-group">
                <span class="input-group-addon">{{userCurrencySymbol}}</span>
                <input type="number" name="cost" id="cost-price" data-schema-key="cost" step="0.01" class="form-control" value={{this.cost}}>
              </div>
              <span class="help-block"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
