<template name="productList">
  {{setPageTitle 'Products'}}

  <div class="row">
    <div class="col-md-12">
      <h1><i class="fa fa-fw fa-barcode"></i> Products</h1>

      <!-- This should probably be refactored into a "search toolbar" template -->
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-4">
            {{> EasySearch.Input index=ProductsIndex attributes=searchInputAttributes}}
          </div>
          <div class="col-md-2" id="btn-group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" id="export" data-toggle="tooltip" title="Export results to CSV" data-placement="bottom"><i class="fa fa-fw fa-download"></i></button>
              <button id="#ref_productsOverviewWidget" class="btn btn-default" data-toggle="popover" title="Products Overview" data-content="
              <table class='table table-no-border'>
                <tbody>
                  <tr>
                    <td>Products:</td>
                    <td class='text-right'>{{totalProducts}}</td>
                  </tr>
                  <tr>
                    <td>Total cost:</td>
                    <td class='text-right'>£{{totalProductsCost}}</td>
                  </tr>
                  <tr>
                    <td>Average cost:</td>
                    <td class='text-right'>£{{averageProductsCost}}</td>
                  </tr>
                </tbody>
              </table>">
              <i class="fa fa-fw fa-tasks"></i></button>
            </div>
          </div>
          <div class="col-md-3">
            {{#if isInRole 'Administrator,CanCreateProducts'}}
              <a class="btn btn-primary" id="add-product" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+R"><i class="fa fa-plus"></i> Add product</a>
            {{/if}}
          </div>
        </div>
      </div>

      {{> searchResults index=ProductsIndex listItemTemplateName='productListItem'}}

    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({html : true, placement : "bottom", container: '#btn-group'});
    });
  </script>
  {{> autoformModals}}
</template>

<template name="productListItem">
  <a class="list-group-item product-item" href="{{pathFor route='product' id=__originalId}}">
    <div class="row">
      <div class="col-md-4">
        <h4 class="list-group-item-heading">{{name}}</h4>
      </div>
      <div class="col-md-3">
        {{#if price}}
          <i class="fa fa-fw fa-credit-card"></i> Sales Price: £{{decimal price}}
        {{/if}}
      </div>
      <div class="col-md-3">
        {{#if cost}}
          <i class="fa fa-fw fa-gbp"></i> Cost Price: £{{decimal cost}}
        {{/if}}
      </div>
    </div>
  </a>
</template>
