<template name="productList">
  {{setPageTitle 'Products'}}

  <div class="row">
    <div class="col-md-3 sidebar">
      <h1>Actions</h1>
      {{> esInput index="products" placeholder="search..." allDocsOnEmpty=true class="form-control"}}
      <div class="btn-group-vertical">{{#if isInRole 'Administrator,CanCreateProducts'}}
        <a class="btn btn-primary" id="add-product">
          <i class="fa fa-plus"></i> Add product
        </a>
        {{/if}}
      </div>
    </div>
    <div class="col-md-9">
      <h1><i class="fa fa-fw fa-barcode"></i> Products</h1>
      <div class="pull-right">
        {{> esPagination index="products"}}
      </div>
      <small>{{productCount}} record{{#if hasMultipleProducts}}s{{/if}}</small>

      <div class="list-group">
        {{#esEach index="products"}}
          {{> productListItem}}
        {{/esEach}}

        {{#ifEsHasNoResults index="products"}}
          <h4>No products found</h4>
        {{/ifEsHasNoResults}}

        {{#ifEsIsSearching index="products"}}
          {{> spinner}}
        {{/ifEsIsSearching}}
      </div>
      <div class="pull-right">
        {{> esPagination index="products"}}
      </div>
    </div>
  </div>

  {{> autoformModals}}
</template>

<template name="productListItem">
  <a class="list-group-item product-item" href="{{pathFor route='product' id=_id}}">
    <h4 class="list-group-item-heading">{{name}}</h4>
  </a>
</template>
