<template name="productList">
  {{setPageTitle 'Products'}}

  <div class="row">
    <div class="col-md-12">
      <h1><i class="fa fa-fw fa-barcode"></i> Products</h1>
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-3">
            {{> EasySearch.Input index=ProductsIndex attributes=searchInputAttributes}}
          </div>
          {{#if isInRole 'Administrator,CanCreateProducts'}}
          <div class="col-md-3">
            <a class="btn btn-primary{{#if isMobile}} btn-fullWidth{{/if}}" id="add-product" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+R"><i class="fa fa-plus"></i> Add product</a>
          </div>
          {{/if}}
          <div class="col-md-6">
            {{> productsOverviewWidget}}
          </div>
        </div>
      </div>
      <small>{{productCount}} record{{#if hasMultipleProducts}}s{{/if}}</small>
      <div class="list-group">
        {{#EasySearch.Each index=ProductsIndex}}
          {{> productListItem}}
        {{/EasySearch.Each}}

        {{#EasySearch.IfNoResults index=ProductsIndex}}
          <h4>No products found</h4>
        {{/EasySearch.IfNoResults}}

        {{#EasySearch.IfSearching index=ProductsIndex}}
          {{> spinner}}
        {{/EasySearch.IfSearching}}

        {{> loadMore index=ProductsIndex}}
      </div>
    </div>
  </div>

  {{> autoformModals}}
</template>

<template name="productListItem">
  <a class="list-group-item product-item" href="{{pathFor route='product' id=__originalId}}">
    <div class="row">
      <div class="col-md-4">
        <h4 class="list-group-item-heading">{{name}}</h4>
      </div>
      <div class="col-md-3">
        {{#if price}}
          <i class="fa fa-fw fa-credit-card"></i> Sales Price: £{{decimal price}}
        {{/if}}
      </div>
      <div class="col-md-3">
        {{#if cost}}
          <i class="fa fa-fw fa-gbp"></i> Cost Price: £{{decimal cost}}
        {{/if}}
      </div>
    </div>
  </a>
</template>
