<template name="subtaskList">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            {{#if isInRole 'CanCreateTasks'}}
              <a href="#" id="create-sub-task" class="btn btn-info btn-xs"><i class="fa fa-fw fa-plus"></i> Create sub-task</a>
            {{/if}}
          </div>
          Sub-tasks
        </div>

        <ul class="list-group">
        {{#each subtasks}}
          {{> subtaskItem}}
        {{else}}
          <li class="list-group-item">No sub-tasks</li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="subtaskItem">
    <a href="{{pathFor route='task' id=_id}}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Navigate to sub-task's details">
    {{#if subtaskCompleted}}
      <span class="fa-stack fa-1x task-green sub-task-completed">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
      </span>
      {{else}}
      <span class="fa-stack fa-1x sub-task-completed">
      <i class="fa fa-check fa-stack-1x"></i>
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      </span>
    {{/if}} {{subtaskName}}
    </a>
</template>
