<!-- companyDetailsForm - use for creating company details -->
<template name="companyDetailsForm">
  {{#autoForm collection="Companies" id="insertNewCompanyForm" type="insert"}}
    {{> afQuickField name="name" value=companyName}}
    <a id="search-again" href="#">Search again</a>
    {{> afQuickField name="website" value=website}}

    {{> locationPicker companyData=companyData}}

    {{> afQuickField name="phone" value=phone}}
    {{> afQuickField name="createdBy" value=currentUser }}
    {{> afQuickField name="companiesHouseId" value=companiesHouseId }}
    <button type="submit" class="btn btn-primary" id="btnCreate">Create</button>
  {{/autoForm}}
</template>
