<template name="purchaseOrderListItem">
  <a class="list-group-item" href="{{pathFor route='purchaseOrder' id=__originalId}}" id="list-item">
    <div class="row">
      <div class="col-md-4">
        <h4 class="list-group-item-heading">{{description}}</h4>
        {{#if orderNumber}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-square-o"></i> PO Number: {{orderNumber}}</p>
        {{/if}}
      </div>
      <div class="col-md-4">
        {{#if supplierCompany}}
        <p class="list-group-item-text"><i class="fa fa-fw fa-building"></i>Supplier: {{supplierCompany.name}}</p>
        {{/if}}
        {{#if supplierContact}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-user"></i> Supplier Contact: {{supplierContact.name}}</p>
        {{/if}}
      </div>
      <div class="col-md-4">
        {{#if totalValue}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-{{userCurrency}}"></i> Total Price: {{decimal totalValue}}</p>
        {{/if}}
        {{#if status}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-question"></i> Status: {{status}}</p>
        {{/if}}
      </div>
    </div>
  </a>
</template>
