<template name="newPurchaseOrderForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5><i class="fa fa-plus"></i> Add purchase Order</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="newPurchaseOrderForm" type="insert"}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="supplierCompanyId" id="selectedSupplier" options=companiesAsOptions}}
            {{#if showContacts}}
              {{> afQuickField name="supplierContactId" id="companyContacts" options=contactsAsOptions }}
            {{/if}}
            {{> afQuickField name="projectId" options=projectsAsOptions }}
            {{> afQuickField name="supplierReference" }}
            {{> afQuickField name="userId" type="hidden" value=currentUser}}
            {{> afQuickField name="status" options="allowed"}}
            {{> afQuickField name="orderDate" type="hidden" type="bootstrap-datetimepicker" value=currentDateTime }}
            {{> afQuickField name="paymentMethod" options="allowed"}}
            {{> afQuickField name="notes"}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <p>Items can be added on the purchase order details page</p>
            <br />
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="newCompanyPurchaseOrderForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>New Purchase Order</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="newPurchaseOrderForm" type="insert"}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="supplierCompanyId" id="selectedSupplier" options=companiesAsOptions value=supplierCompanyId type="hidden"}}
            {{#if showContacts}}
              {{> afQuickField name="supplierContactId" id="companyContacts" options=contactsAsOptions }}
            {{/if}}
            {{> afQuickField name="projectId" options=projectsAsOptions }}
            {{> afQuickField name="supplierReference" }}
            {{> afQuickField name="userId" type="hidden" value=currentUser}}
            {{> afQuickField name="status" options="allowed"}}
            {{> afQuickField name="orderDate" type="hidden" type="bootstrap-datetimepicker" value=currentDateTime }}
            {{> afQuickField name="paymentMethod" options="allowed"}}
            {{> afQuickField name="notes"}}
            {{> afQuickField name="createdBy" value=currentUser }}

            <h4>
              <span class="label label-success center-block">Items can be added in the Purchase Order Details screen </span>
            </h4>
            <br />

            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>


<template name="newContactPurchaseOrderForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>New Purchase Order</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="newPurchaseOrderForm" type="insert"}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="supplierCompanyId" type="hidden"}}
            {{> afQuickField name="supplierContactId" id="companyContacts" value=supplierContactId type="hidden" }}
            {{> afQuickField name="projectId" options=projectsAsOptions }}
            {{> afQuickField name="supplierReference" }}
            {{> afQuickField name="userId" type="hidden" value=currentUser}}
            {{> afQuickField name="status" options="allowed"}}
            {{> afQuickField name="orderDate" type="hidden" type="bootstrap-datetimepicker" value=currentDateTime }}
            {{> afQuickField name="paymentMethod" options="allowed"}}
            {{> afQuickField name="notes"}}
            {{> afQuickField name="createdBy" value=currentUser }}

            <h4>
              <span class="label label-success center-block">Items can be added in the Purchase Order Details screen </span>
            </h4>
            <br />

            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="updatePurchaseOrderFormModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Edit Purchase Order</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="updatePurchaseOrderForm" type="update" doc=this}}

            {{> afQuickField name="description"}}
            {{> afQuickField name="supplierCompanyId" id="selectedSupplier" options=companiesAsOptions}}
            {{#if showContacts}}
              {{> afQuickField  name="supplierContactId" id="companyContacts" options=contactsAsOptions }}
            {{/if}}
            {{> afQuickField name="projectId" options=projectsAsOptions }}
            {{> afQuickField name="supplierReference" }}
            {{> afQuickField name="status" options="allowed"}}
            {{> afQuickField name="paymentMethod" options="allowed"}}
            {{> afQuickField name="notes"}}
            <button type="submit" class="btn btn-success">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="addPurchaseOrderItemModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Add item</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrderItems" id="addPurchaseOrderItem" type="insert"}}
            {{> afQuickField name="purchaseOrderId" type="hidden" value=project._id}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="productCode" }}
            {{> afQuickField name="currency" options="allowed"}}
            {{> afQuickField name="value" id="itemValue"}}
            {{> afQuickField name="quantity" id="currQuant"}}
            {{> afQuickField name="totalPrice" readonly=true id="activePrice" }}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="editPurchaseOrderItemModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Edit item</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrderItems" id="editPurchaseOrderItem" type="update" doc=this}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="productCode" }}
            {{> afQuickField name="currency" options="allowed"}}
            {{> afQuickField name="value" id="itemValue"}}
            {{> afQuickField name="quantity" id="currQuant"}}
            {{> afQuickField name="totalPrice" readonly=true id="activePrice"}}
            <button type="submit" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
