<template name="newPurchaseOrderForm">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new purchase order</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="newPurchaseOrderForm" type="insert"}}
            {{> afQuickField name="description" id="description" rows=3}}
            {{> esSelectize name="supplierCompanyId" index=CompaniesIndex}}
            {{> esSelectize name="supplierContactId" index=ContactsIndex parent="supplierCompanyId" filter="filterCompanyId"}}
            {{> afQuickField name="supplierReference" id="supRef"}}
            {{> afQuickField name="userId" type="hidden" value=currentUser}}
            {{> afQuickField name="status" options="allowed" value="Requested" type="hidden"}}
            {{> afQuickField name="orderDate" type="hidden" type="bootstrap-datetimepicker" value=currentDateTime }}
            {{> afQuickField name="paymentMethod" options="allowed" id="payMethod"}}
            {{> afQuickField name="notes" id="notes"}}
            <!-- {{> afQuickField name="sequencedIdentifier"}} -->
            {{> afQuickField name="createdBy" value=currentUser }}
            <p>Items can be added on the purchase order details page</p>
            <br>
            <button type="submit" class="btn btn-primary" id="create-purchase-order">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="newCompanyPurchaseOrderForm">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new purchase order</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="newPurchaseOrderForm" type="insert"}}
            {{> afQuickField name="description" id="description" rows=3}}
            {{> afQuickField name="supplierCompanyId" type="hidden" value=supplierCompanyId}}
            {{> afQuickField type="text" readonly=true label="Supplier Company" value=supplierCompanyName}}
            {{> esSelectize name="supplierContactId" index=ContactsIndex parent="supplierCompanyId" filter="filterCompanyId"}}
            {{> afQuickField name="supplierReference" id="supRef"}}
            {{> afQuickField name="userId" type="hidden" value=currentUser}}
            {{> afQuickField name="status" options="allowed" value="Requested" type="hidden"}}
            {{> afQuickField name="orderDate" type="hidden" type="bootstrap-datetimepicker" value=currentDateTime }}
            {{> afQuickField name="paymentMethod" options="allowed" id="payMethod"}}
            {{> afQuickField name="notes" id="notes"}}
            <!-- {{> afQuickField name="sequencedIdentifier"}} -->
            {{> afQuickField name="createdBy" value=currentUser }}
            <p>Items can be added on the purchase order details page</p>
            <br />
            <button type="submit" class="btn btn-primary" id="create-purchase-order">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>


<template name="newContactPurchaseOrderForm">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new purchase order</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="newPurchaseOrderForm" type="insert"}}
            {{> afQuickField name="description" rows=3}}
            {{#if supplierCompanyId}}
              {{> afQuickField type="text" label="Supplier Company" readonly=true value=supplierCompanyName}}
              {{> afQuickField name="supplierCompanyId" type="hidden" value=supplierCompanyId}}
            {{/if}}
            {{> afQuickField type="text" label="Supplier Contact" readonly=true value=supplierContactName}}
            {{> afQuickField name="supplierContactId" type="hidden" value=supplierContactId}}
            {{> afQuickField name="supplierReference" }}
            {{> afQuickField name="userId" type="hidden" value=currentUser}}
            {{> afQuickField name="status" options="allowed" value="Requested" type="hidden"}}
            {{> afQuickField name="orderDate" type="hidden" type="bootstrap-datetimepicker" value=currentDateTime }}
            {{> afQuickField name="paymentMethod" options="allowed"}}
            {{> afQuickField name="notes"}}
            <!-- {{> afQuickField name="sequencedIdentifier"}} -->
            {{> afQuickField name="createdBy" value=currentUser }}

            <p>Items can be added on the purchase order details page</p>
            <br />

            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="updatePurchaseOrderFormModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Edit purchase order</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="updatePurchaseOrderForm" type="update" doc=this}}

            {{> afQuickField name="description" rows=3}}
            {{#if supplierCompanyId}}
              {{> afQuickField type="text" label="Supplier Company" readonly=true value=supplierCompanyName}}
              {{> afQuickField name="supplierCompanyId" type="hidden" value=supplierCompanyId}}
            {{/if}}
            {{#if supplierContactId}}
              {{> afQuickField type="text" label="Supplier Contact" readonly=true value=supplierContactName}}
              {{> afQuickField name="supplierContactId" type="hidden" value=supplierContactId}}
            {{/if}}
            {{> afQuickField name="supplierReference" }}
            {{> afQuickField name="status" options="allowed" id="poStatus" firstOption=false}}
            {{> afQuickField name="paymentMethod" options="allowed"}}
            {{> afQuickField name="notes"}}
            <button type="submit" class="btn btn-primary" id="update-purchase-order">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="addPurchaseOrderItemModal">
  <div class="modal"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new purchase order item</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrderItems" id="addPurchaseOrderItem" type="insert"}}
            {{> afQuickField name="purchaseOrderId" type="hidden" value=purchaseOrder._id}}
            {{> afQuickField name="description" id="description" rows=3}}
            {{> afQuickField name="productCode" id="code"}}
            {{> afQuickField name="status" options="allowed" id="status"}}
            {{> afQuickField name="value" id="itemValue" }}
            {{> afQuickField name="quantity" id="currQuant"}}
            {{> afQuickField name="totalPrice" readonly=true id="activePrice" }}
            {{#if purchaseOrder.supplierCompanyId}}
              <input type="hidden" id="supplierCompanyId" value="{{purchaseOrder.supplierCompanyId}}">
              {{> esSelectize name="projectId" index=ProjectsIndex }}
            {{else}}
              <input type="hidden" id="supplierContactId" value="{{purchaseOrder.supplierContactId}}">
              {{> esSelectize name="projectId" index=ProjectsIndex }}
            {{/if}}
            {{> afQuickField name="createdBy" value=currentUser}}
            <button type="submit" class="btn btn-primary" id="add-item-to-po">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="editPurchaseOrderItemModal">
  <div class="modal"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Edit purchase order item</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrderItems" id="editPurchaseOrderItem" type="update" doc=purchaseOrderItem}}
            {{> afQuickField name="description" id="description" rows=3}}
            {{> afQuickField name="productCode" id="code"}}
            {{> afQuickField name="status" options="allowed" id="status"}}
            {{> afQuickField name="value" id="itemValue"}}
            {{> afQuickField name="quantity" id="currQuant"}}
            {{> afQuickField name="totalPrice" readonly=true id="activePrice"}}
            {{#if purchaseOrder.supplierCompanyId}}
              <input type="hidden" id="supplierCompanyId" value="{{purchaseOrder.supplierCompanyId}}">
              {{> esSelectize name="projectId" index=ProjectsIndex value=purchaseOrderItem.projectId}}
            {{else}}
              <input type="hidden" id="supplierContactId" value="{{purchaseOrder.supplierContactId}}">
              {{> esSelectize name="projectId" index=ProjectsIndex value=purchaseOrderItem.projectId}}
            {{/if}}
            <button type="submit" class="btn btn-primary" id="update-po-item">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
