<template name="purchaseOrderList">

  {{setPageTitle 'Purchase Orders'}}

  <div class="row">
    <div class="col-md-12" id="purchase-order-list">
      <h1><i class="fa fa-shopping-cart"></i> Purchase Orders</h1>

      <!-- This should probably be refactored into a "search toolbar" template -->
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-4">
            {{> EasySearch.Input index=PurchaseOrdersIndex attributes=searchInputAttributes}}
          </div>
          <div class="col-md-2" id="btn-group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" id="export" data-toggle="tooltip" title="Export results to CSV" data-placement="bottom"><i class="fa fa-fw fa-download"></i></button>
              <button id="#ref_poOverviewWidget" class="btn btn-default" data-toggle="popover" title="Purchase Orders Overview" data-content="
              <div><dl>
                <dt>Purchase Orders:</dt>
                  <dd>{{totalPurchaseOrders}}</dd>
                <dt>Approved:</dt>
                  <dd>{{totalApprovedPo}}</dd>
                <dt>Arrived:</dt>
                  <dd>{{totalArrivedPo}}</dd>
                <dt>Closed:
                  <dd>{{totalClosedPo}}</dd>
                <dt>Cancelled:
                  <dd>{{totalCancelledPo}}</dd>
                <dt>Rejected:</dt>
                  <dd>{{totalRejectedPo}}</dd>
                <dl>
              </div>">
              <i class="fa fa-fw fa-tasks"></i></button>
            </div>
          </div>
          <div class="col-md-3">
            {{#if isInRole 'Administrator,CanCreatePurchaseOrders'}}
              <a href="#" id="add-purchase-order" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+P"><i class="fa fa-fw fa-plus"></i>Add purchase order</a>
            {{/if}}
          </div>
        </div>
      </div>

      {{> searchResults index=PurchaseOrdersIndex listItemTemplateName='purchaseOrderListItem'}}

    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({html : true, placement : "bottom", container: "#btn-group"});
    });
  </script>
</template>
