<template name="purchaseOrderList">

    {{setPageTitle 'Purchase Orders'}}

  <div class="row">
    <div class="col-md-2">
      <div class="sidebar">
        <h1>Actions</h1>
        {{> esInput index="purchaseorders" placeholder="search purchase orders..." allDocsOnEmpty=true reactive=false class="form-control"}}
        <div class="btn-group-vertical">
          <a href="#" id="add-purchase-order" class="btn btn-primary">Add purchase order</a>
        </div>
      </div>
    </div>

    <div class="col-md-10" id="purchase-order-list">
      <h1><i class="fa fa-shopping-cart"></i> Purchase Orders</h1>

      <div class="col-md-10">
        {{#if hasPurchaseOrders}}
        <div class="list-group">
          {{#ifEsIsSearching index="purchaseorders"}} {{> spinner}} {{else}} {{#esEach index="purchaseorders"}} {{> purchaseOrderListItem}} {{/esEach}} {{> esLoadMoreButton index="purchaseorders" class="btn btn-default"}} {{/ifEsIsSearching}}
        </div>
        {{else}}
        <br />
        <h4 style="color:gray;">No purchase orders</h4>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="purchaseOrderListItem">
  <a class="list-group-item" href="{{pathFor route='purchaseOrder' id=_id}}">
    <h4 class="list-group-item-heading"><i class="fa fa-fw fa-shopping-cart"></i> {{description}}</h4>
    {{#if companyName}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-building"></i> {{companyName}}</p>
    {{/if}} {{#if contactName}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-user"></i> {{contactName}}</p>
    {{/if}} {{#if project}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-files-o"></i> {{projectName}}</p>
    {{/if}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-question"></i> Status: {{status}}</p>
  </a>
</template>
