<template name="purchaseOrderList">

  {{setPageTitle 'Purchase Orders'}}

  <div class="row">
    <div class="col-md-12" id="purchase-order-list">
      <h1><i class="fa fa-shopping-cart"></i> Purchase Orders</h1>
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-3">
            {{> esInput index="purchaseorders" placeholder="search..." allDocsOnEmpty=true class="form-control"}}
          </div>
          {{#if isInRole 'Administrator,CanCreatePurchaseOrders'}}
          <div class="col-md-3">
            <a href="#" id="add-purchase-order" class="btn btn-primary{{#if isMobile}} btn-fullWidth{{/if}}"><i class="fa fa-fw fa-plus"></i>Add purchase order</a>
          </div>
          {{/if}}
        </div>
      </div>
      <small>{{purchaseOrderCount}} record{{#if hasMultiplePurchaseOrders}}s{{/if}}</small>

      <div class="list-group">
        {{#esEach index="purchaseorders"}}
          {{> purchaseOrderListItem}}
        {{/esEach}}

        {{#ifEsHasNoResults index="purchaseorders"}}
          <h4>No purchase orders found</h4>
        {{/ifEsHasNoResults}}

        {{#ifEsIsSearching index="purchaseorders"}}
          {{> spinner}}
        {{/ifEsIsSearching}}
      </div>
      <div class="pull-right">
        {{> esPagination index="purchaseorders"}}
      </div>
    </div>
  </div>
</template>
