.quick-menu-icon {
  
  margin-top: 4px;
}

.quick-menu {
  position: fixed;
  z-index: 1000;
  width: 45px;
  left: 280px;
  overflow: hidden;
  text-align: left !important;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

.quick-menu:hover {
  width: 200px;
}

.quick-menu1 { 
  top: 75px;
}

.quick-menu2 { 
  top: 125px;
}

.quick-menu3 { 
  top: 175px;
}

.quick-menu4 { 
  top: 225px;
}

.quick-menu5 { 
  top: 225px;
}

.quick-menu6 { 
  top: 225px;
}

.quick-menu7 { 
  top: 225px;
}

.quick-menu8 { 
  top: 225px;
}

.quick-menu9 { 
  top: 225px;
}

.legend {
  display: none;
}

.quick-menu:hover .legend {
  z-index: 1001;
  margin-left: 20px;
  display: inline-block;
}