<template name="publicCompanyInformation">
{{#if hasMetadata}}{{#with metadata.clearbit}}
  <h1>Public information</h1>
  <ul class="list-group">
    {{#if description}}
    <li class="list-group-item panel-item-header">
      <h4><i class="fa fa-fw fa-align-left"></i> Description</h4>
      <p class="list-group-item-text">{{description}}</p>
    </li>
    {{/if}}
    {{#if category.sector}}
    <li class="list-group-item panel-item-header">
      <h4><i class="fa fa-fw fa-cubes"></i> Industry sector</h4>
      <p class="list-group-item-text">{{category.sector}}{{#if category.industryGroup}}/{{category.industryGroup}}{{/if}}{{#if category.industry}}/{{category.industry}}{{/if}}{{#if category.subIndustry}}/{{category.subIndustry}}{{/if}}</p>
    </li>
    {{/if}}
    {{#if linkedin.handle}}
    <a href="http://linkedin.com/{{linkedin.handle}}" title="View linkedin page" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-linkedin"></i> View on LinkedIn
      <i class="fa fa-fw fa-chevron-right pull-right"></i>
    </a>
    {{/if}}
    {{#if twitter.handle}}
    <a href="http://twitter.com/{{twitter.handle}}" title="View twitter page" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-twitter"></i> View on Twitter | {{twitter.followers}} followers | {{twitter.following}} following
      <i class="fa fa-fw fa-chevron-right pull-right"></i>
    </a>
    {{/if}}
    {{#if facebook.handle}}
    <a href="http://facebook.com/{{facebook.handle}}" title="View facebook page" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-facebook"></i> View on Facebook
      <i class="fa fa-fw fa-chevron-right pull-right"></i>
    </a>
    {{/if}}
  </ul>
{{/with}}{{/if}}
</template>
