<template name="opportunityAdmin">
  <div class="panel panel-default">
    <div class="panel-heading">
      Stage configuration
      <div class="pull-right">
        <button class="btn btn-primary btn-xs" id="btnAddStage"><i class="fa fa-fw fa-plus"></i> Add stage</button>
      </div>
    </div>
    <div class="opportunity-stage-container">
      {{#if hasStages}} {{#each stages}} {{> opportunityAdminStage}} {{/each}} {{/if}}
    </div>
  </div>
</template>

<template name="opportunityAdminStage">
  <li class="opportunity-stage">
    <div class="pull-right handle">
      <button class="btn btn-info btn-xs" id="btnEdit">Edit</button>
      <button class="btn btn-danger btn-xs" id="btnDelete">Delete</button>
      <span>
        <i class="fa fa-fw fa-arrow-up {{#if isFirstStage}}orderDisabled {{else}}orderEnabled orderUp{{/if}}" ></i>
      </span>
      <span>
        <i class="fa fa-fw fa-arrow-down {{#if isLastStage}}orderDisabled {{else}}orderEnabled orderDown{{/if}}" ></i>  
      </span>
    </div>
    <h4>{{title}} </h4>
    <p>{{description}}</p>
  </li>
</template>
