.opportunity-stage {
  list-style: none;
  border-top: 1px solid #ddd;
  background: #fff;
  padding: 10px 15px;
}
.opportunity-stage h4{
  margin-top:0;
}
.opportunity-stage p{
  margin-bottom:0;
}
.orderDisabled{
  color:#c7c7c7;
  cursor: pointer;
}
