#globalSearchBox {
  margin-bottom: -15px;
}
.-autocomplete-container a {
  display: block;
  text-decoration: none;
}
.-autocomplete-item {
  transition: 0.1s all ease-in-out;
}
.-autocomplete-item.selected {
  background: rgba(0,0,0,0.05)
}
.-autocomplete-item span.label{
  margin-right: 10px
}