<template name="projectDetail">
  {{#with projectData}}
    {{setPageTitle "Project - " name }}
    <div class="row">

      <div class="col-md-12">
      {{> breadcrumbs parentPath="/projects" parentName="Projects" recordName=breadcrumbName }}
        <div class="pull-right">
          <br>
          {{> milestoneControl}}
          <div class="clearfix"></div>
          <p class="pull-right">
              <a href="#" id="invertProjectState">Mark {{#unless isMobile}}project{{/unless}} {{inverseState}}</a>
            {{#if opportunityId}}
                | <a href="{{pathFor route='opportunity' id=opportunityId}}">View opportunity</a>
              {{/if}}
          </p>
        </div>

      <div class="watchlist-container">
        {{> watchlistAdmin entityData=this collection="projects"}}
      </div>
        <h1 class="entity-name" id="project-details">{{name}}</h1>

        <div id="d3-stage-chart"></div>

        {{> tagInput tags=tags collection='projects' entityId=_id permissionToEdit='CanEditProjects'}}

        {{> projectDetailsPanel }}

        <div>
          {{#if isInRole 'CanEditProjects'}}
            {{#with this}}
              {{> customFieldDisplay entity_data=this entity_type='project'}}
            {{/with}}
          {{/if}}
        </div>

        {{> documentContainer collectionName="projects" id=this._id permissionRequired="CanEditProjects"}}

        {{#if isInRole 'CanReadTasks'}}
          <div class="row">
            <div class="col-md-12">
              {{#with this}}
                {{> taskDisplay entity_type="project" entity_id=_id}}
              {{/with}}
            </div>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h1 id="activity-timeline">
          Activity Timeline
          <a class="btn btn-primary{{#unless isMobile}} pull-right{{/unless}}" data-placement="bottom" data-toggle="tooltip" href="#" id="add-activity" title="New activity for this project">
            <i class="fa fa-fw fa-plus"></i>
            Add activity</a>
        </h1>
        {{> activityTimeline activities=activities}}
      </div>
    </div>

    {{#if isInRole 'CanEditProjects'}}
      {{#if isMobile}}
        <div class="fab edit" id="fab">
          <i class="fa fw-fa fa-pencil"></i>
        </div>
      {{/if}}
    {{/if}}

    {{> autoformModals}}
  {{/with}}
</template>
