<template name="projectDetail">
  {{#with projectData}}
  {{setPageTitle "Project - " description }}
  <div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
      <div class="sidebar">
        <h1>Actions</h1>

        <ul class="nav nav-stacked">
          <li><a href="#project-details">Project details</a></li>
          <li><a href="#activity-timeline">Activity timeline</a></li>
        </ul>

      </div>
    </div>

    <div class="col-md-10">
      <h1 id="project-details">{{description}}</h1>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            {{!-- {{#afModal class="btn btn-info btn-xs" collection="Projects" doc=_id operation="update" formId="updateProjectForm" omitFields="projectId, companyId"}} Edit project details {{/afModal}} --}}
            <a href="#" id="edit-project" class="btn btn-info btn-xs">Edit project details</a>
            {{#afModal class="btn btn-danger btn-xs" collection="Projects" doc=_id operation="remove" formId="removeProjectForm"}} Delete project {{/afModal}}

          </div>
          Project details</div>
        <ul class="list-group">
          <a href="{{pathFor route='company' id=company._id}}" class="list-group-item">
            <i class="fa fa-fw fa-building"></i> Company: {{company.name}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{#if contactId}}
          <a href="{{pathFor route='contact' id=contact._id}}" class="list-group-item">
            <i class="fa fa-fw fa-user"></i> Contact: {{contactName}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{/if}} {{#if userId}}
          <li class="list-group-item">
            <i class="fa fa-fw fa-user"></i> Account Manager: {{managerName}}
          </li>
          {{/if}} {{#if value}}
          <li class="list-group-item">
            <i class="fa fa-fw fa-money"></i> Value: £{{decimal value}}
          </li>
          {{/if}}
        </ul>
      </div>
    </div>

    <div class="col-md-3">
    </div>

  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      {{#with this}} {{> taskDisplay entity_type="project" entity_id=_id}} {{/with}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h1 id="activity-timeline">
        Timeline
        <a href="#" class="btn btn-primary pull-right" id="add-activity"><i class="fa fa-plus"></i> Add activity</a>
      </h1>
      {{> activityTimeline activities=activities}}
    </div>
  </div>

  {{> autoformModals}}
  {{/with}}
</template>
