<template name="newProjectForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5><i class="fa fa-plus"></i> Add project</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Projects" id="newProjectForm" type="insert"}}
            {{> afQuickField name="description"}}

            {{> afQuickField name="companyId" id="selectedCompany" options=companiesAsOptions}}

            {{#if showContacts}}
              {{> afQuickField name="contactId" id="companyContacts" options=contactsAsOptions }}
            {{/if}}

            {{> afQuickField name="userId" options=usersAsOptions}}

            {{> afQuickField name="value"}}

                        {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="updateProjectForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Update Project</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Projects" id="updateProjectForm" type="update" doc=this}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="contactId" id="companyContacts" options=contactsAsOptions }}
            {{> afQuickField name="userId" options=usersAsOptions}}
            {{> afQuickField name="value"}}
            <button type="submit" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
