<template name="projectsList">

  {{setPageTitle 'Projects'}}

  <div class="row">

    <div class="col-md-12" id="project-list">
      <h1><i class="fa fa-sitemap"></i> Projects</h1>
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-3">
            {{> esInput index="projects" placeholder="search..." allDocsOnEmpty=true reactive=false class="form-control"}}
          </div>
        {{#if isInRole 'Administrator,CanCreateProjects'}}
          <div class="col-md-3">
            <a href="#" id="add-project" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add project</a>
          </div>
        {{/if}}
        </div>
      </div>
      <div class="pull-right">
        {{> esPagination index="projects"}}
      </div>
      <small>{{projectCount}} record{{#if hasMultipleProjects}}s{{/if}}</small>

      <div class="list-group">
        {{#esEach index="projects"}}
          {{> projectListItem}}
        {{/esEach}}

        {{#ifEsHasNoResults index="projects"}}
          <h4>No projects found</h4>
        {{/ifEsHasNoResults}}

        {{#ifEsIsSearching index="projects"}}
          {{> spinner}}
        {{/ifEsIsSearching}}
      </div>
      <div class="pull-right">
        {{> esPagination index="projects"}}
      </div>
    </div>
  </div>
</template>
