<template name="newProjectForm">
  <div class="modal fade" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5> Add new project</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Projects" id="newProjectForm" type="insert"}}
            {{> afQuickField name="description"}}

            {{> afQuickField name="companyId" id="selectedCompany" options=companiesAsOptions}}

            {{#if showContacts}}
              {{> afQuickField name="contactId" id="companyContacts" options=contactsAsOptions }}
            {{/if}}

            {{> afQuickField name="userId" options=usersAsOptions}}

            {{> afQuickField name="value"}}

            {{> afQuickField name="dueDate" type="bootstrap-datetimepicker"}}

            {{> afQuickField name="staff" type="select-checkbox" options=usersAsOptions}}
            <!-- {{> afQuickField name="nextActionBy" options=usersAsOptions}} -->
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="newCompanyProjectForm">
  <div class="modal fade" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Add new project</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Projects" id="newProjectForm" type="insert"}}
            {{> afQuickField name="description"}}

            {{> afQuickField name="companyId" id="selectedCompany" value=companyId type="hidden"}}

            {{#if showContacts}}
              {{> afQuickField name="contactId" id="companyContacts" options=contactsAsOptions }}
            {{/if}}

            {{> afQuickField name="userId" options=usersAsOptions}}

            {{> afQuickField name="value"}}

            {{> afQuickField name="dueDate" type="bootstrap-datetimepicker"}}

            {{> afQuickField name="staff" type="select-checkbox" options=usersAsOptions}}
            <!-- {{> afQuickField name="nextActionBy" options=usersAsOptions}} -->
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="newContactProjectForm">
  <div class="modal fade" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Add new project</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Projects" id="newProjectForm" type="insert"}}
            {{> afQuickField name="description"}}

            {{> afQuickField name="companyId" id="selectedCompany" type="hidden" }}

            {{> afQuickField name="contactId" id="companyContacts" type="hidden" value=contactId}}

            {{> afQuickField name="userId" options=usersAsOptions}}

            {{> afQuickField name="status" options="allowed"}}
            {{> afQuickField name="value"}}
            {{> afQuickField name="dueDate" type="bootstrap-datetimepicker"}}

            {{> afQuickField name="staff" type="select-checkbox" options=usersAsOptions}}
            {{> afQuickField name="probability"}}
            {{> afQuickField name="lastActionDate" type="hidden" value=currentDateTime }}

            <!-- {{> afQuickField name="nextActionBy" options=usersAsOptions}} -->
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="updateProjectForm">
  <div class="modal fade" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Edit project</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Projects" id="updateProjectForm" type="update" doc=this}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="contactId" id="companyContacts" options=contactsAsOptions }}
            {{> afQuickField name="userId" options=usersAsOptions}}
            {{> afQuickField name="value"}}
            {{> afQuickField name="dueDate" type="bootstrap-datetimepicker"}}
            {{> afQuickField name="staff" type="select-checkbox" options=usersAsOptions}}
            <button type="submit" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
