<template name="projectsList">

  {{setPageTitle 'Projects'}}

  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <h1>Actions</h1>
        {{> EasySearch.Input index=ProjectsIndex attributes=searchInputAttributes}} {{#if isInRole 'Administrator,CanCreateProjects'}}
        <div class="btn-group-vertical">
          <a href="#" id="add-project" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add project</a>
        </div>
        {{/if}}
      </div>
    </div>

    <div class="col-md-9" id="project-list">
      <h1><i class="fa fa-sitemap"></i> Projects</h1>
      <div class="pull-right">
        {{> EasySearch.Pagination index=ProjectsIndex}}
      </div>
      <small>{{projectCount}} record{{#if hasMultipleProjects}}s{{/if}}</small>

      <div class="list-group">
        {{#EasySearch.Each index=ProjectsIndex}}
          {{> projectListItem}}
        {{/EasySearch.Each}}

        {{#EasySearch.IfNoResults index=ProjectsIndex}}
          <h4>No projects found</h4>
        {{/EasySearch.IfNoResults}}

        {{#EasySearch.IfSearching index=ProjectsIndex}}
          {{> spinner}}
        {{/EasySearch.IfSearching}}
      </div>
      <div class="pull-right">
        {{> EasySearch.Pagination index=ProjectsIndex}}
      </div>
    </div>
  </div>
</template>
