/*Time-Machine*/
.sk-spinner-rt.sk-spinner {
  background-color: none;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.sk-spinner-rt .sk-rt-light-inner-circle {
  display: block;
  background-color: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #C3DFFF;
  right: 9px;
  -webkit-animation: sk-rt-light 1.2s infinite ease-in-out;
  animation: sk-rt-light 1.2s infinite ease-in-out;
}

.sk-spinner-rt .sk-rt-medium-inner-circle {
  display: block;
  background-color: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #4FA0DB;
  -webkit-animation: sk-rt-medium 1.2s infinite ease-in-out;
  animation: sk-rt-medium 1.2s infinite ease-in-out;
}

.sk-spinner-rt .sk-rt-dark-inner-circle {
  display: block;
  background-color: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #1B4982;
  left: 9px;
  -webkit-animation: sk-rt-dark 1.2s infinite ease-in-out;
  animation: sk-rt-dark 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rt-light {
  0%, 80%, 100% {
    -webkit-transform: perspective(40) translate3d(0, 0, 0);
  }

  40%, 50% {
    -webkit-transform: perspective(40) translate3d(-10px, 0, 10px);
  }
}

@-webkit-keyframes sk-rt-dark {
  0%, 80%, 100% {
    -webkit-transform: perspective(40) translate3d(0, 0, 0);
  }

  40%, 50% {
    -webkit-transform: perspective(40) translate3d(10px, 0, -10px);
  }
}


/* Slide and rotate
.sk-spinner-rt.sk-spinner {
  background-color: none;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.sk-spinner-rt .sk-rt-light-inner-circle {
  display: block;
  background-color: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #C3DFFF;
  right: 8px;
  -webkit-animation: sk-rt-light 1.2s infinite ease-in-out;
  animation: sk-rt-light 1.2s infinite ease-in-out;
}

.sk-spinner-rt .sk-rt-medium-inner-circle {
  display: block;
  background-color: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #4FA0DB;
  -webkit-animation: sk-rt-medium 1.2s infinite ease-in-out;
  animation: sk-rt-medium 1.2s infinite ease-in-out;
}

.sk-spinner-rt .sk-rt-dark-inner-circle {
  display: block;
  background-color: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #1B4982;
  left: 8px;
  -webkit-animation: sk-rt-dark 1.2s infinite ease-in-out;
  animation: sk-rt-dark 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rt-light {
    10% {
        -webkit-transform: translateX(0px);
    }

    25% {
        -webkit-transform: translateX(-45px);   
    } 

    35% {
        -webkit-transform: translateX(-45px) scale3D(1,1,1);
    }

    50% {
        -webkit-transform: translateX(-45px) scale3D(0,1,1);
    }

    65% {
        -webkit-transform: translateX(-45px) scale3D(-1,1,1);
    }

    75% {
        -webkit-transform: translateX(-45px) scale3D(-1,1,1);
    }

    90% {
        -webkit-transform: translateX(0px) scale3D(-1,1,1);
    }

    100% {
        -webkit-transform: scale3D(-1,1,1);
    }
}

@-webkit-keyframes sk-rt-medium {
    40% {
        -webkit-transform: scale3D(1,1,1);
    }
    55% {
        -webkit-transform: scale3D(0,1,1);
    }

    80%, 100% {
        -webkit-transform: scale3D(-1,1,1);
    }
}

@-webkit-keyframes sk-rt-dark {
    10% {
        -webkit-transform: translateX(0px);
    }
    
    25% {
        -webkit-transform: translateX(45px);   
    } 

    45% {
        -webkit-transform: translateX(45px) scale3D(1,1,1);
    }

    60% {
        -webkit-transform: translateX(45px) scale3D(0,1,1);
    }

    75% {
        -webkit-transform: translateX(45px) scale3D(-1,1,1);
    }

    90% {
        -webkit-transform: translateX(0px) scale3D(-1,1,1);
    }

    100% {
        -webkit-transform: scale3D(-1,1,1);
    }
}*/

/*Rotating around center
@-webkit-keyframes sk-rt {
  0%, 90%, 100% {
    -webkit-transform: translateX(8px);
  }

  20% {
    -webkit-transform: translateX(50px);
  }

  35% {
    -webkit-transform: translateX(50px);
  }

  36% { 
    -webkit-transform: translateX(47px) translateY(-17px);
  }

  37% { 
    -webkit-transform: translateX(38px) translateY(-32px);
  }

  39% {
    -webkit-transform: translateX(25px) translateY(-43px);
  }

  41% {
   -webkit-transform: translateX(9px) translateY(-49px); 
  }

  43% {
   -webkit-transform: translateX(-9px) translateY(-50px); 
  }

  46% {
   -webkit-transform: translateX(-25px) translateY(-43px); 
  }

  50% {
    -webkit-transform: translateX(-38px) translateY(-32px);
  }

  54% {
    -webkit-transform: translateX(-47px) translateY(-17px);
  }

  59% {
    -webkit-transform: translateX(-50px);
  }

  70% {
    -webkit-transform: translateX(-50px);
  }
}*/

/*@keyframes sk-rt {
  0%, 100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  80% {
    -webkit-transform: scale(0.33);
    transform: scale(0.33);
  }
}*/
