.sk-spinner-rt {
  background-color: none;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 10px auto;
}

.sk-spinner-rt .sk-rt-light-inner-circle {
  display: block;
  background-color: none;
  width: 43px;
  height: 43px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #C3DFFF;
  right: 9px;
  top: -1px;
  -webkit-animation: sk-rt-rotate 2s ease-in-out infinite 0s;
  animation: sk-rt-rotate 2s ease-in-out infinite infinite 0s;
}

.sk-spinner-rt .sk-rt-medium-inner-circle {
  display: block;
  background-color: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #4FA0DB;
  -webkit-animation: sk-rt-rotate 2s ease-in-out infinite 0.5s;
  animation: sk-rt-rotate 2s ease-in-out infinite 0.5s;
}

.sk-spinner-rt .sk-rt-dark-inner-circle {
  display: block;
  background-color: none;
  width: 37px;
  height: 37px;
  position: absolute;
  border-radius: 40px;
  border: 4px solid #1B4982;
  left: 12px;
  top: 1px;
  -webkit-animation: sk-rt-rotate 2s ease-in-out infinite 1s;
  animation: sk-rt-rotate 2s ease-in-out infinite 1s;
}

@-webkit-keyframes sk-rt-rotate {
  50%, 100% {
    -webkit-transform:rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes sk-rt-rotate {
  50%, 100% {
    -webkit-transform:rotateY(360deg);
    transform: rotateY(360deg);
  }
}
