<template name="loading">
  <div id="loading-page">
    <div class="sk-spinner sk-spinner-rotating-plane loading-spinner"></div>
    <p class="loading-message">Loading...</p>
  </div>
</template>

<template name="loadingSmall">
  <div id="loading-small" class="sk-spinner sk-spinner-cube-grid">
    <div class="sk-cube sk-cube1 loading-spinner"></div>
    <div class="sk-cube sk-cube2 loading-spinner"></div>
    <div class="sk-cube sk-cube3 loading-spinner"></div>
    <div class="sk-cube sk-cube4 loading-spinner"></div>
    <div class="sk-cube sk-cube5 loading-spinner"></div>
    <div class="sk-cube sk-cube6 loading-spinner"></div>
    <div class="sk-cube sk-cube7 loading-spinner"></div>
    <div class="sk-cube sk-cube8 loading-spinner"></div>
    <div class="sk-cube sk-cube9 loading-spinner"></div>
  </div>
    <p class="loading-message">Getting data...</p>
</template>
