<template name="users">
  <div class="settings-section">
    <h4>Summary</h4>
    <p>{{tenantName}} has {{tenantUserCount}} user{{#if tenantHasMultipleUsers}}s{{/if}} on the <strong>{{tenantPlan}}</strong> Plan.</p>
  </div>

  <div class="settings-section">
    <h4>Current Users <a class="btn btn-xs btn-primary pull-right" id="add-user"><i class="fa fa-fw fa-plus"></i> Add user</a></h4>
    <p>Click on a user to change details, permissions and related settings.</p>
    <div class="list-group" id="user-list">
      {{#each tenantUsers}}
        {{> userDetailsLink}}
      {{/each}}
    </div>
  </div>
</template>