<template name="addNewUser">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">>
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new user</h4>
        </div>

        <div class="modal-body">
          {{#autoForm schema="Schemas.User" id="addNewUserForm" type="method" meteormethod="addTenantUser"}}
            {{> afQuickField name="name" autocomplete="off" id="addUserName"}}
            {{> afQuickField name="email" autocomplete="off" id="addUserEmail"}}
            {{> afQuickField name="password" type="hidden" value="default123"}}
            {{> afQuickField name="group" type="hidden" value="1"}}
            <button type="submit" class="btn btn-primary" id="createUser">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
