<template name="generalSettings">
  <div class="panel panel-primary" id="genSettingsPanel">
    <div class="panel-heading">
      <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#genSettings" id="genSettingsExpander">Settings</a>
    </div>
    <div class="panel-collapse collapse" id="genSettings">
      <div class="panel-body">

        <div class="well well-sm">
          <b>Company Name</b>:
          <form id="tenantNameForm">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter your organisation's name..." value="{{tenant.name}}">
                  <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit">Save</button>
                  </span>
              </div>
          </form>
        </div>

        <div class="well well-sm">
          <b>Telephone Number</b>:
          <form id="tenantPhoneForm">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter your telephone number..." value="{{phoneNumber}}">
                  <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit">Save</button>
                  </span>
              </div>
          </form>
        </div>

        <div class="well well-sm">
          <b>Currency</b>:
            <select id="currencySelect">
              <option value="gbp" {{setSelected userCurrency 'gbp'}}> GBP - £</option>
              <option value="eur" {{setSelected userCurrency 'eur'}}> EUR - €</option>
              <option value="usd" {{setSelected userCurrency 'usd'}}> USD - $</option>
            </select>
        </div>

      </div>
    </div>
  </div>
</template>
