<template name="addNewGlobalCustomField">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new custom field</h4>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="custom-field-name">Name</label>
              <input type="text" class="form-control" placeholder="Global custom field name" id="custom-field-name">
            </div>

            <label>Type</label>
            <div class="row">
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input checked id="typeText" name="cfType" type="radio">Text</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input id="typeAdvText" name="cfType" type="radio">Multiline Text</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input id="typeCheckbox" name="cfType" type="radio">Checkbox</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input id="typeDate" name="cfType" type="radio">Date/Time</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input id="typeLabel" name="cfType" type="radio">Label</label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input id="typePicklist" name="cfType" type="radio">Picklist</label>
                </div>
              </div>
            </div>

            <div class="form-group" id="text-input-area">
              <label for="custom-field-text-value">Default Text Value</label>
              <input type="text" class="form-control" placeholder="Global custom field value" id="custom-field-text-value">
            </div>
            <div class="form-group" id="advtext-input-area">
              <label for="custom-field-advtext-value">Multiline Text Value</label>
              <div class="editable mediumWrapper" id="custom-field-advtext-value"></div>
            </div>
            <div class="form-group" id="check-input-area">
              <label for="custom-field-check-value">Default True/False Value</label>
              <br />
              <input type="checkbox" placeholder="Global custom field value" id="custom-field-check-value"> Check this box to set the value of this custom field to true. Leave it blank for false values.
            </div>
            <div class="form-group datetimepicker" id="date-input-area">
              <label for="custom-field-date-value">Default Date Value</label>
              <input class="form-control" placeholder="Global custom field value" id="custom-field-date-value">
            </div>
            <div class="form-group" id="picklist-input-area">
              <label for="custom-field-picklist-value">List Values</label>
              <input id="custom-field-picklist-values">
            </div>

            <label for="select-entity">Target entity</label>
            <select id="select-entity" placeholder="Select an entity...">
              <option value="">Select an entity...</option>
              <option value="company">Company</option>
              <option value="contact">Contact</option>
              <option value="project">Project</option>
              <option value="product">Product</option>
            </select>
          </form>
        </div>

        <div class="modal-footer">
          <button id="createCustomField" role="button" class="btn btn-primary">Create</button>
        </div>

      </div>
    </div>
  </div>
</template>
