<template name="editTenantUserPermissions">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Edit user permissions</h5>
        </div>

        <div class="modal-body">
          <div class="options">

            <div class="checkbox">
              <label>
                <input type="checkbox" id="cbUserIsTenantAdministrator" disabled="{{#if isMe}}disabled{{/if}}"> Tenant Administrator
              </label>
            </div>

            <div id="nonAdminOptions">
              {{#each AvailablePermissions}} {{> PermissionOption}} {{/each}}
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <a id="btnUpdateTenantUserPermissions" class="btn btn-primary" style="margin-top:5px;">Update</a>
        </div>

      </div>
    </div>
  </div>
</template>

<template name="PermissionOption">
  <div class="row">

    <div class="col-md-3 col-xs-5">
      {{displayName}}
    </div>

    <div class="col-md-3 col-xs-5">
      <select id="{{value}}PermissionSelector">
        <option value="CanRead" selected> Read </option>
        <option value="CanCreate"> Create </option>
        <option value="CanEdit"> Edit </option>
        <option value="CanDelete"> Delete </option>
      </select>

    </div>

  </div>
</template>
