<template name="tenancyAdminPage">

  {{setPageTitle "Administration" }}

  <h1 id="admin-header"> <i class="fa fa-fw fa-cogs"></i> Administration</h1>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-primary" id="userAdminPanel">
        <div class="panel-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#colUsers"  id="userAdminPanelExpander">Users</a>
        </div>
        <div id="colUsers" class="panel-collapse collapse">
          <div class="panel-body" id="tenancyUsers">

            <div class="well well-sm">
              <button type="button" class="btn btn-xs btn-primary" role="button" id="addNewUserAccount">
                <i class="fa fa-fw fa-plus"></i> Add new user
              </button>
            </div>

            <ul class="list-group">
              {{#each tenantUsers}} {{> adminAreaUser}} {{/each}}
            </ul>

          </div>
        </div>
      </div>

      {{#if tenantFound}}
      <div class="panel panel-primary" id="userAdminPanel">
        <div class="panel-heading ">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#colScheme"  id="schemeAdminPanelExpander">Scheme</a>
        </div>
        <div id="colScheme" class="panel-collapse collapse">
          <div class="panel-body" id="tenancyUsers">
            
            <div class="well well-sm">
              You are currently on the <strong>{{#if payingScheme}}Premier{{else}}Starter{{/if}} Scheme</strong>. {{#if payingScheme}}Thanks for your confidence in RealtimeCRM.{{/if}}
              <br />You can have <strong>{{#if payingScheme}}unlimited{{else}}50{{/if}}</strong> records (contacts + companies).
              {{#if lockedUser}}
                <br />You have reach the maximum number of records and your account is now locked. 
                Please upgrade to enjoy the full functionalities of RealtimeCRM
              {{/if}}
            </div>
            
            {{#if payingScheme}}
              <button type="button" class="btn btn-sm btn-info " role="button" id="downScheme">Downgrade to Free Plan</button>
            {{else}}
              {{#if hasStripeAccount}}
                <button type="button" class="btn btn-sm btn-info" role="button" id="reUpScheme">Upgrade to Paying Scheme</button>
              {{else}}
                <button type="button" class="btn btn-sm btn-info" role="button" id="upScheme">Upgrade to Paying Scheme</button>
              {{/if}}
            {{/if}}

          </div>
        </div>
      </div>
      {{/if}}

      <div class="panel panel-primary" id="opportunityStagePanel">
        <div class="panel-heading ">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#oppStages"  id="oppStagesExpander">Sales pipeline stages</a>
        </div>
        <div id="oppStages" class="panel-collapse collapse">
          {{> opportunityAdmin}}
        </div>
      </div>
    </div>
  </div>

</template>

<template name="adminAreaUser">
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3">{{profile.name}}
      </div>
      <div class="col-md-5">

      </div>
      <div class="col-md-4">
        <div class="btn-group pull-right" role="group">
          <button class="btn btn-info btn-xs" id="btnEditTenantUserPermissions" type="button">
            <i class="fa fa-fw fa-wrench"></i> Edit user permissions
          </button>
          <button class="btn btn-danger btn-xs" id="tenantRemoveUser" type="button">
            <i class="fa fa-fw fa-times"></i> Remove user
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
