<template name="tenancyAdminPage">

  {{setPageTitle "Administration" }}

  <h1 id="admin-header"> <i class="fa fa-fw fa-cogs"></i> Administration</h1>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{#if tenantFound}}
      <div class="panel panel-primary" id="userAdminPanel">
        <div class="panel-heading ">Scheme</div>
        <div class="panel-body" id="tenancyUsers">
          
          <div class="well well-sm">
            Here are the details of your current status:
            <div class="row">
              <div class="col-xs-2"><strong>Plan</strong>: </div>
              <div class="col-xs-2">{{#if payingScheme}}Paying{{else}}Free{{/if}}</div>
            </div>
            <div class="row">
              <div class="col-xs-2"><strong>Users</strong>: </div>
              <div class="col-xs-2">{{totalUsers}}</div>
            </div>
            <div class="row">
              <div class="col-xs-2"><strong>Records</strong>: </div>
              <div class="col-xs-2{{#if limitReached}} text-danger{{/if}}">{{totalRecords}} of {{limitRecords}}</div>
            </div>

            {{#if blockedUser}}
              <br />You have reach the maximum number of records and your account is now locked. 
              Please upgrade to enjoy the full functionalities of RealtimeCRM
            {{/if}}
          </div>
          
          {{#if payingScheme}}
            <button type="button" class="btn btn-info " role="button" id="downScheme">Downgrade to Free Plan</button>
          {{else}}
            {{#if hasStripeAccount}}
              <button type="button" class="btn btn-info" role="button" id="reUpScheme">Upgrade to Paying Scheme</button>
            {{else}}
              <button type="button" class="btn btn-info" role="button" id="upScheme">Upgrade to Paying Scheme</button>
            {{/if}}
              <div><i class="fa fa-lock"></i> Payments are made securely with <a href="http://www.stripe.com">Stripe</a>.</div>
          {{/if}}

        </div>
      </div>
      {{/if}}

      <div class="panel panel-primary" id="userAdminPanel">
        <div class="panel-heading accordion-toggle" id="colUsers">
          Users<span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>
        <div id="collapsecolUsers" class="panel-collapse collapse">
          <div class="panel-body" id="tenancyUsers">

            <div class="well well-sm">
              <button type="button" class="btn btn-xs btn-primary" role="button" id="addNewUserAccount">
                <i class="fa fa-fw fa-plus"></i> Add new user
              </button>
            </div>

            <ul class="list-group">
              {{#each tenantUsers}} {{> adminAreaUser}} {{/each}}
            </ul>

          </div>
        </div>
      </div>

      <div class="panel panel-primary" id="opportunityStagePanel">
        <div class="panel-heading accordion-toggle" id="oppStages">
          Sales pipeline stages<span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>
        <div id="collapseoppStages" class="panel-collapse collapse">
          {{> opportunityAdmin}}
        </div>
      </div>
    </div>
  </div>

</template>

<template name="adminAreaUser">
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3">{{profile.name}}
      </div>
      <div class="col-md-5">

      </div>
      <div class="col-md-4">
        <div class="btn-group pull-right" role="group">
          <button class="btn btn-info btn-xs" id="btnEditTenantUserPermissions" type="button">
            <i class="fa fa-fw fa-wrench"></i> Edit user permissions
          </button>
          <button class="btn btn-danger btn-xs" id="tenantRemoveUser" type="button">
            <i class="fa fa-fw fa-times"></i> Remove user
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
