<template name="poOverviewWidget">
  <div>
    <span id="#ref_poOverviewWidget" data-toggle="popover" title="Purchase Orders Overview" data-content="
    <div><ul class='list-unstyled'>
      <li>Purchase Orders:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalPurchaseOrders}}</span></li>
      <li>Approved:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalApprovedPo}}</span></li>
      <li>Arrived:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalArrivedPo}}</span></li>
      <li>Closed:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalClosedPo}}</span></li>
      <li>Cancelled:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalCancelledPo}}</span></li>
      <li>Rejected:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalRejectedPo}}</span></li>
    </div>">
    <button class="btn btn-md"><i class="fa fa-fw fa-tasks"></i>&nbsp;Overview</button></span>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({html : true, placement : "bottom"});
    });
  </script>
</template>
