<template name="updatePurchaseOrderModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Edit purchase order</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="PurchaseOrders" id="updatePurchaseOrderForm" type="update" doc=this}}

            {{> afQuickField name="description" rows=3}}
            {{#if supplierCompanyId}}
              {{> afQuickField type="text" label="Supplier Company" readonly=true value=supplierCompanyName}}
              {{> afQuickField name="supplierCompanyId" type="hidden" value=supplierCompanyId}}
            {{/if}}
            {{#if supplierContactId}}
              {{> afQuickField type="text" label="Supplier Contact" readonly=true value=supplierContactName}}
              {{> afQuickField name="supplierContactId" type="hidden" value=supplierContactId}}
            {{/if}}
            {{> afQuickField name="supplierReference" }}
            {{> afQuickField name="status" options="allowed" id="poStatus" firstOption=false}}
            {{> afQuickField name="paymentMethod" options="allowed"}}
            {{> afQuickField name="notes"}}
            <button type="submit" class="btn btn-primary" id="update-purchase-order">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>