<template name="footer">
  <div class="footer">
      <p class="pull-left">
        Made with &hearts; by <a href="http://cambridgesoftware.co.uk" target="_blank">Cambridge Software Ltd</a>
        {{#if tenantName}}
          <em>for</em>&nbsp;&nbsp;{{tenantName}}
        {{/if}}
      </p>
      RealTimeCRM <small>beta</small>
      <p class="pull-right">
        <a href="http://realtimecrm.co.uk/terms/" target="_blank">Terms and Conditions</a>
      </p>
  </div>
  <div class="fab" value="Show/Hide" id="fab">
    <button class="fixed-action-btn" id="fab-btn"><i class="fa fw-fa fa-plus"></i></button>
  </div>
  <div class="fab-menu" id="fab-menu">
    <button class="fab-menu-item" id="fabAddContacts" data-toggle="tooltip" title="Add a Contact (Ctl+Alt+C)"><i class="fa fw-fa fa-user"></i></button>
    <button class="fab-menu-item" id="fabAddCompanies" data-toggle="tooltip" title="Add a Company (Ctl+Alt+X)"><i class="fa fw-fa fa-building"></i></button>
    <button class="fab-menu-item" id="fabAddProject" data-toggle="tooltip" title="Add a Project (Ctl+Alt+J)"><i class="fa fw-fa fa-sitemap"></i></button>
    <button class="fab-menu-item" id="fabAddPurchaseOrder" data-toggle="tooltip" title="Add a Purchase Order (Ctl+Alt+P)"><i class="fa fw-fa fa-shopping-cart"></i></button>
  </div>
  <div id="close-fab">
    <button class="close-fab btn-danger" id="closeFab"><i class="fa fa-fw fa-close"></i></button>
  </div>
</template>
