<template name="footer">
  <div class="footer">
      <p class="pull-left">
        Made with &hearts; by <a href="http://cambridgesoftware.co.uk" target="_blank">Cambridge Software Ltd</a>
        {{#if tenantName}}
          <em>for</em>&nbsp;&nbsp;{{tenantName}}
        {{/if}}
      </p>
      RealTimeCRM <small>beta</small>
      <p class="pull-right">
        <a href="http://realtimecrm.co.uk/terms/" target="_blank">Terms and Conditions</a>
      </p>
  </div>
  <div class="fab" value="Show/Hide" id="fab-btn">
      <button class="fixed-action-btn" id="fab-help"><i class="fa fw-fa fa-question"></i></button>
  </div>
  <div class="fab-menu" id="fab-menu">
    <button class="fab-menu-companies" id="companyTutorial" data-toggle="tooltip" title="Companies Tutorial"><i class="fa fw-fa fa-building"></i></button>
    <button class="fab-menu-contacts" id="contactsTutorial" data-toggle="tooltip" title="Contacts Tutorial"><i class="fa fw-fa fa-user"></i></button>
  </div>
</template>
