
.footer {
  position: fixed;
  bottom: 0px;
  left: inherit;
  height: 30px;
  line-height: 30px;
  right:0;
  background-color: #ffffff;
  padding: 0 15px;
}

@media only screen and (max-width: 768px) {
  .footer{
     display:none;
   }
}
