.footer {
  position: fixed;
  bottom: 0px;
  left: inherit;
  height: 30px;
  line-height: 30px;
  right:0;
  background-color: #ffffff;
  padding: 0 15px;
  transition: all 0.15s ease-in-out;
  text-align: center;
  z-index: 101;
}

.fab {
  position: fixed;
  right: 50px;
  bottom: 60px;
  z-index: 900;
}

.fixed-action-btn {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  border-radius: 50%;
  background: #0e5e98;
  border: none;
  box-shadow: 2px 2px 7px #888;
  display: none;
}

.fixed-action-btn i {
  color: #fff;
  font-size: 20px;
  padding-bottom: 15px;
}

.fixed-action-btn:hover {
  background:#0a4169;
}
.fixed-action-btn:active {
  outline: none;
  border: none;
}

.fixed-action-btn:focus {
  outline: 0;
}

.fab-menu {
  position: fixed;
  bottom: inherit;
  right: 110px;
  z-index: 900;
  display: none;
}

.fab-menu-item {
  padding-top: 10px;
  margin-right: 5px;
  margin-bottom: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0e5e98;
  border: none;
  box-shadow: 2px 2px 7px #888;

}

.fab-menu-item i {
  color: #fff;
  font-size: 15px;
  padding-bottom: 20px;
}

.fab-menu-item:hover {
  background:#0a4169;
}
.fab-menu-item:active {
  outline: none;
  border: none;
}

.fab-menu-item:focus {
  outline: 0;
}

.close-fab {
  border-radius: 50%;
  position: fixed;
  width: 15px;
  height: 15px;
  right: 50px;
  bottom: 95px;
  border: none;
  color: #fff;
  font-size: 10px;
  z-index: 910;
  display: none;
}

.close-fab i {
  position: fixed;
  margin: -6px -5px -5px -6.5px;
}

.close-fab:active {
  outline: none;
  border: none;
}

.close-fab:focus {
  outline: 0;
}

@media only screen and (max-width: 768px) {
  .footer{
    display:none;
  }
}

#id-view-content.no-menu > .footer {
  left:0;
}
