#custom-fields-panel {
  border-bottom: none;
}
#custom-field-container li:last-child {
  border-bottom: 1px solid #dddddd;
}
.globalCFBackground {
  background: #fafafa !important;
}
.modMyPosition {
  padding-top: 7px;
  margin-left: 4px;
}
.mediumWrapper {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
.global-field-item > div{
  margin-top: 10px;
}
