<template name="cfDisplay">
<li class="list-group-item {{#if global}} globalCFBackground{{/if}} panel-item-header">

  {{#unless global}}
  <div class="btn-group pull-right">
    <button class="btn btn-danger btn-xs" id='delete-custom-field'>
      <i class="fa fa-fw fa-times"></i>
      Delete
    </button>
  </div>
  {{/unless}}

  <h4><i class="fa fa-fw fa-{{icon}}"></i>{{#unless equals type 'label'}}{{name}}{{/unless}}</h4>
  <p class="list-group-item-text">{{#if equals type 'label'}}{{name}}{{else}}{{{value}}}{{/if}}</p>

</li>
</template>
