<template name="extInfo">
  <div class="{{#if global}}globalCFBackground{{/if}}" id="extInfos{{extInfoId}}DisplayItem">
    <div id="extInfos{{extInfoId}}Information">
      <div class="row">

        {{#unless equals type 'label'}}
        <div class="col-md-3 modMyPosition">
          {{name}}
        </div>
        {{/unless}}

        {{#unless global}}
          <div class="col-md-2 modMyPosition">
            <select id="extInfos{{extInfoId}}TypeOptions" class="TypeSelectionMenu">
              <option value="text" selected="{{#if typeText}}selected{{/if}}">Text</option>
              <option value="advtext" selected="{{#if typeMultiText}}selected{{/if}}">Multiline Text</option>
              <option value="checkbox" selected="{{#if typecheckbox}}selected{{/if}}">Checkbox</option>
              <option value="date" selected="{{#if typeDateTime}}selected{{/if}}">Date/Time</option>
            </select>
          </div>
        {{/unless}}

        <div class="{{#if global}}col-md-7{{else}}col-md-5{{/if}} col-md-offset-1">

          {{#if typeText}}
          <div class="form-group" id="extInfos{{extInfoId}}TextInputArea">
            <input class="form-control" id="extInfos{{extInfoId}}TextValue" placeholder="Enter value" type="text" value="{{value}}">
          </div>
          {{/if}}

          <div class="form-group" style="{{#unless typeMultiText}}display: none;{{/unless}}" id="extInfos{{extInfoId}}AdvTextInputArea">
            <div class="editable mediumWrapper form-control" id="extInfos{{extInfoId}}AdvTextValue" value="{{value}}"></div>
          </div>

          {{#if typeCheckbox}}
          <div class="form-group" id="extInfos{{extInfoId}}BooleanInputArea">
            <input class="form-control" id="extInfos{{extInfoId}}BooleanValue" style="height:20px;width:20px;margin-top:7px;" type="checkbox">
          </div>
          {{/if}}

          <div class="form-group datetimepicker" style="{{#unless typeDateTime}}display: none;{{/unless}}" id="extInfos{{extInfoId}}DateInputArea">
            <input class="form-control" id="extInfos{{extInfoId}}DateValue" placeholder="Enter date" type="text" value="{{#if equals type 'date'}}{{value}}{{/if}}">
          </div>

          {{#if typePicklist}}
          <div class="form-group" id="extInfos{{extInfoId}}PicklistInputArea">
            <input id="extInfos{{extInfoId}}PicklistValue" value="{{value}}" >
          </div>
          {{/if}}

        </div>

      </div>
    </div>
  </div>
</template>
