<template name="customFieldItem">
  <div id="customField{{fieldName}}DisplayItem">
    {{#if typeText}}
    <div class="form-group" id="customField{{fieldName}}TextInputArea">
      <label class="control-label">{{name}}</label>
      <input class="form-control" id="customField{{fieldName}}TextValue" placeholder="Enter value" type="text" value="{{value}}">
    </div>
    {{/if}}

    <div class="form-group" style="{{#unless typeMultiText}}display: none;{{/unless}}" id="customField{{fieldName}}AdvTextInputArea">
      <label class="control-label">{{name}}</label>
      <div class="editable mediumWrapper form-control" id="customField{{fieldName}}AdvTextValue" value="{{value}}"></div>
    </div>

    {{#if typeCheckbox}}
    <div class="form-group" id="customField{{fieldName}}BooleanInputArea">
      <label class="control-label">{{name}}</label>
      <input class="form-control" id="customField{{fieldName}}BooleanValue" style="height:20px;width:20px;margin-top:7px;" type="checkbox">
    </div>
    {{/if}}

    <div class="form-group" style="{{#unless typeDateTime}}display: none;{{/unless}}" id="customField{{fieldName}}DateInputArea">
      <label class="control-label">{{name}}</label>
      <input class="form-control datetimepicker" id="customField{{fieldName}}DateValue" placeholder="Enter date" type="text" value="{{#if equals type 'date'}}{{value}}{{/if}}">
    </div>

    {{#if typePicklist}}
    <div class="form-group" id="customField{{fieldName}}PicklistInputArea">
      <label class="control-label">{{name}}</label>
      <input id="customField{{fieldName}}PicklistValue" value="{{value}}" >
    </div>
    {{/if}}

  </div>
</template>
