.product-description p {
  margin-bottom: 5px;
}

.product-description h2,
.product-description h3,
.product-description h4 {
  margin: 10px 0px 5px;
  font-weight: normal;
}

.product-description h2 {
  font-size: 1.3em;
}

.product-description h3 {
  font-size: 1.2em;
}

.product-description h2:first-child,
.product-description h3:first-child {
  margin-top: 0;
}
