<template name="stripeAdmin">


  {{#if hasStripeAccount}}

    {{#if hasLastInvoice}}
    <div class="settings-section">
      <h4>Last Payment</h4>
      {{#if lastInvoice.date}}
        <p>The previous payment of {{lastInvoice.amount_due}} for {{tenantName}} was paid on {{lastInvoice.date}}. See below for the cost breakdown.</p>
        <div class="panel panel-default">
          <table class="table panel-body">
            <tbody>
              {{#each lastInvoice.lines.data}}
                <tr>
                  <td>
                    {{description}}
                    {{#if quantity}}<br><small>{{quantity}} users on {{plan.name}} at {{plan.amount}} each </small>{{/if}}
                  </td>
                  <td width="100">{{amount}}</td>
                </tr>
              {{/each}}
              <tr>
                <td>Tax at {{lastInvoice.tax_percent}}%</td>
                <td width="100">{{lastInvoice.tax}}</td>
              </tr>
              <tr class="active">
                <td>Total</td>
                <td width="100">{{lastInvoice.amount_due}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      {{else}}
        <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
      {{/if}}
    </div>
    {{/if}}

  {{/if}}



</template>

<template name="lineDetails">
  {{#if amount}}
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-2"><em>{{amount}}</em></div>
      <div class="col-xs-7"><em>{{#if description}}{{description}}{{else}}Subscription for next period ({{period.start}} - {{period.end}}){{/if}}</em></div>
    </div>
  {{/if}}
</template>