<template name="stripeAdmin">

    <div class="col-md-12">
      <h4>Here are the details of your subscription status</h4>
      {{#if subscriptionCancelled}}
        <p class="text-danger">
        <i class="fa fa-fw fa-exclamation-triangle"></i> Your subscription has been cancelled. You can resume it until the end of that period.
        </p>
      {{/if}}
    </div>

    <div class="col-md-5">
      <div class="well well-sm">
      <div class="row">
        <div class="col-xs-5"><strong>Plan</strong></div>
        <div class="col-xs-7" id="planName">{{currentSubscription}}</div>
      </div>
      {{#if hasCoupon}}
      <div class="row">
        <div class="col-xs-5"><strong>Discount</strong></div>
        <div class="col-xs-7">{{hasCoupon}}</div>
      </div>
      {{/if}}
      <div class="row">
        <div class="col-xs-5"><strong>Users</strong></div>
        <div class="col-xs-7" id="numberOfUsers">{{totalUsers}}</div>
      </div>
      <div class="row">
        <div class="col-xs-5"><strong>Records</strong></div>
        <div class="col-xs-7{{#if limitReached}} text-danger{{/if}}">{{totalRecords}} of {{limitRecords}}</div>
      </div>
        {{#if blockedUser}}
          <br />You have reach the maximum number of records and your account is now locked.
          Please upgrade to enjoy the full functionalities of RealTimeCRM
        {{/if}}
      </div>
      {{#if hasStripeAccount}}
      <div class="well well-sm">
        {{#with cardDetails}}
        {{#if cardDetails.last4}}
          <p>Card used for your payments:</p>
          <div class="row">
            <div class="col-xs-6"><strong>Name</strong></div><div class="col-xs-6">{{name}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><strong>Brand</strong></div><div class="col-xs-6">{{brand}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><strong>Last four number</strong></div><div class="col-xs-6">{{last4}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><strong>Exp Month</strong></div><div class="col-xs-6">{{exp_month}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6"><strong>Exp Year</strong></div><div class="col-xs-6" id="cardExpYear">{{exp_year}}</div>
          </div>
          <div class="row">
            <div class="col-xs-12"><button id="updateCardDetails" class="btn btn-xs btn-primary pull-right">Update Card Details</button></div>
          </div>
          <hr />
        {{/if}}
        {{/with}}

        <p>Email used for your invoices:</p>
        <div class="row"><div class="col-xs-12" id="stripeEmail">{{stripeCustomer.email}}</div></div>
        <div class="row"><div class="col-xs-12"><button id="updateEmail" class="btn btn-xs btn-primary pull-right">Update Email</button></div></div>
      </div>
      {{/if}}
    </div>

    {{#if hasStripeAccount}}
    <div class="col-md-7">
      <div class="well well-sm">
        <div class="row">
          <div class="col-xs-12"><strong>Last Invoice details</strong></div>
        </div>
        <div class="row">
          <div class="col-xs-3"><strong>Amount</strong></div>
          <div class="col-xs-9">£{{lastInvoice.amount_due}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3"><strong>Date</strong></div>
          <div class="col-xs-9">{{lastInvoice.date}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3"><strong>Period</strong></div>
          <div class="col-xs-9">{{lastInvoice.start}} - {{lastInvoice.end}}</div>
        </div>
        {{#if upcomingInvoice}}
        <hr />

        <div class="row">
          <div class="col-xs-12"><strong>Upcoming Invoice details</strong></div>
        </div>
        <div class="row">
          <div class="col-xs-3"><strong>Amount</strong></div>
          <div class="col-xs-9">£{{upcomingInvoice.amount_due}}</div>
        </div>
        {{#each upcomingInvoice.lines.data}}
          {{> lineDetails}}
        {{/each}}
        <div class="row">
          <div class="col-xs-3"><strong>Date Due</strong></div>
          <div class="col-xs-9">{{upcomingInvoice.date}}</div>
        </div>
        {{/if}}

      </div>
    </div>
    {{/if}}

  <div class="col-xs-12" id="switchButtons">
  {{#if payingScheme}}
    <button type="button" class="btn btn-danger" role="button" id="downScheme">Downgrade to Free Plan</button>
  {{else}}
    {{#if hasStripeSubs}}
        <button type="button" class="btn btn-success" role="button" id="resumeSubs">Resume Subscription</button>
      {{else}}
        <button type="button" class="btn btn-info" role="button" id="upScheme">Upgrade to Paid Plan</button>
    {{/if}}
  {{/if}}
  <div><i class="fa fa-lock"></i> <a href="#" id="showStripeHow">All payments are securely processed by Stripe, our payment partner</a></div>
  </div>
</template>

<template name="lineDetails">
{{#if amount}}
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-2"><em>£{{amount}}</em></div>
    <div class="col-xs-7"><em>{{#if description}}{{description}}{{else}}Subscription for next period ({{period.start}} - {{period.end}}){{/if}}</em></div>
  </div>
{{/if}}
</template>
