<template name="stripeAdmin">

  <div class="settings-section">
    <h4>Subscription Status</h4>

    {{#if subscriptionCancelled}}
      <p class="text-danger">
      <i class="fa fa-fw fa-exclamation-triangle"></i> Your subscription has been cancelled. You can resume it until the end of that period.
      </p>
    {{/if}}

    {{#if subsLoaded}}
      <ul class="list-group">
        <li class="list-group-item">Plan:  
            {{currentSubscription}}
        </li>
        <li class="list-group-item">Coupon: 
          {{#if couponLoaded}}
            <span id="couponText">
              {{#if hasCoupon}}{{hasCoupon}}{{else}}No active coupon{{/if}}
            </span>
            {{#unless isProTenant}} - <a href="#" id="updateCoupon">Edit</a>{{/unless}}
          {{else}}
            <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
          {{/if}}
        </li>
        <li class="list-group-item">Users: {{totalUsers}}</li>
      </ul>
    {{else}}
      <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
    {{/if}}
  </div>

  <div class="settings-section">
    <h4>Card Details
      {{#if cardDetails.last4}}
        <button id="updateCardDetails" class="btn btn-xs btn-primary pull-right">Update Card Details</button>
      {{/if}}
    </h4>
    {{#if stripeCustomer.sources.total_count}}{{#with cardDetails}}{{#if cardDetails.last4}}
      <ul class="list-group">
        <li class="list-group-item">Name: {{name}}</li>
        <li class="list-group-item">Type: {{brand}}</li>
        <li class="list-group-item">Number: **** **** **** {{last4}}</li>
        <li class="list-group-item">Expiration Month: {{exp_month}}</li>
        <li class="list-group-item">Expiration Year: {{exp_year}}</li>
      </ul>
      <p>
        <i class="fa fa-lock"></i> 
        <a href="#" id="showStripeHow">All payments are securely processed by Stripe, our payment partner</a>
      </p>
    {{else}}
      <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
    {{/if}}{{/with}}{{else}}
      <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
    {{/if}}
  </div>

  <div class="settings-section">
    <h4>Invoice Email Address</h4>
    {{#if stripeCustomer.email}}
      <p>{{stripeCustomer.email}}<button id="updateEmail" class="btn btn-xs btn-primary pull-right">Update Email</button></p>
    {{else}}
      <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
    {{/if}}
  </div>

  <div class="settings-section">
    <h4>Next Invoice</h4>
    {{#if hasStripeAccount}}{{#if upcomingInvoice.date}}
      <p>Amount: {{upcomingInvoice.amount_due}}</p>
      <p>Date: {{upcomingInvoice.date}}</p>
      {{#each upcomingInvoice.lines.data}}
        {{> lineDetails}}
      {{/each}}
    {{else}}
      <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
    {{/if}}{{/if}}
  </div>

  <div class="settings-section">
    <h4>Last Payment</h4>
    {{#if hasStripeAccount}}{{#if lastInvoice.date}}
      <p>Amount: {{lastInvoice.amount_due}}</p>
      <p>Date: {{lastInvoice.date}}</p>
      <p>Period: {{lastInvoice.start}} - {{lastInvoice.end}}</p>
    {{else}}
      <em><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</em>
    {{/if}}{{/if}}
  </div>

</template>

<template name="lineDetails">
  {{#if amount}}
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-2"><em>{{amount}}</em></div>
      <div class="col-xs-7"><em>{{#if description}}{{description}}{{else}}Subscription for next period ({{period.start}} - {{period.end}}){{/if}}</em></div>
    </div>
  {{/if}}
</template>