<template name="stripeUnsubscribe">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Downgrade to Free Plan</h4>
        </div>
        
        <div class="modal-body">
          By downgrading to the <em>Free Plan</em> you will only have 50 records (contacts + companies).
          <br />For more information see our Terms and Condition of use.
        </div>
        <div class="modal-footer">
          <button id="unsubscribe" class="btn btn-primary">Unsubscribe</button>
        </div>

      </div>
    </div>
  </div>
</template>
