<template name="stripeResubscribe">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4><i class="fa fa-lock"></i> Upgrade to Paying Scheme</h4>
        </div>
        
        <div class="modal-body">
            You previously subscribed to the <em>Paying Scheme</em> and already have an account with us.
            <br />Here are the details of the card that you use:
          <div id='cardDetails'>
            {{#if cardDetails.last4}}
              {{#with cardDetails}} 
                {{> cardDetailsTemplate }}
              {{/with}}
            {{else}}
              <div class="well well-sm">
              {{> loadingSmall}}
              </div>
            {{/if}}
          </div>

          <div id="plan-details">
            <br />Please find below the details of your subscription:
            <div class="well well-sm">
            {{#if planDetails.id}}
            {{#with planDetails}}
              <div class="row">
                <div class="col-xs-6"><em>Plan</em></div>
                <div class="col-xs-4">{{name}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6"><em>Price</em></div>
                <div class="col-xs-4">£{{amount}} /user/{{interval}}</div>
              </div>
              <div class="row">
                <div class="col-xs-6"><em>Number of users</em></div>
                <div class="col-xs-4">{{quantity}}</div>
              </div>
              <div class="row">
                <div class="col-xs-10"><hr /></div>
              </div>
              <div class="row">
                <div class="col-xs-6"><strong>Total Price of Subscription</strong></div>
                <div class="col-xs-4">£{{total}} /{{interval}}</div>
              </div>
            {{/with}}
            {{else}}
              {{ > loadingSmall}}
            {{/if}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="resubscribe" class="btn btn-primary"><i class="fa fa-lock"></i> Resume subscription</button>
        </div>
        
      </div>
    </div>
  </div>
</template>
