<template name="cardFormModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Update your card details</h4>
        </div>

        {{> cardForm buttonText="Update" showEmail=false}}

      </div>
    </div>
  </div>
</template>

<template name="cardForm">
<form id="subscribe">
  <div class="modal-body">
    <div class="well well-sm">

      <div class="card-wrapper"></div>

      <div class="row form-group">
        <div class="col-xs-6">
          <label for="cardNumber" class="control-label">Card Number</label>
          <input type="text" id="cardNumber" size="20" class="form-control" data-stripe="number" placeholder="**** **** **** ****" required />
        </div>
        <div class="col-xs-6">
          <label for="cardName" class="control-label">Name</label>
          <input type="text" id="cardName" size="20" class="form-control" data-stripe="name" />
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6"><label for="expMonth" class="control-label">Expiration</label></div>
          <div class="col-xs-6"><label for="cardCVC" class="control-label">CVC</label></div>
        </div>
        <div class="row">
          <div class="col-xs-3"><input type="text" id="expMonth" size="2" class="form-control" data-stripe="exp-month" placeholder="01" required /></div>
          <div class="col-xs-3"><input type="text" id="expYear" size="4" class="form-control" data-stripe="exp-year" placeholder="2016" required /></div>
          <div class="col-xs-3"><input type="text" id="cardCVC" size="4" class="form-control" data-stripe="cvc" placeholder="***" required /></div>
        </div>
      </div>
      {{#if showEmail}}
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label for="email" class="control-label">Email for invoices</label>
            <input type="text" id="email" class="form-control" placeholder="you@domain.com" value="{{userEmail}}" required />
          </div>
        </div>
      </div>
      {{/if}}

    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" id="submit" class="btn btn-primary"><i class="fa fa-lock"></i> {{buttonText}}</button>
  </div>
</form>
</template>
