<template name="stripeHow">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>How does stripe work?</h4>
        </div>

        <div class="modal-body">

          <h4>Is Stripe a secured system?</h4>
          <a href="https://stripe.com/" target="_blank">Stripe</a> provides a <a href="https://support.stripe.com/questions/what-kind-of-security-does-stripe-have-in-place" target="_blank">high level of security</a>
          both for you and for us. Famous companies like Twitter, TED or the Guardian <a href="https://stripe.com/gallery" target="_blank">use stripe</a>.
          
          <h4>How does the subscription process work?</h4>
          The one thing you need to remember is that your card details are never communicated to our servers. When you enter your card details,
          they are securely sent to Stripe <em>via</em> https (make sure you see the padlock in your address bar). Stripe then encrypts it and returns it to 
          us as a <em>token</em>. It is a string that looks like 'tok_a1b2c3...' and your card details are thus not human-readable. Using this token from our server, 
          we ask stripe to create a customer account and a subscription for you. Once again stripe returns it to us as an encrypted string so that all your data are secured.
          The key point here is: none of your data is directly stored by us. Instead we store your Stripe reference which are safely encrypted.

          <h4>Then where does the information of the Scheme panel come from?</h4>
          For your information and to help you manage your account, we want to show you your next invoice or some of your card details. 
          Here also, all this is managed through the use of your Stripe references. When the page is displayed, the server asks Stripe to send you 
          the relevent information (like the last 4 numbers of your card and the expiry date) and then displays it.
          <br />Once again, Stripe will <strong>never</strong> give us your full card number or your CVC.

          <h4>More question?</h4>
          If you have any other question we will be happy to answer it. Please feel free to contact us <a href="mailto:support@realtimecrm.co.uk">by Email</a>.
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</template>
