<template name="stripeHow">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4><i class="fa fa-lock"></i> Payment security</h4>
        </div>

        <div class="modal-body">
          <h4>How do we secure your payments?</h4>
          <p>Payment security is of the utmost importance to us. Here is an overview of how we keep your card details secure:</p>
          <ul>
            <li>All communication between your browser and RealTimeCRM is encrypted with SSL - the same technology used to secure internet banking.</li>
            <li>We never store your card details. When you enter your card details they are encrypted and sent directly to our payment provider. Your card details are never revealed to us.</li>
            <li>Stripe, our payment provider, is industry leading and independently audited. All communication between your browser and their servers is encrypted via SSL. Your card details are then stored using the same encryption standard certified by the US Government to protect classified information.</li>
          </ul>

          <h4>How secure is your payment provider?</h4>
          <p><a href="https://stripe.com/" target="_blank">Stripe</a>, our payment provider, provides indutry leading security for card payments. Stripe is independently audited for security and certified to PCI Service Provider Level 1 - the highest standard available under the Payment Card Industry Data Security Standard (PCI DSS). Stripe is trusted by thousands of companies, including leading brands such as Twitter, the Guardian and TED.</p>
          <p>For more technical details on Stripe's <a href="https://support.stripe.com/questions/what-kind-of-security-does-stripe-have-in-place" target="_blank">high level of security</a> please refer to their documentation.</p>

          <h4>More questions?</h4>
          <p>If you have any other questions please feel free to contact us at <a href="mailto:support@realtimecrm.co.uk">support@realtimecrm.co.uk</a>.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</template>
