<template name="activityList">

  {{setPageTitle 'Activities'}}
  
  <div class="row list-header">
      <div class="col-md-5">
        <h1>Activities</h1>
        <p id="resultsCount" class="list-header-subtitle">{{activityCount}} record{{#if hasMultipleActivities}}s{{/if}}</p>
      </div>
      <div class="col-md-7 list-header-right">
        <div class="btn-group pull-right" role="group">
            {{> smallSearchBox collectionName='activities'}}
        </div>
        <br>
        <ul class="list-toolbar pull-right">
            <li><a id="export" data-toggle="tooltip" title="Export results to CSV" data-placement="bottom">Export</a></li>
        </ul>
      </div>
  </div>
  {{> filterPanel collectionName='activities'}}
  <div id="activity-list">
  {{> searchResults index=ActivitiesIndex listItemTemplateName='activityListItem'}}
  </div>
</template>
