<!-- Expects to have a Company object in context -->
<template name="insertActivityModal">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
              {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}

            {{> afQuickField name="companyId" type="hidden" value=company._id id="companyId"}}
            {{> esSelectize name="contactId" index=ContactsIndex parent="companyId" filter="filterCompanyId" value=contactId}}

            {{> afQuickField name="primaryEntityType" type="hidden" value='companies'}}
            {{> afQuickField name="primaryEntityId" type="hidden" value=company._id}}
            {{> afQuickField name="primaryEntityDisplayData" type="hidden" value=company.name}}

            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary" id="confirm">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertContactActivityModal">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertContactActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
              {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}
            {{> afQuickField name="companyId" type="hidden" value=company._id}}
            {{> afQuickField name="contactId" type="hidden" value=contact._id}}
            {{> afQuickField name="primaryEntityType" type="hidden" value='contacts'}}
            {{> afQuickField name="primaryEntityId" type="hidden" value=contact._id}}
            {{> afQuickField name="primaryEntityDisplayData" type="hidden" value=fullName}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary" id="confirm">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertProjectActivityModal">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>
            Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertProjectActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
              {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}

            {{> afQuickField name="companyId" type="hidden" value=project.companyId}}
            {{> afQuickField name="contactId" type="hidden" value=project.contactId}}
            {{> afQuickField name="projectId" type="hidden" value=project._id}}
            {{> afQuickField name="primaryEntityType" type="hidden" value='projects'}}
            {{> afQuickField name="primaryEntityId" type="hidden" value=project._id}}
            {{> afQuickField name="primaryEntityDisplayData" type="hidden" value=project.name}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary" id="confirm">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertPurchaseOrderActivityModal">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>
            Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertPurchaseOrderActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
              {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}

            {{> afQuickField name="companyId" type="hidden" value=purchaseOrder.supplierCompanyId}}
            {{> afQuickField name="contactId" type="hidden" value=purchaseOrder.supplierContactId}}
            {{> afQuickField name="purchaseOrderId" type="hidden" value=purchaseOrder._id}}
            {{> afQuickField name="primaryEntityType" type="hidden" value='purchaseorders'}}
            {{> afQuickField name="primaryEntityId" type="hidden" value=purchaseOrder._id}}
            {{> afQuickField name="primaryEntityDisplayData" type="hidden" value=purchaseOrder.description}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary" id="confirm">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertOpportunityActivityModal">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>
            Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertOpportunityActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
              {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}
            {{> afQuickField name="companyId" type="hidden" value=opportunity.companyId}}
            {{> afQuickField name="contactId" type="hidden" value=opportunity.contactId}}
            {{> afQuickField name="opportunityId" type="hidden" value=opportunity._id}}
            {{> afQuickField name="primaryEntityType" type="hidden" value='opportunities'}}
            {{> afQuickField name="primaryEntityId" type="hidden" value=opportunity._id}}
            {{> afQuickField name="primaryEntityDisplayData" type="hidden" value=opportunity.name}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary" id="confirm">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertTaskActivityModal">
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>
            Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertTaskActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
              {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}
            {{> afQuickField name="taskId" type="hidden" value=task._id}}

            {{#if equals currentEntity 'companies'}}
              {{> afQuickField name="companyId" type="hidden" value=currentEntityId}}
            {{/if}}
            {{#if equals currentEntity 'contacts'}}
              {{> afQuickField name="contactId" type="hidden" value=currentEntityId}}
            {{/if}}
            {{#if equals currentEntity 'projects'}}
              {{> afQuickField name="projectId" type="hidden" value=currentEntityId}}
            {{/if}}
            {{#if equals currentEntity 'purchaseorders'}}
              {{> afQuickField name="purchaseOrderId" type="hidden" value=currentEntityId}}
            {{/if}}
            {{#if equals currentEntity 'opportunities'}}
              {{> afQuickField name="opportunityId" type="hidden" value=currentEntityId}}
            {{/if}}

            {{#if equals currentEntity 'user'}}
              {{> afQuickField name="primaryEntityType" type="hidden" value=currentEntity}}
              {{> afQuickField name="primaryEntityId" type="hidden" value=currentEntityId}}
              {{> afQuickField name="primaryEntityDisplayData" type="hidden" value=task.title}}
            {{else}}
              {{> afQuickField name="primaryEntityType" type="hidden" value='tasks'}}
              {{> afQuickField name="primaryEntityId" type="hidden" value=currentUser}}
              {{> afQuickField name="primaryEntityDisplayData" type="hidden" value=task.title}}
            {{/if}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary" id="confirm">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
