<!-- Expects to have a Company object in context -->
<template name="insertActivityModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
            {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}

            {{> afQuickField name="companyId" type="hidden" value=company._id id="companyId"}}
            {{> esSelectize name="contactId" index=ContactsIndex parent="companyId" filter="filterCompanyId" value=contactId}}

            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertContactActivityModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertContactActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
            {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}
            {{> afQuickField name="companyId" type="hidden" value=company._id}}
            {{> afQuickField name="contactId" type="hidden" value=contact._id}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertProjectActivityModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertProjectActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
            {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}
            {{> afQuickField name="projectId" type="hidden" value=project._id}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertPurchaseOrderActivityModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertPurchaseOrderActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
            {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}
            {{> afQuickField name="purchaseOrderId" type="hidden" value=purchaseOrder._id}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertOpportunityActivityModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> Add new activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="insertOpportunityActivityForm" type="insert"}}
            {{> afQuickField name="type" options="allowed"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
            {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{> afQuickField name="createdAt" type="hidden" value=currentDateTime}}
            {{> afQuickField name="opportunityId" type="hidden" value=opportunity._id}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
