<template name="documentContainer">
  <div class="panel panel-default">
    <div class="panel-heading" id="documents-container">
      <i class="fa fa-fw fa-files-o"></i>
      Documents

      <div class="btn-group pull-right">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" type="button">
          Add from...
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li class="list-item" data-placement="bottom" data-toggle="tooltip" id="add-drive-document" title="Add a document from Google Drive"><small>Google Drive</small></li>
        </ul>
      </div>
    </div>

    <ul class="list-group">
      {{#each documents}}
        <div class="list-group-item">
          <i class="fa fa-fw fa-{{fileIcon}}"></i>
          <a data-placement="bottom" data-toggle="tooltip" href="{{docPath}}" title="Open this document on Google Drive">{{docName}}</a>
          <button class="btn btn-danger btn-xs pull-right" data-placement="bottom" data-toggle="tooltip" id="remove-document" title="Remove this document (it will not be deleted from your external folder)">
            <i class="fa fa-fw fa-times"></i>
          </button>
        </div>
        {{else}}
        <li class="list-group-item">No documents added</li>
      {{/each}}
    </ul>
  </div>
</template>
