<template name="tasksOverviewWidget">
  <div>
    <span id="#ref_poOverviewWidget" data-toggle="popover" title="Purchase Orders Overview" data-content="
    <div><ul class='list-unstyled'>
      <li>Created:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{createdTasks}}</span></li>
      <li>Completed:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{completedTasks}}</span></li>
      <li>Due soon:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{dueTasks}}</span></li>
      <li>Overdue:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{overdueTasks}}</span></li>
    </div>">
    <button class="btn btn-md"><i class="fa fa-fw fa-tasks"></i>&nbsp;Overview</button></span>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({html : true, placement : "bottom"});
    });
  </script>
</template>
