<template name="tasksOverviewWidget">
  <div class="grid-stack-item-content">
    <div class="panel panel-default" id='taskOverviewBox'>
      <div class="panel-heading">
        <button aria-hidden="true" class="close" id="close_tasksOverviewWidget" type="button">×</button>
        Tasks Overview
        <a href="#" id="ref_tasksOverviewWidget" type="button"><i class="fa fa-fw fa-refresh grayscale"></i></a>
        <a href="#" type="button" id="expandbutton" data-toggle="collapse" data-target="#collapse1" class="pull-right" style="padding-right: 10px"><i class="fa fa-chevron-down grayscale"></i></a>

        <script>
          $(document).ready(function(){
            $("#collapse1").on("hide.bs.collapse", function(){
              $("#expandbutton").html('<i class="fa fa-chevron-down grayscale"></i>');
            });
            $("#collapse1").on("show.bs.collapse", function(){
              $("#expandbutton").html('<i class="fa fa-chevron-up grayscale"></i>');
            });
          });
        </script>
      </div>
      <div class="panel-collapse collapse" id="collapse1" >
        <div class="panel-body">
          <div class="tasksOverviewList">
            <ul class="list-unstyled">
              <li id="tasksCreatedOverview">Tasks created: <span class="pull-right">{{createdTasks}}</span></li>
              <li id="tasksCompletedOverview">Tasks completed: <span class="pull-right">{{completedTasks}}</span></li>
              <li id="tasksDueSoonOverview">Tasks due soon: <span class="pull-right">{{dueTasks}}</span></li>
              <li id="tasksOverdueOverview">Tasks overdue: <span class="pull-right">{{overdueTasks}}</span></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>
