<template name="projectListItem">
  <a class="list-group-item" href="{{pathFor route='project' id=__originalId}}" id="list-item">
    <div class="row">
      <div class="col-md-3">
        <h4 class="list-group-item-heading">{{{projName}}}</h4>
      </div>
      <div class="col-md-3">
        {{#if company}}
        <p class="list-group-item-text"><i class="fa fa-fw fa-building"></i> {{company.name}}</p>
        {{/if}}
        {{#if contactId}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-user"></i> {{contact.name}}</p>
        {{/if}}
      </div>
      <div class="col-md-3">
        <p class="list-group-item-text"><i class="fa fa-fw fa-money"></i> Value: {{decimal value}}</p>
        <p class="list-group-item-text">{{#if active}}Active{{else}}Inactive{{/if}}</p>
      </div>
      <div class="col-md-3">
        {{> tagBadges tags=tags index=index pullRight=true}}
      </div>
    </div>
  </a>
</template>
