<template name="settingsNav">
  <div class="list-group hidden-sm hidden-xs" id="settings-nav">
      <a class="list-group-item {{isActivePath '/settings/profile'}}" href={{pathFor route="settings" section="profile"}}>Profile</a>
    {{#if isInRole 'Administrator'}}
      <a id="company-info-link" class="list-group-item {{isActivePath '/settings/company-info'}}" href={{pathFor route="settings" section="company-info"}}>Company Information</a>
      <a id="config-link" class="list-group-item {{isActivePath '/settings/configuration'}}" href={{pathFor route="settings" section="configuration"}}>Configuration</a>
      {{#unless isiOSApp}}
      <a id="user-link" class="list-group-item {{isActivePath '/settings/users'}}" href={{pathFor route="settings" section="users"}}>Users</a>
      <a id="billing-link" class="list-group-item {{isActivePath '/settings/billing'}}" href={{pathFor route="settings" section="billing"}}>Billing</a>
      <a id="import-link" class="list-group-item {{isActivePath '/settings/import'}}" href={{pathFor route="settings" section="import"}}>Import Data</a>
      {{/unless}}
    {{/if}}
      <a class="list-group-item {{isActivePath '/settings/email'}}" href={{pathFor route="settings" section="email"}}>Email</a>
  </div>

  <!-- Mobile menu is admin only as normal users only have one settings page -->
  <div class="visible-xs visible-sm">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle settings-nav-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other settings <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
          <li><a class="{{isActivePath '/settings/profile'}}" href={{pathFor route="settings" section="profile"}}>Profile</a></li>
          {{#if isInRole 'Administrator'}}
          <li><a class="{{isActivePath '/settings/company-info'}}" href={{pathFor route="settings" section="company-info"}}>Company Information</a></li>
          <li><a class="{{isActivePath '/settings/configuration'}}" href={{pathFor route="settings" section="configuration"}}>Configuration</a></li>
          {{#unless isiOSApp}}
          <li><a class="{{isActivePath '/settings/users'}}" href={{pathFor route="settings" section="users"}}>Users</a></li>
          <li><a class="{{isActivePath '/settings/billing'}}" href={{pathFor route="settings" section="billing"}}>Billing</a></li>
          <li><a class="{{isActivePath '/settings/import'}}" href={{pathFor route="settings" section="import"}}>Import Data</a></li>
          {{/unless}}
          {{/if}}
          <li><a class="{{isActivePath '/settings/email'}}" href={{pathFor route="settings" section="email"}}>Email</a></li>
      </ul>
    </div>
  </div>
</template>
