<template name="settingsNav">
  <div class="list-group hidden-sm hidden-xs" id="settings-nav">
    <a class="list-group-item {{isActivePath '/settings/profile'}}" href="profile">Profile</a>
    {{#if isInRole 'Administrator'}}
      <a class="list-group-item {{isActivePath '/settings/company-info'}}" href="company-info">Company Information</a>
      <a class="list-group-item {{isActivePath '/settings/configuration'}}" href="configuration">Configuration</a>
      <a class="list-group-item {{isActivePath '/settings/users'}}" href="users">Users</a>
      <a class="list-group-item {{isActivePath '/settings/billing'}}" href="billing">Billing</a>
    {{/if}}
  </div>

  {{#if isInRole 'Administrator'}}
  <!-- Mobile menu is admin only as normal users only have one settings page -->
  <div class="visible-xs visible-sm">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle settings-nav-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other settings <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="{{isActivePath '/settings/profile'}}" href="profile">Profile</a></li>
          <li><a class="{{isActivePath '/settings/company-info'}}" href="company-info">Company Information</a></li>
          <li><a class="{{isActivePath '/settings/configuration'}}" href="configuration">Configuration</a></li>
          <li><a class="{{isActivePath '/settings/users'}}" href="users">Users</a></li>
          <li><a class="{{isActivePath '/settings/billing'}}" href="billing">Billing</a></li>
      </ul>
    </div>
  </div>
  {{/if}}
</template>