<template name="opportunityList">

  {{setPageTitle 'Opportunities'}}

  <div class="row" id="opportunity-list">
    <div class="col-md-12">

      <h1 id="opportunities-page-header"><i class="fa fa-lightbulb-o"></i> Opportunities{{#if archivedShown}} - <i>archived</i>{{/if}}</h1>

      <!-- This should probably be refactored into a "search toolbar" template -->
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-3">
            {{> EasySearch.Input index=OpportunitiesIndex attributes=searchInputAttributes}}
          </div>
          <div class="col-md-3">
            {{> tagSearch collection='opportunities' }}
          </div>
          <div class="col-md-6">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" id="export"><i class="fa fa-fw fa-download"></i> Export results to CSV</button>
              <button id="toggle-archived" class="btn btn-default">Show {{#if archivedShown}}Active{{else}}Archived{{/if}}</button>
              {{#if isInRole 'Administrator,CanCreateOpportunities'}}
                <button id="create-opportunity" type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+O"><i class="fa fa-fw fa-plus"></i> Add opportunity</button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{> searchResults index=OpportunitiesIndex listItemTemplateName='opportunityListItem'}}

    </div>
  </div>
</template>
