<template name="opportunityAdmin">
  {{setPageTitle "Opportunity Configuration"}}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="entity-title">Admin</h4>
      <h1 class="entity-name">Opportunities Configuration</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          Opportunity stages
          <div class="pull-right">
            <button class="btn btn-default btn-xs">Add stage</button>
          </div>
        </div>
        <div class="panel-body">
          <p>This is where stages are configured for your sales pipeline.</p>
          <div class="opportunity-stage-container">
            {{#sortable items=stages sortField="sortOrder" ghostClass="opportunity-stage-ghost" options=options handle=".handle"}}
              {{> opportunityAdminStage}}
            {{/sortable}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="opportunityAdminStage">
  <li class="opportunity-stage">
    <div class="pull-right handle">
      <button class="btn btn-info btn-xs">Edit</button>
      <button class="btn btn-danger btn-xs">Delete</button>
      <i class="fa fa-fw fa-bars"></i>
    </div>
    <h4>{{title}}</h4>
    <p>{{description}}</p>
  </li>
</template>
