<template name="opportunityDetail">
  {{#with oppData}} {{setPageTitle "Opportunity - " name}}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="pull-right">
        {{#if isActive}}
          <br>
          {{#if isNotFirstStage}}
            <button class="btn btn-default" id="btnPrevStage"><i class="fa fa-fw fa-chevron-left"></i> Back to previous stage</button>
          {{/if}}
          {{#if isLastStage}}
            <button class="btn btn-success">Opportunity won</button>
          {{else}}
            <button class="btn btn-primary" id="btnNextStage">Move to next stage <i class="fa fa-fw fa-chevron-right"></i></button>
          {{/if}}
          <br><br>
          <a href="#" id="btnLostOpportunity" class="pull-right text-danger" style="text-decoration:underline">Mark opportunity as lost</a>
        {{/if}}
      </div>
      <h4 class="entity-title">Opportunity</h4>
      <h1 class="entity-name {{#if isArchived}}opp-archived{{/if}}">{{name}}</h1>
      {{#if isActive}}
        <div class="stepwizard hidden-xs">
          <div class="stepwizard-row">
            {{#each stages}}
              {{> opportunityStage}}
            {{/each}}
          </div>
        </div>
        <br>
      {{/if}}
      <div class="panel panel-default">
        <div class="panel-heading">
          Opportunity details
          <div class="pull-right">
            <button class="btn btn-default btn-xs">Edit</button>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-file-o"></i> Name</h4>
            {{name}}
          </li>
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-align-left"></i> Description</h4>
            {{{description}}}
          </li>
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-calendar"></i> Date</h4>
            {{{date}}}
          </li>
        </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Lines
          <div class="pull-right">
            <button class="btn btn-default btn-xs">Add</button>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-file-o"></i> Product</h4>
            Product 1
          </li>
          <li class="list-group-item panel-item-header">
            <h4><i class="fa fa-fw fa-align-left"></i> Product</h4>
            Product 2
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{/with}}
</template>
<template name="opportunityStage">
  <div class="stepwizard-step {{#if isCurrentStep}}active-step{{/if}}">
    <button type="button" class="btn btn-default btn-circle" disabled="disabled"></button>
    <p>{{title}}</p>
  </div>
</template>
