<template name="opportunityListItem">
  <a class="list-group-item" href="{{pathFor route='opportunity' id=_id}}">
    <span class="pull-right">{{> tagBadges}}</span>
    <h4 class="list-group-item-heading">{{name}}</h4>
    {{#if company}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-building"></i> {{company.name}}</p>
    {{/if}} {{#if contact}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-user"></i> {{contact.name}}</p>
    {{/if}} {{#if value}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-money"></i> £{{decimal value}}</p>
    {{/if}} {{#if estCloseDate}}
    <p class="list-group-item-text"><i class="fa fa-fw fa-calendar"></i> Est. Close: {{friendlyEstClose}}</p>
    {{/if}} {{#if isArchived}} {{#if hasBeenWon}}
    <p class="text-success">Opportunity Won</p>
    {{else}}
    <p>
      <span class="text-danger">Opportunity Lost</span>{{#if reasonLost}}: {{reasonLost}}{{/if}}</p>
    {{/if}} {{/if}}
  </a>
</template>
