<template name="opportunityList">

  {{setPageTitle 'Opportunities'}}

  <div class="row list-header">
      <div class="col-md-5">
        <h1>Opportunities</h1>
        <p class="list-header-subtitle">{{oppCount}} record{{#if hasMultipleOpps}}s{{/if}}</p>
      </div>
      <div class="col-md-7 list-header-right">
        <div class="btn-group pull-right" role="group">
            {{#if isInRole 'CanCreateOpportunities'}}
                <button id="create-opportunity" type="button" class="btn btn-md btn-primary" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+O"><i class="fa fa-fw fa-plus"></i> Add opportunity</button>
            {{/if}}
            {{> smallSearchBox collectionName='opportunities'}}
        </div>
        <br>
        <ul class="list-toolbar pull-right">       
            <li><a id="toggle-close-sort" class="{{#if sortByCloseDate}}text-success{{/if}}">Sort by closing date</a></li>     
            <li><a id="toggle-archived">{{#if showArchived}}Hide{{else}}Show{{/if}} archived</a></li>     
            <li><a id="oppsOverviewWidget" data-toggle="popover" title="Opportunities Overview" data-content="<div id='oppOverviewPop'>
                <table class='table'>
                    <tbody>
                    <tr>
                        <td>Opportunities:</td>
                        <td class='text-right'>{{totalOpps}}</td>
                    </tr>
                    <tr>
                        <td>Archived Opportunities:</td>
                        <td class='text-right'>{{archivedOpps}}</td>
                    </tr>
                    <tr>
                        <td>Total Value:</td>
                        <td class='text-right'>£{{totalOppValue}}</td>
                    </tr>
                    <tr>
                        <td>Average Value:</td>
                        <td class='text-right'>£{{averageOppValue}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>">Overview</a>
            </li>
            {{> tagManagement collectionName='opportunities'}}
            <li><a id="export" data-toggle="tooltip" title="Export results to CSV" data-placement="bottom">Export</a></li>
        </ul>
      </div>
  </div>
  {{> filterPanel collectionName='opportunities'}}


  {{> searchResults index=OpportunitiesIndex listItemTemplateName='opportunityListItem'}}

</template>
