<template name="opportunityAdmin">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="entity-title">Admin</h4>
      <h1 class="entity-name">Opportunities Configuration</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          Opportunity stages
          <div class="pull-right">
            <button class="btn btn-default btn-xs">Add stage</button>
          </div>
        </div>
        <div class="panel-body">
          <p>This is where stages are configured for your sales pipeline.</p>
          <ul>
            {{#each stages}}
              {{> opportunityAdminStage}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="opportunityAdminStage">
  <li>
    <h4>{{title}}</h4>
    <p>{{description}}</p>
  </li>
</template>
