<template name="nav">
  {{> topMenu}}
  {{> sideMenu}}
</template>

<template name="notice">
  <li class="list-item">
    <a href="#" class="btnOpenNotice shortText" id="notification">
      {{#if recentNote}}
        <i class="fa fa-fw fa-{{icon}} text-primary"></i>
      {{else}}
        <i class="fa fa-fw fa-{{icon}}"></i>
      {{/if}}
      {{shortText}}<br />
      <small><em>{{shortDetail}}</em></small>
    </a>
  </li>
</template>

<template name="menuNotice">
  <tr>
    <td>
      <a href="#" class="btnOpenNotice shortText">
        {{#if recentNote}}
          <i class="fa fa-fw fa-{{icon}} text-primary"></i>
        {{else}}
          <i class="fa fa-fw fa-{{icon}}"></i>
        {{/if}}
        {{shortText}}
      </a>
    </td>
  </tr>
</template>

<template name="notificationModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2 style="margin: 10px 0 15px;"><i class="fa fa-fw fa-{{icon}} text-primary"></i> {{title}}</h2>
          <h4>{{shortDescription}}</h4>
          <p>{{detail}}</p>
        </div>

        <div class="modal-footer">
          {{#if isPersonalNotification}}
          <button type="button" class="btn btn-primary" id="removeNotification">Remove</button>
          {{/if}}
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
