<template name="purchaseOrderListItem">
  <a class="list-group-item po-list-item" href="{{pathFor route='purchaseOrder' id=__originalId}}" id="list-item">
    <div class="row">
      <div class="col-md-4">
        <h4 class="list-group-item-heading">{{{name}}}</h4>
      </div>
      <div class="col-md-2">
        {{#if supplierCompany}}
        <p class="list-group-item-text"><i class="fa fa-fw fa-building"></i>Supplier: {{supplierCompany.name}}</p>
        {{/if}}
      </div>
      <div class="col-md-2 hidden-xs">
        {{#if totalValue}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-{{userCurrencyIcon}}"></i> Total Price: {{decimalTotalValue}}</p>
        {{/if}}
      </div>
      <div class="col-md-2">
        {{#if status}}
          <span class="list-group-item-text">Status: <b>{{status}}</b> </span>
        {{/if}}
      </div>
      <div class="col-md-2">
        {{> tagBadges tags=tags index=index pullRight=true}}
      </div>
    </div>
    <div class="row items-sep {{#if showItems}}{{#if items}}visible{{/if}}{{/if}}">
      <div class="col-md-12">
        <small class="faded-text">Items</small>
        {{#each items}}
          <div class="row po-list-item-item">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              {{description}}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 faded-text">
              Product Code: {{code}}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 faded-text">
              Quantity: {{quantity}}
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 faded-text">
              Total Price: {{decimal price}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </a>
</template>
