.FadedText {
	color: #a9a9a9;
	text-align: center;
}
.items-sep {
	margin-top: 8px;
	border-top: 1px dashed #a9a9a9;
	padding-left: 20px;
	background-color: #F5F5F5;
}
.po-list-item {
	padding-bottom: 2px;
}
.po-list-item-item {
	padding-bottom: 5px;
}
.po-list-item h4.list-group-item-heading {
	margin-bottom: 0;
}