<template name="globalCustomFieldsAdmin">
  <div class="settings-section">
    <h4>
      Custom Fields
      <button type="button" class="btn btn-xs btn-primary pull-right" role="button" id="addGlobalCustomField">
        <i class="fa fa-fw fa-plus"></i> Add global custom field
      </button>
    </h4>

    {{#if hasCompanyFields}}
      <h5>Companies</h5>
      {{> globalCustomFieldList entity='company'}}
    {{/if}}
  </div>

  {{#if hasContactFields}}
  <div class="settings-section">
    <h5>Contacts</h5>
    {{> globalCustomFieldList entity='contact'}}
  </div>
  {{/if}}

  {{#if hasProjectFields}}
  <div class="settings-section">
    <h5>Projects</h5>
    {{> globalCustomFieldList entity='project'}}
  </div>
  {{/if}}

  {{#if hasProductFields}}
  <div class="settings-section">
    <h5>Products</h5>
    {{> globalCustomFieldList entity='product'}}
  </div>
  {{/if}}
 </template>
