.panel-heading .accordion-toggle:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
}
.panel-heading .accordion-toggle.collapsed:after {
	content: "\e080";
}
.userDataDisplay {
	color: #d0d0d0
}
.btn-toolbar {
	padding-bottom: 5px;
}
#listOfTenantUsers {
	padding-bottom: 5px;
	margin-bottom: 5px;
}