#fabAddContacts {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

#fabAddCompanies {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
}

#fabAddProject {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
}

#fabAddPurchaseOrders {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
}
