<template name="nav">
  <div id="id-nav-bar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          {{#if loggedIn}}
          <button id="id-menu-button" class="navbar-toggle collapsed pull-left" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{/if}}
          <a class="navbar-brand" href="/">
            <img class="hidden-xs" alt="" src="/lighter-icon.svg">
            <img class="visible-xs" alt="" src="/icon.svg"> RealTime<span>CRM</span>
          </a>
          {{#if loggedIn}}
          <button class="btn btn-primary pull-right visible-xs" id="toggle-search"><i class="fa fa-search"></i></button>
          {{/if}}
        </div>
        {{#if loggedIn}}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#if isInRole 'superadmin'}}
            <li><a href="#" id="feedback-link">Feedback</a></li>
            <li>{{> atNavButton}}</li>
            {{/if}}
            {{#unless isInRole 'superadmin'}}
            <li class="dropdown" id="global-search">
              <a href="#" class="dropdown-toggle" id="toggle-search"><i class="fa fa-search"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="help-menu"><i class="fa fa-lg fa-question"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="notifications-menu">
                {{#if recentNote}}
                <i class="fa fa-fw fa-bell"></i> {{recentNoteCount}}
                {{else}}
                <i class="fa fa-fw fa-bell"></i>
                {{/if}}
                </a>
              <ul class="dropdown-menu">
                {{#each notifications}} {{> notice}}
                {{else}}
                <em>No notifications</em>
                {{/each}}

                {{#if greaterThan recentNoteCount notificationLimit}}
                  {{#if displayShowMore}}
                  <li class="list-item">
                    <a href="#" id="show-more-notices">
                      Show More
                    </a>
                  </li>
                  {{/if}}
                  {{#if displayShowLess}}
                  <li class="list-item">
                    <a href="#" id="show-less-notices" type="hidden">
                      Show Less
                    </a>
                  </li>
                  {{/if}}
                  <li class="list-item">
                   <a href="#" id="clear-all">
                     Clear All
                   </a>
                  </li>
                {{/if}}
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="general-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-fw fa-user"></i> {{userName}}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {{#if isInRole 'Administrator'}}
                <li><a href="/admin" id="Administration">Administration</a></li>
                <li role="separator" class="divider"></li>
                {{/if}}
                <li><a href="#" id="btnChangeEmail">Change Email</a></li>
                <li><a href="#" id="btnChangePassword">Change Password</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" id="feedback-link">Give Feedback</a></li>
                <li><a href="#" id="sign-out">Sign Out</a></li>
              </ul>
            </li>
            {{/unless}}
          </ul>
        </div>
        {{/if}}
      </div>
    </nav>
  </div>

  {{#if loggedIn}}
  <div id="id-view-sidemenu">
    <ul class="panel-group" id="menu">
      {{#unless isInRole 'superadmin'}}
      <li class="panel-title {{isActiveRoute 'dashboard'}}">
        <a href='/' class="dismiss-on-click" id="menuLinkDashboard">
          <i class="fa fa-fw fa-home"></i> Dashboard
        </a>
      </li>

      <div class="panel panel-default" id="favourites">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a id="collapseFavouritesButton" data-parent="#accordion" data-toggle="collapse" href="#collapseFavourites">
              <i class="fa fa-fw fa-star"></i> Favourites
              <i class="fa fa-angle-down pull-right"></i>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="collapseFavourites">
          <div class="panel-body">
            <ul id="favourites-links">
              {{#each favourites}} {{>favourite}}
              {{/each}}
              <li class="add-favourite">
                <a data-toggle="tooltip" data-placement="bottom" title="Add this page to your favourites for easy access" id="mnuAddToFavourites"><i class="fa fa-fw fa-plus"></i>  Add</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

        <li class="panel-title {{isActiveRoute regex='activities|activity'}}">
          <a href='/activities' class="{{#unless isProTenant}}proFeature {{/unless}}dismiss-on-click" id="menuLinkActivities">
            <i class="fa fa-fw fa-history"></i> Activities
          </a>
        </li>

      {{#if isInRole 'Administrator,CanReadTasks'}}
      <li class="panel-title {{isActiveRoute regex='tasks|task'}}">
        <a href='/tasks' class="dismiss-on-click" id="menuLinkTasks">
          <i class="fa fa-fw fa-check"></i> Tasks
        </a>
      </li>
      {{/if}} {{#if isInRole 'CanReadCompanies'}}
      <li class="panel-title {{isActiveRoute regex='companies|company'}}">
        <a href='/companies' class="dismiss-on-click" id="menuLinkCompanies">
          <i class="fa fa-fw fa-building"></i> Companies
        </a>
      </li>
      {{/if}} {{#if isInRole 'CanReadContacts'}}
      <li class="panel-title {{isActiveRoute regex='contacts|contact'}}">
        <a href='/contacts' class="dismiss-on-click" id="menuLinkContacts">
          <i class="fa fa-fw fa-user"></i> Contacts
        </a>
      </li>
      {{/if}} {{#if isInRole 'CanReadOpportunities'}}
      <li class="panel-title {{isActiveRoute regex='opportunities|opportunity'}}">
        <a href='/opportunities' class="dismiss-on-click" id="menuLinkOpportunities">
          <i class="fa fa-fw fa-lightbulb-o"></i> Opportunities
        </a>
      </li>
        <li class="panel-title {{isActiveRoute regex='salespipeline'}}">
          <a href="{{pathFor route='salespipeline'}}" class="{{#unless isProTenant}}proFeature {{/unless}}dismiss-on-click" id="menuLinkSalespipeline">
            <i class="fa fa-fw fa-signal"></i> Sales Pipeline
          </a>
        </li>
      {{/if}} {{#if isInRole 'CanReadProjects'}}
      <li class="panel-title {{isActiveRoute regex='projects|project'}}">
        <a href='/projects' class="dismiss-on-click" id="menuLinkProjects">
          <i class="fa fa-fw fa-sitemap"></i> Projects
        </a>
      </li>
      {{/if}} {{#if isInRole 'CanReadProducts'}}
      <li class="panel-title {{isActiveRoute regex='products|product'}}">
        <a href='/products' class="dismiss-on-click" id="menuLinkProducts">
          <i class="fa fa-fw fa-barcode"></i> Products
        </a>
      </li>
      {{/if}}
        {{#if isInRole 'CanReadPurchaseOrders'}}
          <li class="panel-title {{isActiveRoute regex='purchaseOrders|purchaseOrder'}}">
            <a href='/purchaseorders' class="{{#unless isProTenant}}proFeature {{/unless}}dismiss-on-click" id="menuLinkPurchaseOrders">
              <i class="fa fa-fw fa-shopping-cart"></i> Purchase Orders
            </a>
          </li>
        {{/if}}{{#if isInRole 'CanReadEventLog'}}
          <li class="panel-title {{isActiveRoute 'events'}}">
            <a href='/events' class="{{#unless isProTenant}}proFeature {{/unless}}dismiss-on-click" id="menuLinkEventLog">
              <i class="fa fa-fw fa-book"></i> Event Log
            </a>
          </li>
        {{/if}}

      {{/unless}} {{#if isInRole 'superadmin'}}
      <li class="panel-title {{isActiveRoute 'tenants'}}">
        <a href="/tenants" class="dismiss-on-click">
          <i class="fa fa-fw fa-archive"></i> Tenants
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="panel-title {{isActiveRoute 'notifications'}}">
        <a href="/notifications" class="dismiss-on-click">
          <i class="fa fa-fw fa-envelope"></i> Notifications
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="panel-title {{isActiveRoute 'statistics'}}">
        <a href="/statistics" class="dismiss-on-click">
          <i class="fa fa-fw fa-bar-chart"></i> Statistics
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="panel-title {{isActiveRoute 'audit'}}">
        <a href="/audit" class="dismiss-on-click">
          <i class="fa fa-fw fa-user-secret"></i> Global Event Log
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="panel-title {{isActiveRoute 'jobs-queue'}}">
        <a href="/jobs" class="dismiss-on-click">
          <i class="fa fa-fw fa-list"></i> Jobs Queue
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {{/if}}

      <h5 class="visible-xs" style="padding-left: 20px;">Menu items</h5>

      {{#if isInRole 'superadmin'}}

      <li class="panel-title visible-xs">
        <a href="#" id="feedback-link" class="dismiss-on-click">
            Feedback
          </a>
      </li>

      <li class="panel-title visible-xs">
        <a href="#" id="sign-out" class="dismiss-on-click">
            Sign out
          </a>
      </li>

      {{/if}} {{#unless isInRole 'superadmin'}}
      <div class="panel panel-default visible-xs" id="user-menu">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion" data-toggle="collapse" href="#collapseUserName">
              <i class="fa fa-fw fa-user"></i> {{userName}}
              <i class="fa fa-angle-down pull-right"></i>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="collapseUserName">
          <div class="panel-body">
            <table class="table">
              {{#if isInRole 'Administrator'}}
              <tr>
                <td>
                  <a href="/admin" id="Administration">Administration</a>
                </td>
              </tr>
              {{/if}}
              <tr>
                <td>
                  <a href="#" id="feedback-link">Give Feedback</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#" id="btnChangePassword">Change Password</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default visible-xs" id="notifications">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-parent="#accordion" data-toggle="collapse" href="#collapseNotifications">
              {{#if recentNote}}
              {{recentNoteCount}}
              <i class="fa fa-fw fa-bell text-primary"></i>
              {{else}}
              <i class="fa fa-fw fa-bell"></i>
              {{/if}}
              Notifications
              <i class="fa fa-angle-down pull-right"></i>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="collapseNotifications">
          <div class="panel-body">
            <table class="table">
              {{#each notifications}} {{> menuNotice}} {{else}}
              <tr>
                <td>
                  <em>No notifications</em>
                </td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>

      <li class="panel-title visible-xs">
        <a href="#" id="sign-out" class="dismiss-on-click">
            Sign out
          </a>
      </li>

      {{/unless}}
    </ul>

  </div>
  {{/if}}
</template>

<template name="notice">
  <li class="list-item">
    <a href="#" class="btnOpenNotice shortText" id="notification">
      {{#if recentNote}}
        <i class="fa fa-fw fa-{{icon}} text-primary"></i>
      {{else}}
        <i class="fa fa-fw fa-{{icon}}"></i>
      {{/if}}
      {{shortText}}<br />
      <small><em>{{shortDetail}}</em></small>
    </a>
  </li>
</template>

<template name="menuNotice">
  <tr>
    <td>
      <a href="#" class="btnOpenNotice shortText">
        {{#if recentNote}}
          <i class="fa fa-fw fa-{{icon}} text-primary"></i>
        {{else}}
          <i class="fa fa-fw fa-{{icon}}"></i>
        {{/if}}
        {{shortText}}
      </a>
    </td>
  </tr>
</template>

<template name="notificationModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2 style="margin: 10px 0 15px;"><i class="fa fa-fw fa-{{icon}} text-primary"></i> {{title}}</h2>
          <h4>{{shortDescription}}</h4>
          <p>{{detail}}</p>
        </div>

        <div class="modal-footer">
          {{#if isPersonalNotification}}
          <button type="button" class="btn btn-primary" id="removeNotification">Remove</button>
          {{/if}}
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
