@import "../../bootstrap/custom.bootstrap.import.less";
#id-nav-main-view {
  height: auto;
  min-height: 100%;
}

#id-menu-button {
  border:none;
  margin:0;
  transition: all 0.15s ease-in-out;
}

#id-menu-button:focus {
  background: rgba(0,0,0,0.05);
}

#id-menu-button:hover {
  background: rgba(0,0,0,0.05);
}

#id-menu-button:active {
  background: rgba(0,0,0,0.1);
}

#id-menu-button > .icon-bar {
  background-color: #eee !important;
  transition: all 0.15s ease-in-out;
}

#id-menu-button:hover > .icon-bar {
  background-color: #ddd !important;
}

#id-menu-button:active > .icon-bar {
  background-color: #ccc !important;
}

#id-view-sidemenu {
  position:fixed;
  top:50px;
  left:0;
  bottom:0;
  width:@sidebar-width;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #eee;
  transition: all 0.15s ease-in-out;
  z-index: 999;
}

.nav > .dropdown > .dropdown-toggle {
  color: #fff;
  background: rgba(0,0,0,0) !important;
  transition: all 0.15s ease-in-out;
}

.nav > .dropdown > .dropdown-toggle:focus {
  background: rgba(0,0,0,0.1) !important;
}

.nav > .dropdown > .dropdown-toggle:hover {
  background: rgba(0,0,0,0.1) !important;
}

.nav > .dropdown > .dropdown-toggle:active {
  background: rgba(0,0,0,0.1) !important;
}

.table{
  margin-bottom: 0 !important;
}

tr > td > a {
  color: black;
}

tr > td > a:hover {
  text-decoration: none;
}
.panel-body {
  padding-bottom:0;
}
.not-active {
  pointer-events: none;
  cursor: default;
  color: #9d9d9d;
}

#accordion {
  margin-bottom:0;
  padding-top: 5px;
}

#accordion > .panel, #accordion > div > .panel {
  box-shadow:none;
  border:none;
  border-radius:0;
  margin-top:0;
}

#accordion > div > h5 {
  padding: 10px 15px 10px;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
  #id-view-sidemenu {
    left: -@sidebar-width-mobile;
    width: @sidebar-width-mobile;
  }
  #id-view-sidemenu.active {
    left: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
  }
}

#accordion .panel-heading {
  padding: 10px 15px;
}

#accordion .panel-body {
  border-bottom: 1px solid #ddd;
}

.parent-title > a {
  font-size: 1.5em;
}

.parent-title > a > i {
  font-size: 1.5em;
  margin-left: -5px;
  padding-right: 10px;
}




#favourites, #favourites > div{
  background: transparent;
  color: white;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

#favourites, #favourites > div a{
  text-decoration: none;
}

#collapseFavourites {
  overflow: hidden;
}

#collapseFavourites > div {
  background: rgba(0,0,0,0.05);
  //box-shadow: inset -17px -5px 5px -17px rgba(0,0,0,0.7);
  color: #000;
  border: none;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0 0 30px;
}

#menu > li {
  padding: 0;
  width: 100%;
}

#menu > li > a, #favourites > div > h4 > a {
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  padding: 8px 15px 8px 17px;
  width: 100%;
  display: block;
  color: rgba(0,0,0,0.8);
}

#favourites > div > h4 > a {
  padding: 11px 10px 10px 18px;
}

#menu > li > a:hover, #favourites > div > h4 > a:hover {
  background: rgba(0,0,0,0.1);
}

#menu > li > a:active, #favourites > div > h4 > a:active {
  background: rgba(0,0,0,0.15);
}

#menu > li > a.active {
  background: rgba(0,0,0,0.05);
  background: white;
  color: #000;
}

#menu > li > a > i, #favourites > div i {
  margin-right: 9px;
}
