<template name="nav">
  <div id="id-nav-bar">
    {{#if isDesktop}}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <!-- <img alt="RealtimeCRM" src="elite-32x32.png"> -->
            RealtimeCRM
            <small>alpha</small>
          </a>
        </div>
        {{#if loggedIn}}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tenancies <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li id="tenancy-one"><a href="#">Test</a></li>
                <li id="tenancy-two"><a href="#">Example</a></li>
                <li id="tenancy-three"><a href="#">Third</a></li>
              </ul>
            </li>-->

            {{#if isInRole 'superadmin'}}
            <li>
              <a href="/tenants">
                <i class="fa fa-fw fa-archive"></i> Tenants
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {{/if}} {{#unless isInRole 'superadmin'}}
            <li>
              <a href="/profile">
                <i class="fa fa-fw fa-user"></i> {{userName}}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <!--<li>
              <a href="#">
                <i class="fa fa-fw fa-building"></i> {{currentTenant}}
                <span class="sr-only">(current)</span>
              </a>
            </li>-->
            {{/unless}}
            <li><a href="#" id="feedback-link">Feedback</a></li>
            <li>{{> atNavButton}}</li>
          </ul>
        </div>
        {{/if}}
      </div>
    </nav>
    {{/if}} {{#if isPhone}} {{#if loggedIn}}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">RealtimeCRM

          <small>alpha</small></a>
        </div>

        <div class="collapse navbar-collapse" id="mobileMenu">

          <ul class="nav navbar-nav">
          <li>{{> atNavButton}}</li>
            <li class="active"><a href="#" id="feedback-link">Feedback</a></li>
          </ul>

                  {{#unless isInRole 'superadmin'}}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Dashboard </a></li>
            <li class="phone-not-active"><a href="/tasks">Tasks </a></li>
          </ul>

<div class="phone-not-active">

          <b>Favourites</b>
          <ul class="nav navbar-nav">
            <li class="not-active">
              <a href="#">
                <em>No favourites</em>
              </a>
            </li>
          </ul>
        </div>

          <b>Marketing</b>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/companies">Companies </a></li>
            <li class="active"><a href="/contacts">Contacts </a></li>
            <li class="phone-not-active"><a href="/campaigns">Campaigns </a></li>
          </ul>

          <b>Sales</b>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/companies">Companies </a></li>
            <li class="active"><a href="/contacts">Contacts </a></li>
            <li class="phone-not-active"><a href="/opportunities">Opportunities </a></li>
          </ul>

          <b>Operations</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/customers">Customers </a></li>
            <li class="active"><a href="/projects">Projects </a></li>
          </ul>

          <b>Purchasing</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/suppliers">Suppliers </a></li>
            <li class="phone-not-active"><a href="/procurements">Procurements </a></li>
            <li class="active"><a href="/purchaseorders">Purchase Orders </a></li>
            <li class="phone-not-active"><a href="/contracts">Contracts </a></li>
            <li class="phone-not-active"><a href="/invoices">Invoices </a></li>
          </ul>

          <b>Support</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/tickets">Tickets </a></li>
          </ul>

          <b>Reporting</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/auditlog">Audit Log </a></li>
          </ul>

          <b>HR</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/employees">Employees </a></li>
            <li class="phone-not-active"><a href="/holidays">Holidays </a></li>
            <li class="phone-not-active"><a href="/absences">Absences </a></li>
            <li class="phone-not-active"><a href="/timesheets">Timesheets </a></li>
          </ul>

          <b>General</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/templates">Templates </a></li>
            <li class="phone-not-active"><a href="/products">Products </a></li>
            <li class="phone-not-active"><a href="/components">Components </a></li>
          </ul>
          {{/unless}}
        </div>
      </div>
    </nav>
    {{/if}} {{/if}}
  </div>

  <div id="id-nav-main-view">
    {{> view}}
  </div>
</template>
