<template name="phoneNav">
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="pull-right" style="margin-right:4px;">
        {{> atNavButton}}
        </div>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Realtime</a>
      </div>

      {{#if loggedIn}}
      <div class="collapse navbar-collapse" id="mobileMenu">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#" id="feedback-link">Feedback </a></li>
          </ul>

          {{#unless isInRole 'superadmin'}}

          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Dashboard </a></li>
            <li class="phone-not-active"><a href="/tasks">Tasks </a></li>
          </ul>

          <div class="phone-not-active">

            <b>Favourites</b>
            <ul class="nav navbar-nav">
              <li class="not-active">
                <a href="#">
                  <em>No favourites</em>
                </a>
              </li>
            </ul>
          </div>

          <b>Marketing</b>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/companies">Companies </a></li>
            <li class="active"><a href="/contacts">Contacts </a></li>
            <li class="phone-not-active"><a href="/campaigns">Campaigns </a></li>
          </ul>

          <b>Sales</b>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/companies">Companies </a></li>
            <li class="active"><a href="/contacts">Contacts </a></li>
            <li class="phone-not-active"><a href="/opportunities">Opportunities </a></li>
          </ul>

          <b>Operations</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/customers">Customers </a></li>
            <li class="active"><a href="/projects">Projects </a></li>
          </ul>

          <b>Purchasing</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/suppliers">Suppliers </a></li>
            <li class="phone-not-active"><a href="/procurements">Procurements </a></li>
            <li class="active"><a href="/purchaseorders">Purchase Orders </a></li>
            <li class="phone-not-active"><a href="/contracts">Contracts </a></li>
            <li class="phone-not-active"><a href="/invoices">Invoices </a></li>
          </ul>

          <b>Support</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/tickets">Tickets </a></li>
          </ul>

          <b>Reporting</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/auditlog">Audit Log </a></li>
          </ul>

          <b>HR</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/employees">Employees </a></li>
            <li class="phone-not-active"><a href="/holidays">Holidays </a></li>
            <li class="phone-not-active"><a href="/absences">Absences </a></li>
            <li class="phone-not-active"><a href="/timesheets">Timesheets </a></li>
          </ul>

          <b>General</b>
          <ul class="nav navbar-nav">
            <li class="phone-not-active"><a href="/templates">Templates </a></li>
            <li class="phone-not-active"><a href="/products">Products </a></li>
            <li class="phone-not-active"><a href="/components">Components </a></li>
          </ul>
          {{/unless}}      

      </div>
      {{/if}}
    </div>
  </nav>
</template>
