<template name="updateContactModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Edit contact details</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Contacts" id="updateContactForm" type="update" doc=this}}
            {{#if showTitleField}}
              {{> afQuickField name="title" id="contactTitlePicklist"}}
            {{/if}}
            {{> afQuickField name="forename"}}
            {{> afQuickField name="surname"}}
            {{> afQuickField name="jobtitle"}}
            {{> afQuickField name="phone" value=phone}}
            {{> afQuickField name="mobile"}}
            {{> afQuickField name="email"}}
            {{#if noCompany}}
              <div class="form-group"><a href="#" class="btn btn-default btn-sm" id="show-map">New location search</a></div>
              {{#if isDesktop}}
              <div id="map_wrapper" class="form-group" style="display: none;">
                <div class="form-group">
                  <label for="geo" class="control-label">Search for Address, City, etc.</label>
                  <input type="text" id="geo" class="form-control" autocomplete="off" />
                </div>
                <label class="control-label">Map (drag marker to adjust position)</label>
                <div id="mapModal_canvas"></div>
                <span class="help-block"></span>
              </div>
              {{/if}}
              {{> afQuickField name="address" id="formatted_address"}}
              {{> afQuickField name="address2"}}
              {{> afQuickField name="city" data-geo="locality"}}
              {{> afQuickField name="county" data-geo="administrative_area_level_2"}}
              {{> afQuickField name="postcode" data-geo="postal_code"}}
              {{> afQuickField name="country" data-geo="country"}}
              {{> afQuickField name="lat" data-geo="lat"}}
              {{> afQuickField name="lng" data-geo="lng"}}
            {{/if}}
            <button type="submit" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
