<template name="feedbackModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Feedback</h4>
        </div>
        <div class="modal-body">
          <p>Have some feedback? Spotted a problem or have an idea for improvement?
            <br />
            <br />Fill in the box below and press the Submit button - your input will be added to our list, and we may be in touch to discuss it with you further!</p>
          {{#autoForm schema=FeedbackSchema id="feedbackForm" type="method" meteormethod="feedback.sendFeedback"}}
          {{> afQuickField name="name" type="hidden" value=userName}}
          {{> afQuickField name="email" type="hidden" value=emailAddress}}
          {{> afQuickField name="message" rows=10}}
          {{> afQuickField name="url" type="hidden" value=currentUrl}}
          <button type="submit" class="btn btn-primary">Submit</button>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
