<template name="taskItem">
{{#if entityDetails.permissionToRead}}
  <li class="list-group-item task-item {{#if isListView}}task-list-item{{/if}}">
    {{> taskTick checked=task.completed taskId=task._id}}
    <a href="{{pathFor route='task' id=task._id}}">
      <div class="task-left">
        <span class="task-title">{{task.title}}</span>
        {{#if showEntity}}{{#if entityDetails.name}}
          <br><small class="task-entity"><span class="fa fa-fw fa-{{entityDetails.icon}}"></span>{{entityDetails.name}}</small>
        {{/if}}{{/if}}
      </div>

      <div class="task-right">
        {{#if task.completed}}
          <span class="task-date green">Completed on {{formattedCompletionDate}}</span>
        {{else}}
          {{#if task.assigneeId}}{{#if showAssignee}}
            <span class="task-assignee"><i>{{taskAssignee}}</i></span>
          {{/if}}{{/if}}
          {{#if formattedDueDate}}
            <span class="task-date {{taskStatusCss}}" title="Due {{dueDate}}">Due {{formattedDueDate}}</span>
          {{/if}}
        {{/if}}
        {{> tagBadges tags=task.tags index=index pullRight=false}}
      </div>
    </a>
  </li>
{{/if}}
</template>