<template name="salesPipeline">
  {{setPageTitle "Sales Pipeline"}}
  <div class="row">
    <div class="col-md-12">
      <h1>Sales Pipeline</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel-default panel">
        <div class="panel-heading">
          Sales pipeline
        </div>
        <div class="panel-body" id="funnel-container">
          {{#if hasData}}
          <div id="funnel"></div>
          {{else}}
          <p>Add some opportunities to get started!</p>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-default panel">
        {{#if selectedStage}}
        <div class="panel-heading">
          Opportunities: {{selectedStage.title}}
        </div>
        <div class="panel-body">
          Average Value:
          <span class="pull-right">{{decimal stageValues.averageValue}}</span>
          <br> Total Value:
          <span class="pull-right">{{decimal stageValues.totalValue}}</span>
        </div>
        <ul class="list-group">
          {{#each opportunities}}
            {{> salesPipelineListItem}}
          {{/each}}
        </ul>
        {{else}}
        <div class="panel-body">
          <h4>Select a stage to view the corresponding opportunities</h4>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="salesPipelineListItem">
  <a class="list-group-item" href="{{pathFor route='opportunity' id=_id}}">{{name}} <span class="fadedText">{{entity}}</span></a> 
</template>
