<template name="productsOverviewWidget">
  <div>
    <span id="#ref_productsOverviewWidget" data-toggle="popover" title="Products Overview" data-content="
    <div><ul class='list-unstyled'>
      <li>Products:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalProducts}}</span></li>
      <li>Total cost:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>£{{totalProductsCost}}</span></li>
      <li>Average cost of products:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>£{{averageProductsCost}}</span></li>
    </div>">
    <button class="btn btn-md"><i class="fa fa-fw fa-tasks"></i>&nbsp;Overview</button></span>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({html : true, placement : "bottom"});
    });
  </script>
</template>
