<template name="contactList">

  {{setPageTitle 'Contacts'}}
  <div class="row list-header">
      <div class="col-md-5">
        <h1>Contacts</h1>
        <p class="list-header-subtitle">{{contactCount}} record{{#if hasMultipleContacts}}s{{/if}}</p>
      </div>
      <div class="col-md-7 list-header-right">
        <div class="btn-group pull-right" role="group">
            {{#if isInRole 'CanCreateContacts'}}
                <button type="button" class="btn btn-md btn-primary addContactToCompany" id="add-contact" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+X"><i class="fa fa-fw fa-plus"></i> Add contact</button>
            {{/if}}
            {{> smallSearchBox collectionName='contacts'}}
        </div>
        <br>
        <ul class="list-toolbar pull-right">        
            {{> tagManagement collectionName='contacts'}}           
            {{> contactDataManagement}} 
            <li><a id="export" data-toggle="tooltip" title="Export results to CSV" data-placement="bottom">Export</a></li>
        </ul>
      </div>
  </div>
  {{> filterPanel collectionName='contacts'}}

  <div class="search-results" id="search-results">
    {{> searchResults index=ContactsIndex listItemTemplateName='contactListItem'}}
  </div>

  {{> autoformModals}}

</template>
