<template name="contactList">

  {{setPageTitle 'Contacts'}}

  <div class="row">

    <div class="col-md-3">
      <div class="sidebar">
        <h1>Actions</h1>
        {{> esInput index="contacts" placeholder="search..." allDocsOnEmpty=true reactive=false class="form-control"}}
        <div class="btn-group-vertical">
          <a class="btn btn-primary addContactToCompany" href="#" id="add-contact">
            <i class="fa fa-plus"></i>
            Add contact</a>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <h1>
        <i class="fa fa-users"></i>
        Contacts</h1>
      <small>{{contactCount}}
        record
        {{#if hasMultipleContacts}}s{{/if}}
      </small>

      {{#if hasContacts}}
        <div class="list-group">
          {{#ifEsIsSearching index="contacts"}}
            {{> spinner}}
            {{else}}
            {{#esEach index="contacts"}}
              {{> contactListItem}}
            {{/esEach}}
            {{> esLoadMoreButton index="contacts" class="btn btn-default"}}
          {{/ifEsIsSearching}}
        </div>
        {{else}}
        <br/>
        <h4 style="color:gray;">No contacts</h4>
      {{/if}}

    </div>
  </div>

  {{> autoformModals}}

</template>

<template name="contactListItem">
  <a class="list-group-item" href="{{pathFor route='contact' id=_id}}">
<!-- <span class="badge">&gt;</span> -->
    <span class="pull-right">{{> tagBadges}}</span>
    <h4 class="list-group-item-heading">{{name}}</h4>
    {{#if companyName}}
      <p class="list-group-item-text">
        <i class="fa fa-building"></i>
        {{companyName}}</p>
    {{/if}}
  </a>
</template>

<template name="importContactHelpModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>Importing with templates</h4>
        </div>
        <div class="modal-body">
          <p>Importing contacts couldn't be simpler:</p>
          <ol type="1">
            <li>Download the template that we've provided.</li>
            <li>Fill it with your data. The first row indicates what to put where. Please don't alter this line, or the import will fail.</li>
            <li>Click the Import option.</li>
            <li>Select the completed file and press the Open button.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>
