<template name="contactList">

  {{setPageTitle 'Contacts'}}

  <div class="row">
    <div class="col-md-12">
      <h1><i class="fa fa-users"></i> Contacts</h1>
      <div class="stick-bar">
        <div class="row">
          <div class="col-md-3">
            {{> esInput index="contacts" placeholder="search..." allDocsOnEmpty=true reactive=false class="form-control"}} 
          </div>
          <div class="col-md-3">
          {{#if isInRole 'Administrator,CanCreateContacts'}}
            <a class="btn btn-primary addContactToCompany {{#if isMobile}}btn-fullWidth{{/if}}" href="#" id="add-contact" data-toggle="tooltip" data-placement="bottom" title="Ctrl+Alt+X"><i class="fa fa-fw fa-plus"></i> Add contact</a>
          {{/if}}
          </div>
        </div>
      </div>
      <small>{{contactCount}} record{{#if hasMultipleContacts}}s{{/if}}</small>

      <div class="list-group">
        {{#esEach index="contacts"}}
          {{> contactListItem}}
        {{/esEach}}

        {{#ifEsHasNoResults index="contacts"}}
          <h4>No contacts found</h4>
        {{/ifEsHasNoResults}}

        {{#ifEsIsSearching index="contacts"}}
          {{> spinner}}
        {{/ifEsIsSearching}}
      </div>
      <div class="pull-right">
        {{> esPagination index="contacts"}}
      </div>
    </div>
  </div>

  {{> autoformModals}}

</template>

<template name="importContactHelpModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>Importing with templates</h4>
        </div>
        <div class="modal-body">
          <p>Importing contacts couldn't be simpler:</p>
          <ol type="1">
            <li>Download the template that we've provided.</li>
            <li>Fill it with your data. The first row indicates what to put where. Please don't alter this line, or the import will fail.</li>
            <li>Click the Import option.</li>
            <li>Select the completed file and press the Open button.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>
