<template name="contactDetail">
  {{#with contactData}} {{setPageTitle "Contact - " name }}
  <div class="row">
    <div class="col-md-2 hidden-xs hidden-sm">
      <div class="sidebar">
        <h1>Actions</h1>

        <ul class="nav nav-stacked">
          <li><a href="#contact-details">Contact details</a></li>
          <li><a href="#activity-timeline">Activity timeline</a></li>
        </ul>

      </div>
    </div>

    <div class="col-md-6">
      {{#if metadata.clearbit.avatar}}
      <img class="img-circle avatar pull-right" src="{{metadata.clearbit.avatar}}" /> {{/if}}

      <h4 class="entity-title">Contact</h4>
      <h1 id="contact-details" class="entity-name">{{name}}</h1>

      {{> tagInput tags=tags collection='contacts' entityId=_id permissionToEdit='CanEditContacts'}}

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            {{#if isInRole 'Administrator,CanEditContacts'}}
            <a href="#" id="edit-contact" class="btn btn-info btn-xs">Edit contact details</a>{{/if}} {{#if isInRole 'Administrator,CanDeleteContacts'}}
            <a href="#" id="remove-contact" class="btn btn-danger btn-xs">Delete contact</a>{{/if}}
          </div>
          Contact details</div>
        <ul class="list-group">
          {{#if company}} {{#if isInRole 'Administrator,CanReadCompanies'}}
          <a href="{{pathFor route='company' id=company._id}}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Navigate to company details">
            <i class="fa fa-fw fa-building"></i> {{company.name}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{/if}} {{/if}} {{#if jobtitle}}
          <li class="list-group-item">
            <i class="fa fa-fw fa-graduation-cap"></i> {{jobtitle}}
          </li>
          {{/if}} {{#if email}}
          <li class="list-group-item">
            <i class="fa fa-fw fa-envelope"></i> {{email}}
          </li>
          {{/if}} {{#if phone}}
          <a href="{{phoneHref phone}}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="">
            <i class="fa fa-fw fa-phone"></i> {{phone}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{/if}} {{#if mobile}}
          <a href="{{phoneHref mobile}}" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="">
            <i class="fa fa-fw fa-mobile"></i> {{mobile}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{/if}}
        </ul>
      </div>


      {{#if isInRole 'Administrator,CanReadProjects'}}
      <div class="panel panel-default">
        <div class="panel-heading" id="projects">
          Projects {{#if isInRole 'Administrator,CanCreateProjects'}}
          <a href="#" id="add-project" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New project for this contact"><i class="fa fa-fw fa-plus"></i> Add project</a> {{/if}}
        </div>
        <ul class="list-group">
          {{#each projects}} {{> ContactProjectListItem}} {{else}}
          <li class="list-group-item">No projects</li>
          {{/each}}
        </ul>
      </div>
      {{/if}} {{#if isInRole 'Administrator,CanReadPurchaseOrders'}}
      <div class="panel panel-default">
        <div class="panel-heading" id="purchase-orders">
          Purchase Orders<!-- {{#if isInRole 'Administrator,CanCreatePurchaseOrders'}}
           <a href="#" id="add-purchase-order" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New purchase order for this contact"><i class="fa fa-fw fa-plus"></i> Add purchase order</a> {{/if}} -->
        </div>
        <ul class="list-group">
          {{#each purchaseOrders}}
          <a href="{{pathFor route='purchaseOrder' id=_id}}" class="list-group-item">
            <i class="fa fa-fw fa-shopping-cart"></i> {{description}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a> {{else}}
          <li class="list-group-item">No purchase orders</li>
          {{/each}}
        </ul>
      </div>
      {{/if}} {{#if isInRole 'Administrator,CanReadTasks'}} {{#with this}} {{> taskDisplay entity_type="contact" entity_id=_id}} {{/with}}{{/if}}

      <div>
        {{#if isInRole 'Administrator,CanEditContacts'}}{{#with this}} {{> customFieldDisplay entity_data=this entity_type='contact'}} {{/with}}{{/if}}
      </div>

      {{#if isInRole 'Administrator,CanReadOpportunities'}}
      <div class="panel panel-default">
        <div class="panel-heading" id="opportunities">
          Opportunities {{#if isInRole 'Administrator,CanCreateOpportunities'}}
          <a href="#" id="add-opportunity" class="btn btn-primary btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="New opportunity for this company"><i class="fa fa-fw fa-plus"></i> Add opportunity</a> {{/if}}
        </div>
        <ul class="list-group">
          {{#each opportunities}}
          <a href="{{pathFor route='opportunity' id=_id}}" class="list-group-item">
            <i class="fa fa-fw fa-lightbulb-o"></i> {{name}}
            <i class="fa fa-fw fa-chevron-right pull-right"></i>
          </a>
          {{else}}
          <li class="list-group-item">No opportunities</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>

    <div class="col-md-4">

      {{> publicContactInformation}}

      <h1>Address</h1>
      {{> map title=mapTitle address=mapAddress}}
    </div>

  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h1 id="activity-timeline">
        Activity Timeline
        <a href="#" class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="bottom" title="New activity for this contact" id="add-activity"><i class="fa fa-fw fa-plus"></i> Add activity</a>
      </h1>
      {{> activityTimeline activities=activities}}
    </div>
  </div>

  {{> autoformModals}} {{/with}}
</template>

<template name="ContactProjectListItem">
  <a href="{{pathFor route='project' id=_id}}" class="list-group-item">
    <div class="row">
      <div class="col-md-8">
        <i class="fa fa-fw fa-sitemap"></i> {{name}}
      </div>
      <div class="col-md-3 userDataDisplay">
        {{#if companyProject}}<i class="fa fa-fw fa-building"></i> {{projectCompanyName}}{{/if}}
      </div>
      <div class="col-md-1">
        <i class="fa fa-fw fa-chevron-right pull-right"></i>
      </div>
    </div>
  </a>
</template>
