<template name="editContactModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5>Edit contact details</h5>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Contacts" id="editContactForm" type="update" doc=this}}
            {{> afQuickField name="title" options="allowed"}}
            {{> afQuickField name="forename"}}
            {{> afQuickField name="surname"}}
            {{> afQuickField name="phone" value=phone}}
            {{> afQuickField name="mobile"}}
            {{> afQuickField name="jobtitle"}}
            <div id="addressWrapper" style="display: none;">
              <div><a href="#" id="show-map">New location search</a></div>
              {{#if isDesktop}}
              <div id="map_wrapper" class="form-group" style="display: none;">
                <div class="form-group">
                  <label for="geo" class="control-label">Search for Address, City, etc.</label>
                  <input type="text" id="geo" class="form-control" autocomplete="off" />
                </div>
                <label class="control-label">Map (drag marker to adjust position)</label>
                <div id="mapModal_canvas"></div>
                <span class="help-block"></span>
              </div>
              {{/if}}
              {{> afQuickField name="address" id="formatted_address"}}
              {{> afQuickField name="address2"}}
              {{> afQuickField name="city" data-geo="locality"}}
              {{> afQuickField name="county" data-geo="administrative_area_level_2"}}
              {{> afQuickField name="postcode" data-geo="postal_code"}}
              {{> afQuickField name="country" data-geo="country"}}
              {{> afQuickField name="lat" data-geo="lat"}}
              {{> afQuickField name="lng" data-geo="lng"}}
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
