<!-- Expects to be called in companyDetail context -->
<template name="insertCompanyContactModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new contact</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Contacts" id="insertCompanyContactForm" type="insert"}}
            {{> afQuickField name="forename"}}
            {{> afQuickField name="surname"}}
            {{> afQuickField name="email"}}
            {{> afQuickField name="phone" value=phone}}
            {{> afQuickField name="mobile"}}
            {{> afQuickField name="jobtitle"}}
            {{> afQuickField name="companyId" type="hidden" value=_id}}
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>

<template name="insertContactModal">
  <div class="modal fade"  id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Add new contact</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Contacts" id="insertContactForm" type="insert"}}
            {{> afQuickField name="forename"}}
            {{> afQuickField name="surname"}}
            {{> afQuickField name="email"}}
            {{> afQuickField name="phone" value=phone}}
            {{> afQuickField name="mobile"}}
            {{> afQuickField name="jobtitle"}}
            {{> esSelectize name="companyId" index=CompaniesIndex allowCreate=true}}
            <div id="addressWrapper">
              <div class="form-group">
                <label for="geo" class="control-label">Search for Address, City, etc.</label>
                <input type="text" id="geo" class="form-control" autocomplete="off" />
              </div>
              <div id="address_details" style="display:none;">
                {{> afQuickField name="address" id="formatted_address"}}
                {{> afQuickField name="address2"}}
                {{> afQuickField name="city" data-geo="locality"}}
                {{> afQuickField name="county" data-geo="administrative_area_level_2"}}
                {{> afQuickField name="postcode" data-geo="postal_code"}}
                {{> afQuickField name="country" data-geo="country"}}
                {{> afQuickField name="lat" data-geo="lat"}}
                {{> afQuickField name="lng" data-geo="lng"}}
                {{#if isDesktop}}
                  <div id="map_wrapper" class="form-group" style="display: none;">
                    <label class="control-label">Map (drag marker to adjust position)</label>
                    <div id="map_canvas"></div>
                    <span class="help-block"></span>
                  </div>
                {{/if}}
              </div>
            </div>
            {{> afQuickField name="createdBy" value=currentUser }}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
