<template name="publicContactInformation">
{{#if hasMetadata}} {{#with metadata.clearbit}}
  <h1>Public information</h1>
  <ul class="list-group">
    {{#if location}}
    <li class="list-group-item panel-item-header">
      <h4><i class="fa fa-fw fa-map-marker"></i> Location</h4>
      <p class="list-group-item-text">{{location}}</p>
    </li>
    {{/if}}
    {{#if site}}
    <a href="{{site}}" title="View website" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-chevron-right pull-right"></i>
      <i class="fa fa-fw fa-link"></i> View website <span class="pull-right">{{site}}</span>
    </a>
    {{/if}}
    {{#if linkedin.handle}}
    <a href="http://linkedin.com/{{linkedin.handle}}" title="View linkedin page" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-linkedin"></i> View on LinkedIn
      <i class="fa fa-fw fa-chevron-right pull-right"></i>
    </a>
    {{/if}}
    {{#if twitter.handle}}
    <a href="http://twitter.com/{{twitter.handle}}" title="View twitter page" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-twitter"></i> View on Twitter | {{twitter.followers}} followers | {{twitter.following}} following
      <i class="fa fa-fw fa-chevron-right pull-right"></i>
    </a>
    {{/if}}
    {{#if facebook.handle}}
    <a href="http://facebook.com/{{facebook.handle}}" title="View facebook page" target="_blank" class="list-group-item">
      <i class="fa fa-fw fa-facebook"></i> View on Facebook
      <i class="fa fa-fw fa-chevron-right pull-right"></i>
    </a>
    {{/if}}
  </ul>
{{/with}} {{/if}}
</template>
