<template name="events">

  {{setPageTitle 'Event Log'}}

  <div class="row list-header">
      <div class="col-md-5">
        <h1>Event Log</h1>
      </div>
      <div class="col-md-7 list-header-right">
        <div class="btn-group pull-right" role="group">
          <div class="btn btn-danger" id="clear-log"><i class="fa fa-fw fa-times"></i>Clear Log</div>
          {{> smallSearchBox collectionName='eventLog' hideHelpButton='true'}}
        </div>
      </div>
  </div>

  {{> searchResults index=EventLogIndex listItemTemplateName='eventEntry'}}
</template>

<template name="eventEntry">
  <li class="list-group-item" id="list-item">
    <div class="row">
      <div class="col-md-2">
        {{friendlyDate}}
      </div>
      <div class="col-md-1">
        <span class="badge">{{source}}</span>
      </div>
      <div class="col-md-1">
        {{{displayLevel}}}
      </div>
      <div class="col-md-5">
        {{message}}
      </div>
      <div class="col-md-3 userDataDisplay">
        {{#if entityType}}
          {{#if isLinkable}}
            <a href="{{pathFor route=entityType id=entityId}}"><i class='fa fa-fw fa-{{entityIcon}}'></i> View {{entityType}} record</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </li>
</template>
