<template name="globalSearch">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group">
            {{> inputAutocomplete settings=settings id="globalSearchBox" class="input" placeholder="...start typing here to search all of your records...." autofocus=true}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="resultPill">
  {{{parsedData}}}
</template>
