.filter-panel {
    transition: 0.1s all ease-in-out;
    display: block;
}

#filtersSearch .selectize-input{
    border: none;
    padding-left: 5px;
    padding-top: 0;
    border-radius: 0;
    color: blue;
    text-decoration: underline;
    padding-bottom: 0px;
}

.filter-results {
  display: inline-flex;
  flex-direction: row;
}

.filter-right {
  flex-grow: 3;
}
