<template name="openPoWidget">
  <div class="grid-stack-item-content panel panel-default" id='openPoBox'>
    <div class="panel-heading">
      <i class="fa fa-fw fa-cart-plus"></i>
      <button aria-hidden="true" class="close" id="close_openPoWidget" type="button">×</button>
      Requested Purchase Orders
    </div>
    <div class="panel-body">
      <div class="openPoList">
        <ul class="list-unstyled">
          {{#each openPos}}
            {{>openPoEntry}}
            {{else}}
            <li>
              No requested purchase orders
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="openPoEntry">
<li>
  <i class="fa fa-fw fa-shopping-cart"></i>
  <a href="{{pathFor route='purchaseOrder' id=_id}}">
    {{description}}</a>
  <span class="pull-right" style="color:#BABABA;">£{{decimal totalValue}}</span>
</li>
</template>
