<template name="testWidget">
  <div id="testWidget">
    <div class="grid-stack-item-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button type="button" class="close" id="close_testWidget" aria-hidden="true">×</button>
          Test Widget
        </div>
        <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>
</template>