<template name="notificationAdmin">
  {{setPageTitle 'Notifications'}}
  <h1>
    <i class="fa fa-fw fa-envelope"></i> Notifications</h1>
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Notification title..." id="txtNotificationTitle" style="margin-bottom:4px;">
      </div>
      <div class="col-md-7">
        <input type="text" class="form-control" placeholder="Notification text..." id="txtNotification" style="margin-bottom:4px;">
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" id="btnRaiseNotification" type="button">Raise this notification</button>
      </div>
    </div>
  </div>

  <ul class="list-group">
    {{#each notifications}} {{> notification}} {{else}}
    <div class="list-group-item ">
      <em>No notifications sent</em>
    </div>
    {{/each}}
  </ul>


</template>

<template name="notification">
  <div class="list-group-item">
    <div class="row">

      <div class="col-md-10">
        <b>Title:</b> {{title}}
        <br />
        <b>Detail:</b> {{detail}}
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger pull-right btn-xs" id="btnDeleteNotification" type="button">
          <i class="fa fa-fw fa-times"></i> Remove notification
        </button>
      </div>

    </div>
  </div>
</template>
