<template name="notificationAdmin">
  {{setPageTitle 'Notifications'}}
  <h1>
    <i class="fa fa-fw fa-envelope"></i> Notifications</h1>
  <div class="well well-sm">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Notification text..." id="txtNotification">
      <span class="input-group-btn">
        <button class="btn btn-success " id="btnRaiseNotification" type="button">Raise this notification</button>
      </span>
    </div>
  </div>

  <ul class="list-group">
    {{#each notifications}} {{> notification}} {{else}}
    <div class="list-group-item ">
      <em>No notifications sent</em>
    </div>
    {{/each}}
  </ul>


</template>

<template name="notification">
  <div class="list-group-item">
    {{detail}}
    <button class="btn btn-danger pull-right btn-xs" id="btnDeleteNotification" type="button">
      <i class="fa fa-fw fa-times"></i> Remove notification
    </button>
  </div>
</template>
