<template name="emailPage">
  <p>Thames Labs lets you attach emails to records so you can keep track of your communications with contacts. This feature will work for users of Microsoft Exchange, Office365 and Gmail.</p>

  <p>All you need to do is copy in the address <a>inbox@realtimecrm.co.uk</a> (By using CC or BCC) when emailing a contact. Thames Labs will then add your email to that contact’s record on the system.</p>

  <p>There are just a couple things to bear in mind:</p>
  <ul>
    <li>Thames Labs uses your email address to figure out that the email should be added to your account. That means you must be using the email address associated with your Thames Labs account to make sure the email is added to the record.</li>
    <li>Similarly, the system uses your contact’s address to add the email to the record, so please use the contact address on the system to ensure the email is added.</li>
  </ul>
  <b>Helpful hint:</b> The email will appear instantly on your Activity Timeline at the bottom of the contact’s record in Thames Labs.
</template>
