<template name="sideMenu">
  {{#if loggedIn}}
  <div id="id-view-sidemenu">
    <ul class="panel-group" id="menu">
      {{#if isInRole 'superadmin'}}

        {{> menuButton title='Tenants' page='tenants' icon='archive' permissions='superadmin' activeRoutes='tenants'}}
        {{> menuButton title='Notifications' page='notifications' icon='envelope' permissions='superadmin' activeRoutes='notifications'}}
        {{> menuButton title='Statistics' page='statistics' icon='bar-chart' permissions='superadmin' activeRoutes='statistics'}}
        {{> menuButton title='Global Event Log' page='audit' icon='user-secret' permissions='superadmin' activeRoutes='audit'}}

      {{else}}

        {{> menuButton title='Dashboard' page='/' icon='home' permissions='' activeRoutes='dashboard' linkId='dashboard'}}
        {{> favourites }}
        {{> menuButton title='Activities' page='activities' icon='history' permissions='' activeRoutes='activities' proFeature='true' linkId='activities'}}
        {{> menuButton title='Tasks' page='tasks' icon='check' permissions='Administrator,CanReadTasks' activeRoutes='tasks|task'}}
        {{> menuButton title='Companies' page='companies' icon='building' permissions='CanReadCompanies' activeRoutes='companies|company'}}
        {{> menuButton title='Contacts' page='contacts' icon='user' permissions='CanReadContacts' activeRoutes='contacts|contact'}}
        {{> menuButton title='Opportunities' page='opportunities' icon='lightbulb-o' permissions='CanReadOpportunities' activeRoutes='opportunities|opportunity'}}
        {{> menuButton title='Sales Pipeline' page='salespipeline' icon='signal' permissions='CanReadOpportunities' activeRoutes='salespipeline'}}
        {{> menuButton title='Projects' page='projects' icon='sitemap' permissions='CanReadProjects' activeRoutes='projects|project'}}
        {{> menuButton title='Products' page='products' icon='barcode' permissions='CanReadProducts' activeRoutes='products|product'}}
        {{> menuButton title='Purchase Orders' page='purchaseorders' icon='shopping-cart' permissions='CanReadPurchaseOrders' activeRoutes='purchaseOrders|purchaseOrder' proFeature='true'}}
        {{> menuButton title='Event Log' page='events' icon='book' permissions='CanReadEventLog' activeRoutes='events' proFeature='true' linkId='eventlog'}}

      {{/if}}

      <h5 class="visible-xs" style="padding-left: 20px;">Menu items</h5>

      <li class="visible-xs">
        <a href='#' class="menu-button" id="feedback-link">
          <i class="fa fa-fw fa-comment-o"></i> Feedback
        </a>
      </li>

      {{#unless isInRole 'superadmin'}}
        <li class="visible-xs">
          <a href='/settings/profile' class="menu-button">
            <i class="fa fa-fw fa-cog"></i> Settings
          </a>
        </li>
      {{/unless}}

      <li class="visible-xs">
        <a href='#' class="menu-button" id="sign-out">
          Sign out
        </a>
      </li>
    </ul>
  </div>
  {{/if}}
</template>