<template name="dashboard">

  {{setPageTitle 'Dashboard'}}
  <h1 id="dashboard-page-header"><i class="fa fa-fw fa-home"></i> Dashboard</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default" id='chatBox'>
        <div class="panel-heading">
          Chatter
        </div>
        <div class="panel-body" style="margin-bottom:5px;">
          <div class="chatWindow">
            <ul class="list-unstyled">
              {{#each chatMessages}} {{> message}} {{else}}
              <li>
                No chat messages
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input type="text" class="form-control chatMessage" placeholder="Enter message (be nice!)...">
            <span class="input-group-btn">
              <button class="btn btn-default sendMessage" type="button">OK</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading" id="quote-box">
          Quotation of the day
        </div>
        <div class="panel-body" style="padding:0">
          <blockquote>
            <p>{{quotationOfDay.Quote}}</p>
            <footer>{{quotationOfDay.Person}}</footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default" id='onlineUsersBox'>
        <div class="panel-heading">
          Online Users
        </div>
        <div class="panel-body">
          <ul class="list-group">

            {{#each onlineColleagues}} {{> colleagueData}} {{/each}}

          </ul>
        </div>
        <div class="panel-footer" style="margin:0;">
          <small>Offline Users:<br />
          <p>
            {{{offlineColleagues}}}
          </p>
          </small>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      {{> taskDisplay entity_type="user" entity_id=getCurrentUserId}}
    </div>
  </div>
</template>

<template name="colleagueData">
  <li class="list-group-item">
    <i class="fa fa-fw fa-circle text-success"></i> {{user}} {{#if last}}
    <br />
    <small>Currently viewing:
      <em>
        <span class="activeUserLink">{{last}}</span>
      </em>
    </small>{{/if}}
  </li>
</template>

<template name="message">
  <li>
    <p>
      <em class="chatUserName">{{user}}</em>
      <em class="chatTimestamp">{{niceTime}}
        <br />
      </em>{{message}}</p>
  </li>
</template>
