<template name="dashboard">

  {{setPageTitle 'Dashboard'}}
  <h1><i class="fa fa-fw fa-home"></i> Dashboard</h1>

  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">Users Online</h5>
        </div>
        <div class="panel-body">
          <ul class="list-group">

          {{#each onlineColleagues}}
            {{> colleagueData}}
          {{/each}}

        </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="colleagueData">
  <li class="list-group-item">
    <i class="fa fa-fw fa-circle text-success"></i> {{user}} {{#if last}} <br /><small>Currently viewing: <em><span class="activeUserLink">{{last}}</span></em></small>{{/if}}
  </li>
</template>
