<template name="oppsOverviewWidget">
  <div>
    <span id="#ref_oppsOverviewWidget" data-toggle="popover" title="Opportunities Overview" data-content="
    <div><ul class='list-unstyled'>
      <li>Opportunities:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>{{totalOpps}}</span></li>
      <li>Total Value:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>£{{totalOppValue}}</span></li>
      <li>Average Value:&nbsp;&nbsp;&nbsp;&nbsp;<span class='pull-right'>£{{averageOppValue}}</span></li></ul>
    </div>">
    <button class="btn btn-md"><i class="fa fa-fw fa-tasks"></i>&nbsp;Overview</button></span>
  </div>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({html : true, placement : "bottom"});
    });
  </script>
</template>
