.tutorials .modal-body {
  padding: 0;
}

.tutorials .tutorials-title {
  margin: 20px 0px 2px;
}

.tutorials .list-group-item.modal-header {
  padding: 0px 15px 5px;
}

.tutorials .tutorial-heading {
  background-color: whitesmoke;
  font-size: 0.9em;
  padding: 4px 15px;
  font-weight: 600;
}

.tutorials i {
  margin-right: 10px;
}