<template name="searchBox">
<div class="row">
  <div id="generalSearch" class="col-md-8">
    <div class="input-group">
      {{> EasySearch.Input index=index attributes=searchInputAttributes}}
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Apply Filters..." id="toggleFilters"><i class="fa fa-fw fa-filter"></i></button>
        <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="bottom" data-original-title="Reset Search" id="resetSearch"><i class="fa fa-fw fa-times"></i></button>
      </span>
    </div>
    <small><a href="" id="searchHelp">Search Help</a></small>
  </div>
  <div id="filtersSearch" class="hidden-box">
    {{> filterBox collectionName=collectionName}}
  </div>
  <div class="col-md-4">
    {{#each filtersList}}
      {{> filterTag filter=filter id=id mainCollectionName=mainCollectionName}}
    {{/each}}
  </div>
</div>
</template>

<template name="filterTag">
  <span class="removeProp" id="{{filter}}_{{id}}">{{name}} ×</span>
</template>