<!--
  locationPicker - use for viewing/editing/creating company location 
  Accepts addressData or companyData attributes
-->
<template name="locationPicker">
  <div class="{{#unless showSearchBox}}hidden{{/unless}}">
    <div class="form-group show">
      <label for="geo" class="control-label">Search for Address, City, etc.</label>
      <input type="text" id="geo" class="form-control" autocomplete="off" />
    </div>
  </div>

  <div class="{{#unless showSearchedAddress}}hidden{{/unless}}">
    <div class="row">
      <div class="col-md-5">
        <p>Address</p>
        <p class="form-address"><strong>
          {{#if address1}}{{address1}},<br>{{/if}}
          {{#if address2}}{{address2}},<br>{{/if}}
          {{#if city}}{{city}},<br>{{/if}}
          {{#if county}}{{county}}{{#if country}},{{/if}}<br>{{/if}}
          {{#if country}}{{country}}<br>{{/if}}
          {{#if postcode}}{{postcode}}<br>{{/if}}
        </strong></p>
        <p>
          <br>
          <i>Search for a <a href="#" id="newLocationSearch">different address</a>
          or <a id="manualAddressEntry" href="#">edit it manually</a></i>
        </p>
      </div>
      {{#if isDesktop}}
        <div class="col-md-7">
          {{#if showMap}}
            {{> mapEditor address=address}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="{{#unless showManualEntry}}hidden{{/unless}}">
    {{> afQuickField name="address" value=address1}}
    {{> afQuickField name="address2" value=address2}}
    {{> afQuickField name="city" value=city}}
    {{> afQuickField name="county" value=county}}
    {{> afQuickField name="postcode" value=postcode}}
    {{> afQuickField name="country" value=country}}
    {{> afQuickField name="lat" value=lat}}
    {{> afQuickField name="lng" value=lng}}
  </div>
</template>