<template name="dataWarnings">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <i class="fa fa-fw fa-exclamation-triangle text-danger"></i> {{count}} error(s) occurred whilst attempting to import the data. Please verify and try again.
        </div>

        <div class="modal-body">
          <ol class="warning-display">
            {{#each errors}}
              {{> warnItem}}
            {{/each}}
          </ol>
        </div>

      </div>
    </div>
  </div>
</template>

<template name="warnItem">
  <li>
    {{message}}
  </li>
</template>
