<template name="datamanagement">

  {{setPageTitle 'Data Management'}}
  <h1><i class="fa fa-fw fa-upload"></i> Data Management</h1>

  <div class="row">

    <div class="col-md-4">

      <div class="panel panel-primary">
        <div class="panel-heading accordion-toggle" id="CompanyDataManager">
          Company Data<span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>
        <div id="collapseCompanyDataManager" class="panel-collapse collapse">
          <div class="panel-body" id="companyDataManagement">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                  Import Companies
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" id="company-template-download-link">Download import template</a></li>
                  <li class="divider"></li>
                  <li><a href="#" id="company-data-upload-link">Import from CSV...</a></li>
                  <li class="divider"></li>
                  <li><a href="#" id="company-template-help">How does this work?</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" id='exportCompanyList' class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Export company details to an Excel document">
                  Export Companies
                </button>
                <input type="file" id="company-data-upload" style="display:none;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="panel panel-primary">
        <div class="panel-heading accordion-toggle" id="ContactDataManager">
          Contact Data<span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>
        <div id="collapseContactDataManager" class="panel-collapse collapse">
          <div class="panel-body" id="contactDataManagement">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                  Import Contacts
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" id="contact-template-download-link">Download import template</a></li>
                  <li class="divider"></li>
                  <li><a href="#" id="contact-data-upload-link">Import from CSV...</a></li>
                  <li class="divider"></li>
                  <li><a href="#" id="contact-template-help">How does this work?</a></li>
                </ul>
              </div>

              <div class="btn-group">
                <button type="button" id='exportContactList' class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Export contact details to an excel document">
                  Export Contacts
                </button>
                <input type="file" id="contact-data-upload" style="display:none;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="panel panel-primary">
        <div class="panel-heading accordion-toggle" id="OpportunityDataManager">
          Opportunity Data<span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>
        <div id="collapseOpportunityDataManager" class="panel-collapse collapse">
          <div class="panel-body" id="opportunityDataManagement">
            <div class="btn-group btn-group-justified">

              <div class="btn-group">
                <button type="button" id='exportOpportunityList' class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Export opportunity details to an excel document">
                  Export Opportunities
                </button>
                <input type="file" id="opportunity-data-upload" style="display:none;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-4">

      <div class="panel panel-primary">
        <div class="panel-heading accordion-toggle" id="ProjectDataManager">
          Project Data<span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>
        <div id="collapseProjectDataManager" class="panel-collapse collapse">
          <div class="panel-body" id="projectDataManagement">
            <div class="btn-group btn-group-justified">

              <div class="btn-group">
                <button type="button" id='exportProjectList' class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Export project details to an excel document">
                  Export Projects
                </button>
                <input type="file" id="project-data-upload" style="display:none;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="panel panel-primary">
        <div class="panel-heading accordion-toggle" id="PurchaseOrderDataManager">
          Purchase Order Data<span class="glyphicon glyphicon-chevron-down pull-right"></span>
        </div>
        <div id="collapsePurchaseOrderDataManager" class="panel-collapse collapse">
          <div class="panel-body" id="purchaseOrderDataManagement">
            <div class="btn-group btn-group-justified">

              <div class="btn-group">
                <button type="button" id='exportPurchaseOrderList' class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Export purchase order details to an excel document">
                  Export Purchase Orders
                </button>
                <input type="file" id="purchase-order-data-upload" style="display:none;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>
