<template name="importMapper">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4> {{mapType}} data mappings</h4>
        </div>

        <div class="modal-body">
          {{{requiredDataInputs}}}

          The above fields will be read from your CSV file and used to build up a list of your companies. 
          <!-- Any additional fields will be created as extended information fields against each company. -->
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary pull-right" id="confirm-mapping">Proceed with import</button>
        </div>

      </div>
    </div>
  </div>
</template>
