<template name="addNewUser">
  <div class="modal fade" id="drabbaleModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5>Add new user</h5>
        </div>

        <div class="modal-body">
          {{#autoForm schema="Schemas.User" id="addNewUserForm" type="method" meteormethod="addTenantUser"}}
            {{> afQuickField name="name" autocomplete="off"}}
            {{> afQuickField name="email" autocomplete="off"}}
            {{> afQuickField name="password" type="hidden" value="default123"}}
            {{> afQuickField name="group" type="hidden" value="1"}}
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
