<template name="changePassword">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <form>
            <input type="password" class="form-control" id="objOldPassword" placeholder="Old password...">

            <input type="password" class="form-control" id="objNewPassword" placeholder="New password..." style="margin-top:5px;">

            <input type="password" class="form-control" id="objRepPassword" placeholder="Repeat new password..." style="margin-top:5px;">
          </form>
        </div>

        <div class="modal-footer">
          <a id="btnPasswordChange" class="btn btn-success" style="margin-top:5px;">Update</a>
        </div>

      </div>
    </div>
  </div>
</template>
