<template name="opportunityListItem">
  <a class="list-group-item opportunity-list-group-item {{cssClass}}" href="{{pathFor route='opportunity' id=__originalId}}" id="list-item">
    <div class="row">
      <div class="col-md-3">
        <h4 class="list-group-item-heading">{{{oppName}}}</h4>
      </div>
      <div class="col-md-3">
        {{#if company}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-building"></i> {{company.name}}</p>
        {{/if}}
        {{#if contact}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-user"></i> {{contact.name}}</p>
        {{/if}}
        {{#if salesManager}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-user-secret"></i> {{salesManager}}</p>
        {{/if}}
      </div>
      <div class="col-md-3">
        {{#if value}}
          <p class="list-group-item-text"><i class="fa fa-fw fa-money"></i> {{decimal value}}</p>
        {{/if}}
        <p class="list-group-item-text est-close"><i class="fa fa-fw fa-calendar"></i> Est. Close: {{friendlyEstClose}}</p>
        {{#if isArchived}}
          {{#if hasBeenWon}}
            <p class="text-success">Opportunity Won</p>
          {{else}}
            <p>
              <span class="text-danger">Opportunity Lost</span>{{#if reasonLost}}: {{reasonLost}}{{/if}}
            </p>
            <p>
              <span class="text-danger">Lost at stage:</span> {{lostAtStage}}
            </p>
          {{/if}}
        {{/if}}
      </div>
      <div class="col-md-3">
        {{> tagBadges tags=tags index=index pullRight=true}}
      </div>
    </div>
  </a>
</template>
