<template name="addCustomField">
  <div class="modal" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h4>Add new extended information</h4>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="custom-field-name">Name</label>
              <input class="form-control" id="custom-field-name" placeholder="Extended information name" type="text">
            </div>

            <label>Type</label>
            <div class="row">
              <div class="col-md-4">
                <div class="radio">
                  <label>
                    <input checked id="typeText" name="cfType" type="radio">Text</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="radio">
                  <label>
                    <input id="typeCheckbox" name="cfType" type="radio">Checkbox</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="radio">
                  <label>
                    <input id="typeDate" name="cfType" type="radio">Date/Time</label>
                </div>
              </div>
            </div>

            <div class="form-group" id="text-input-area">
              <label for="custom-field-value">Text Value</label>
              <input class="form-control" id="custom-field-text-value" placeholder="Extended information value" type="text">
            </div>
            <div class="form-group" id="check-input-area">
              <label for="custom-field-value">True/False Value</label>
              <br/>
              <input id="custom-field-check-value" placeholder="Extended information value" type="checkbox"> Check this box to set the value of this extended information to true. Leave it blank for false values.
            </div>
            <div class="form-group datetimepicker" id="date-input-area">
              <label for="custom-field-date-value">Date Value</label>
              <input class="form-control" id="custom-field-date-value" placeholder="Extended information value">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" id="submit-custom-field" role="button">Create</button>
        </div>

      </div>
    </div>
  </div>
</template>
