<template name="customFieldDisplay">
  <div class="panel panel-default">
    <div class="panel-heading" id="entity-custom-fields">
      <div class="btn-group pull-right">
        <button class="btn btn-primary btn-xs" data-placement="bottom" data-toggle="tooltip" id='add-custom-field' role='button' title="Add an extended information field">
          <i class="fa fa-fw fa-plus"></i>
<!-- Add</button> -->
        </button>
        <button class="btn btn-info btn-xs" data-placement="bottom" data-toggle="tooltip" id='edit-custom-fields' role='button' title="Update the existing extended information fields">
          <i class="fa fa-fw fa-pencil"></i>
<!-- Edit</button> -->
        </button>
      </div>
      Extended Information
    </div>
    <ul class="list-group" id='custom-field-container'>
      {{#if customFields}}

        <div id="global-fields">
          {{#each customFields}}
            {{#if isGlobal}}{{> cfDisplay}}{{/if}}
          {{/each}}
        </div>
        <div id="local-fields">
          {{#each customFields}}
            {{#unless isGlobal}}{{> cfDisplay}}{{/unless}}
          {{/each}}
        </div>

      {{else}}
        <li class="list-group-item">No extended information</li>

      {{/if}}
    </ul>
  </div>
</template>

<template name="cfDisplay">
<li class="list-group-item custom-field-display-item" style="{{#if isGlobal}}background: #fafafa;{{/if}}">
  {{#unless isGlobal}}
    <div class="btn-group pull-right">
      <button class="btn btn-danger btn-xs" data-placement="bottom" data-toggle="tooltip" id='delete-custom-field' role='button' title="Delete this extended field">
        <i class="fa fa-fw fa-times"></i>
      </button>
    </div>
  {{/unless}}
  {{name}}:
  <span id="custom-field-{{trimmedName}}">{{displayValue}}</span>
  {{parentHelper ..}}
</li>
</template>

<template name="addCustomField">
<div class="modal" id="draggableModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h5>Add new custom field</h5>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="custom-field-name">Name</label>
            <input class="form-control" id="custom-field-name" placeholder="Custom field name" type="text">
          </div>

          <label>Type</label>
          <div class="row">
            <div class="col-md-4">
              <div class="radio">
                <label>
                  <input checked id="typeText" name="cfType" type="radio">Text</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="radio">
                <label>
                  <input id="typeCheckbox" name="cfType" type="radio">Checkbox</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="radio">
                <label>
                  <input id="typeDate" name="cfType" type="radio">Date/Time</label>
              </div>
            </div>
          </div>

          <div class="form-group" id="text-input-area">
            <label for="custom-field-value">Text Value</label>
            <input class="form-control" id="custom-field-text-value" placeholder="Custom field value" type="text">
          </div>
          <div class="form-group" id="check-input-area">
            <label for="custom-field-value">Boolean Value</label>
            <br/>
            <input id="custom-field-check-value" placeholder="Custom field value" type="checkbox">
            Check this box to set the value of this custom field to true. Leave it blank for false values.
          </div>
          <div class="form-group datetimepicker" id="date-input-area">
            <label for="custom-field-date-value">Date Value</label>
            <input class="form-control" id="custom-field-date-value" placeholder="Custom field value">
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" id="submit-custom-field" role="button">Create</button>
      </div>

    </div>
  </div>
</div>
</template>

<template name="updateCustomField">
<div class="modal" id="draggableModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h5>Edit extended information fields</h5>
      </div>

      <div class="modal-body">
        <div class="extinfo-scroll">
          {{#each extInfos}}
            {{> extInfo}}
          {{/each}}
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" id="submit-ext-info" role="button">Update</button>
      </div>

    </div>
  </div>
</div>
</template>

<template name="extInfo">
<div id="extInfos{{extInfoId}}DisplayItem" style="{{#if props.isGlobal}}background: #fafafa;{{/if}}padding-top:5px;">
<!-- <label for="extInfos{{extInfoId}}Information">{{name}}</label> -->
  <div id="extInfos{{extInfoId}}Information">
    <div class="row">

      <div class="col-md-3 modMyPosition">
        {{name}}
      </div>

      {{#unless props.isGlobal}}
<!-- <div class="col-md-1 modMyPosition">Type:
        </div> -->

        <div class="col-md-2 modMyPosition">
          <select id="extInfosTypeOptions">
            <option value="text">Text</option>
            <option value="checkbox" type="hidden">Checkbox</option>
            <option value="date" type="hidden">Date/Time</option>
          </select>
        </div>
      {{/unless}}

      <div class="{{#if props.isGlobal}}col-md-8{{else}}col-md-6{{/if}}">
        <div class="form-group" id="extInfos{{extInfoId}}TextInputArea">
          <input class="form-control" id="extInfos{{extInfoId}}TextValue" placeholder="Enter value" type="text">
        </div>

        <div class="form-group" id="extInfos{{extInfoId}}BooleanInputArea">
          <input class="form-control" id="extInfos{{extInfoId}}BooleanValue" style="height:20px;width:20px;margin-top:7px;" type="checkbox">
        </div>

        <div class="form-group datetimepicker" id="extInfos{{extInfoId}}DateInputArea">
          <input class="form-control" id="extInfos{{extInfoId}}DateValue" placeholder="Enter date" type="text">
        </div>

      </div>

    </div>
  </div>
</div>
</template>
