<template name="customFieldDisplay">
  <div class="panel panel-default">
    <div class="panel-heading" id="entity-custom-fields">
      <div class="btn-group pull-right">
        <button class="btn btn-primary btn-xs" data-placement="bottom" data-toggle="tooltip" id='add-custom-field' role='button' title="Add an extended information field">
          <i class="fa fa-fw fa-plus"></i> Add
          <!-- Add</button> -->
        </button>
        <button class="btn btn-info btn-xs" data-placement="bottom" data-toggle="tooltip" id='edit-custom-fields' role='button' title="Update the existing extended information fields">
          <i class="fa fa-fw fa-pencil"></i> Edit
          <!-- Edit</button> -->
        </button>
      </div>
      Extended Information
    </div>
    <ul class="list-group" id='custom-field-container'>
      {{#if customFields}}

      <div id="global-fields">
        {{#each customFields}} {{#if isGlobal}}{{> cfDisplay}}{{/if}} {{/each}}
      </div>
      <div id="local-fields">
        {{#each customFields}} {{#unless isGlobal}}{{> cfDisplay}}{{/unless}} {{/each}}
      </div>

      {{else}}
      <li class="list-group-item">No extended information</li>

      {{/if}}
    </ul>
  </div>
</template>
