<template name="tagManagementModal">
  <div class="modal" id="draggableModal">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
            <h4>Manage search result tags</h4>
          </div>

          <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <input type="text" class="form-control" placeholder="...add new tags here..." id="tag-input">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="list-group" id="target-list">
                {{#each currentResults}}
                  <li class="list-group-item">  
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      {{name}} <span class="pull-right">{{> tagBadges tags=tags index=index pullRight=true}}</span>
                      </div>
                    </div>
                  </li>
                {{else}}
                  <li class="list-group-item">No records found.</li>
                {{/each}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>