<template name="placeholder">
  {{setPageTitle 'Page Not Found'}}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 id="pnfHeader">Whoops!</h1>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div id="pnfContent">
        <h3>It seems the page that you were looking for doesn't exist. If this isn't expected, you can let us know what you were trying to do via the <a href="#" id="feedback-link">Give Feedback</a> link in the <i class="fa fa-fw fa-user"></i>User menu.</h3>
      </div>
    </div>
  </div>
</template>
