<!-- This input type take the following parameters:
    - name: the name of the field. Note that this will also be used for the input id
    - index: the easySearch index that has been defined in collection. This needs to return two fields
             * _id: the mongo _id of the document
             *name: a formated name string that will be displayed
    - value (optional): the default value (_id)
    - parent (optional): the id of the input on which this field depends.
                         e.g. to restrict a list of contact to a company, set parent=companyId,
                         where companyId is the company input field
    - filter (optional, required with parent): the easySearch filter to use with parent.
                                               e.g. following the previous example, create a props 'filterCompanyId'
                                               in the easySearch index that will then be set to the parent value
                                               NOTE that the restriction rule must be explicitely defined in 'query'
                                               in the easySearch index (set to $eq, $ne...)
    - readonly (bool, optional): disable the input, set it to the 'value'
    - allowCreate (bool, optional): whether a new field can be inserted or not. If true, the new field will be inserted
                                    with an _id=0;
    - excludes (CSV, optional): excludes entities from the options list based on their _id field values
 -->

<template name="esSelectize">
{{> afQuickField name=name id=name label=label type="selectize" selectize=initialize placeholder="Select from the list or type here to search..."}}
</template>
