a#bulkActionDropdown, a#bulkActionDropdown:hover {
  text-decoration: none;
}

a#bulkActionDropdown > .text-link {
  text-decoration: underline;
}

a#bulkActionDropdown > .caret {
  text-decoration: none;
}