<template name="updateActivityModal">
  <div class="modal fade" id="draggableModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>Edit activity</h4>
        </div>

        <div class="modal-body">
          {{#autoForm collection="Activities" id="updateActivityForm" type="update" doc=this}}
            {{> afQuickField name="type" options="allowed"}}
            {{> afQuickField name="activityTimestamp" type="bootstrap-datetimepicker"}}
            {{#if IsIEAnd10OrGreater}}
              {{> afQuickField name="notes"}}
            {{else}}
              {{> afQuickField name="notes" type="medium" class="form-control medium-editor"}}
            {{/if}}
            <button type="submit" id="update" class="btn btn-primary">Update</button>
          {{/autoForm}}
        </div>

      </div>
    </div>
  </div>
</template>
