<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <link href="/favicon.png" rel="icon" sizes="16x16 32x32">
    <script src="/vendor/jszip.min.js"></script>
    <script src="/vendor/chartjs/Chart.min.js"></script>
    <script src="/vendor/chartjs/Chart.StackedBar.js"></script>
  </head>
  <template name="appLayout">
  {{#if maintenanceMode}} {{> maintenance}} {{else}}
  <div class="container-fluid">
    <div id="id-view-content" class="{{hasMenuClass}}">
      {{> nav}} {{#if currentUser}} {{#if subsReady}} {{> Template.dynamic template=main}} {{else}} {{> loading}} {{/if}} {{else}} {{#if loggingIn}} {{> loading}} {{else}} {{>login}} {{/if}} {{/if}} {{> footer}}
    </div>
  </div>
  {{/if}}
  </template>
