<template name="opportunitiesAdmin">
  <div class="settings-section">
    <h4>Opportunity Stages  <button class="btn pull-right btn-primary btn-xs" id="btnAddStage"><i class="fa fa-fw fa-plus"></i> Add stage</button></h4>
    <p>These are the stages through which your opportunities will progress. <br>Configure them below to match your sales pipeline.</p>

    <div class="list-group">
      {{#if hasStages}}{{#each stages}} 
        {{> opportunityAdminStage}} 
      {{/each}}{{/if}}
    </div>
  </div>
</template>

<template name="opportunityAdminStage">
  <div class="list-group-item opportunity-stage">
    <div class="pull-right handle">
      <button class="btn btn-info btn-xs" id="btnEdit">Edit</button>
      <button class="btn btn-danger btn-xs" id="btnDelete">Delete</button>
      <span>
        <i class="fa fa-fw fa-arrow-up {{#if isFirstStage}}orderDisabled {{else}}orderEnabled orderUp{{/if}}" ></i>
      </span>
      <span>
        <i class="fa fa-fw fa-arrow-down {{#if isLastStage}}orderDisabled {{else}}orderEnabled orderDown{{/if}}" ></i>  
      </span>
    </div>
    {{title}}
  </div>
</template>
