<template name="opportunitiesAdmin">
  <div class="settings-section">
    <h4>Opportunity Stages  <button class="btn pull-right btn-primary btn-xs" id="btnAddStage"><i class="fa fa-fw fa-plus"></i> Add stage</button></h4>
    <p>These are the stages through which your opportunities will progress. Configure them below to match your sales pipeline.</p>
    <p>Click on a stage to edit it, or drag the handle <small><i class="fa fa-bars"></i></small> to reorder.</p>
    <ul class="list-group" id="opp-stages">
      {{#if hasStages}}{{#each stages}} 
        {{> opportunityAdminStage}} 
      {{/each}}{{/if}}
    </ul>
  </div>
</template>